#{config.product_name} الحساب مرتبط بتطبيق طرف ثالث

<div>مرحباً #{user.firstname},</div>
<br>
<div>يبدو أنك قمت بربط حسابك <b>مع تطبيق طرف ثالث</b> "#{t(provider)}".</div>
<br>
<div>إذا لم تكن أنت ، فيرجى إزالة الحساب المرتبط من ملف التعريف الخاص بك وتغيير كلمة مرور تطبيق الجهة الخارجية. ربما حصل شخص ما على وصول غير مصرح به إلى حسابك على خدمة الجهة الخارجية.</div>
<br>
<div>فريق #{config.product_name} </div>
