#{config.product_name} Профил, свързан с приложение на трета страна

<div>Здравейте #{user.firstname},</div>
<br>
<div>Изглежда, че сте свързали Вашия профил. <b>с приложение на трета страна</b> "#{t(provider)}".</div>
<br>
<div>Ако това не сте били вие, моля, премахнете свързания акаунт от Вашия профил и променете паролата за приложението . Някой може да е получил неоторизиран достъп до Вашия акаунт в услуга на трета страна.</div>
<br>
<div>Ваш#{config.product_name} Отдел</div>
