#{config.product_name} účet propojen s aplikací třetí strany

<div>Dobrý den, #{user.firstname},</div>
<br>
<div>Zdá se, že jste svůj účet propojili <b>s aplikací třetí strany</b> "#{t(provider)}".</div>
<br>
<div>Pokud jste to nebyli Vy, odeberte propojený účet z Vašeho profilu a změňte své heslo v aplikaci třetí strany. Někdo zřejmě mohl získat k Vašemu účtu v aplikaci třetí strany neoprávněný přístup.</div>
<br>
<div>S pozdravem,<br>
Tým aplikace #{config.product_name}</div>
