#{config.product_name} konto tilknyttet en tredjepartsapplikation

<div>Hej #{user.firstname},</div>
<br>
<div>Det ser ud til, at du har tilknyttet din konto <b>med en tredjepartsapplikation</b> "#{t(provider)}".</div>
<br>
<div>Hvis det ikke var dig, bedes du fjerne den tilknyttede konto fra din profil og ændre din adgangskode til tredjepartsapplikationen. Nogen kan have fået uautoriseret adgang til din konto på tredjepartstjenesten.</div>
<br>
<div>Dit #{config.product_name} Team</div>
