#{config.product_name}-Konto verknüpft mit einer Drittanbieter-Anwendung

<div>Hallo #{user.fullname},</div>
<br>
<div>es sieht aus, als ob Sie ihr Konto <b>mit einer Drittanbieter-Anwendung</b> "#{t(provider)}" verknüpft haben.</div>
<br>
<div>Wenn dies nicht Sie waren, dann entfernen Sie bitte das verknüpfte Konto aus Ihrem Profil und ändern Ihr Passwort in der Drittanbieter-Anwendung. Jemand könnte unberechtigten Zugriff auf Ihr Konto in der Drittanbieter-Anwendung bekommen haben.</div>
<br>
<div>Ihr #{config.product_name}-Team</div>
