#{config.product_name} λογαριασμός συνδεδεμένος με εφαρμογή τρίτου μέρους

<div>Γεια σας #{user.firstname},</div>
<br>
<div>Μοιάζει να έχετε συνδέσει το λογαριασμό σας <b>με μια εφαρμογή τρίτου μέρους</b> "#{t(provider)}".</div>
<br>
<div>Αν δεν ήσασταν εσείς, παρακαλούμε αφαιρέστε τον συνδεδεμένο λογαριασμό από το προφίλ σας και αλλάξτε τον κωδικό πρόσβασης της εφαρμογής τρίτου μέρους. Κάποιος μπορεί να έχει αποκτήσει μη εξουσιοδοτημένη πρόσβαση στο λογαριασμό σας, εκ μέρους τρίτων.</div>
<br>
<div>Η ομάδα σας #{config.product_name}</div>
