Cuenta de #{config.product_name} conectada con una aplicación de terceros

<div>Hola, #{user.firstname}:</div>
<br>
<div>Parece que ha conectado su cuenta <b>con una aplicación de terceros</b>: "#{t(provider)}".</div>
<br>
<div>Si no lo ha hecho usted, elimine la cuenta conectada de su perfil y cambie la contraseña de su aplicación de terceros. Es posible que alguien haya conseguido acceder a su aplicación de terceros sin su permiso.</div>
<br>
<div>El equipo de #{config.product_name}</div>
