#{config.product_name} حساب مرتبط با یک برنامه شخص ثالث

<div>سلام #{user.firstname},</div>
<br>
<div>به نظر می رسد حساب خود را پیوند داده اید <b>با یک برنامه شخص ثالث</b> "#{t(provider)}".</div>
<br>
<div>اگر این شما نبودید، لطفاً حساب پیوند داده شده را از نمایه خود حذف کنید و رمز عبور برنامه شخص ثالث خود را تغییر دهید. ممکن است شخصی در سرویس شخص ثالث به حساب شما دسترسی غیرمجاز داشته باشد.</div>
<br>
<div>Your #{config.product_name} Team</div>
