Compte #{config.product_name} lié à une application tierce

<div>Bonjour #{user.firstname},</div>
<br>
<div>Il semble que vous ayez associé votre compte <b>à une application tierce</b> "#{t(provider)}".</div>
<br>
<div>Si ce n'était pas vous, veuillez supprimer le compte lié de votre profil et modifier le mot de passe de votre application tierce. Quelqu'un a peut-être obtenu un accès non autorisé à votre compte sur le service tiers.</div>
<br>
<div>L'équipe #{config.product_name}</div>
