#{config.product_name} račun povezan sa aplikacijom treće strane

<div>Bok #{user.firstname},</div>
<br>
<div>Izgleda da ste povezali svoj račun <b> sa aplikacijom treće strane </b> "#{t(provider)}".</div>
<br>
<div>Ukoliko ovo niste bili Vi, molimo, uklonite povezani račun iz svog profila i promijenite lozinku za već spomenutu aplikaciju. Postoji osnovana mogućnost, da je netko dobio neovlašteni pristup Vašem profilu u aplikaciji treće strane.</div>
<br>
<div>Vaš #{config.product_name} tim</div>
