#{config.product_name} fiók egy harmadik féltől származó alkalmazással összekapcsolva

<div>Üdvözöljük #{user.firstname},</div>
<br>
<div>Úgy tűnik, hogy Ön a fiókját <b>egy harmadik féltől származó alkalmazással</b> kötötte össze. "#{t(provider)}".</div>
<br>
<div>Amennyiben ez nem Ön volt, kérjük, távolítsa el a kapcsolódó fiókot a profiljából, és változtassa meg a harmadik féltől származó alkalmazás jelszavát. Valaki jogosulatlanul hozzáférhetett a fiókjához a harmadik fél szolgáltatásában.</div>
<br>
<div>Az Ön #{config.product_name} csapata</div>
