#{config.product_name} reikningur tengdur við hugbúnað þriðja aðila

<div>Hi #{user.firstname},</div>
<br>
<div>Það lítur út fyrir að þú hafir tengt reikninginn þinn <b>við hugbúnað þriðja aðila</b> "#{t(provider)}".</div>
<br>
<div>Ef þetta varst ekki þú, vinsamlegt fjarlægðu tengda reikninginn úr uppsetningunni þinni og breytti lykilorði þínu í viðkomandi hugbúnaði. Einhver gæti hafa öðlast óleyfilegan aðgang að reikningi þínum hjá þriðja aðilanum.</div>
<br>
<div>Your #{config.product_name} Team</div>
