Account #{config.product_name} collegato con un'applicazione di terze parti

<div>Ciao #{user.firstname},</div>
<br>
<div>sembra tu abbia collegato il tuo account <b>con un'applicazione di terze parti</b> "#{t(provider)}".</div>
<br>
<div>Se non sei stato tu, per favore rimuovi l'account collegato dal tuo profilo e cambia la tua password dell'applicazione coinvolta. Qualcuno potrebbe aver ottenuto accesso non autorizzato al tuo account su quel servizio.</div>
<br>
<div>Il team di #{config.product_name}</div>
