타사 애플리케이션과 연결된 #{config.product_name} 계정

<div>Hi #{user.firstname},</div>
<br>
<div>타사 애플리케이션에 계정을 <b>"#{t(provider)}".</div>연동한 것 같습니다.
<br>
<div>본인이 아닌 경우 프로필에서 연결된 계정을 삭제하고 타사 애플리케이션 비밀번호를 변경해 주세요. 누군가 타사 서비스에서 귀하의 계정에 무단으로 액세스했을 수 있습니다.</div>
<br>
<div>귀하의 #{config.product_name} 팀</div>
