#{config.product_name} paskyra susieta su trečios šalies aplikacija

<div>Sveiki #{user.firstname},</div>
<br>
<div>Jūsų paskyra buvo susieta <b>su trečios šalies aplikacija</b> „#{t(provider)}“.</div>
<br>
<div>Jei jūs to nedarėte, ištrinkite susietą paskyra iš savo profilio. Taip pat rekomenduotime pasikeisti savo trečios šalies aplikacijos slaptažodį. Kažkas galbūt turi neautorizuotą prieigą prie jos.</div>
<br>
<div>Jūsų #{config.product_name} komanda</div>
