#{config.product_name}-konto koblet sammen med en tredjepartsapplikasjon

<div>Hei #{user.firstname},</div>
<br>
<div>Det ser ut til at du har koblet sammen kontoen din <b>med en tredjepartsapplikasjon</b> "#{t(provider)}".</div>
<br>
<div>Dersom du ikke kjenner til dette, bør du fjerne den tilkoblede kontoen fra profilen din og endre passordet ditt i tredjepartsapplikasjonen. Noen kan ha fått tilgang til kontoen din hos tredjepartsleverandøren.</div>
<br>
<div>Med vennlig hilsen #{config.product_name}-teamet</div>
