#{config.product_name} account gekoppeld aan een third-party application

<div>Hallo #{user.firstname},</div>
<br>
<div>Het lijkt erop dat je account <b>gekoppeld is aan een third-party application</b> "#{t(provider)}".</div>
<br>
<div>Als jij dit niet was, verwijder dan het gekoppelde account uit je profiel en wijzig het wachtwoord van je externe applicatie. Iemand heeft mogelijk ongeoorloofde toegang verkregen tot je account op de service van derden.</div>
<br>
<div>Het #{config.product_name}-team</div>
