Konto #{config.product_name} połączone z aplikacją innej firmy

<div>Cześć #{user.firstname},</div>
<br>
<div>Wygląda na to, że Twoje konto zostało połączone <b>z aplikacją innej firmy</b> „#{provider}”.</div>
<br>
<div>Jeśli to nie byłeś Ty, usuń powiązane konto ze swojego profilu i zmień hasło aplikacji innej firmy. Ktoś mógł uzyskać nieautoryzowany dostęp do Twojego konta w usłudze innej firmy.</div>
<br>
<div>Twój zespół #{config.product_name}</div>
