#{config.product_name} conta vinculada a um aplicativo externo

<div>Hi #{user.firstname},</div>
<br>
<div>Parece que você vinculou sua conta <b>a uma aplicativo externo</b> "#{t(provider)}".</div>
<br>
<div>Se não foi você, por favor, remova a conta vinculada do seu perfil e modifique a senha do aplicativo externo. Alguém pode ter acessado de forma não autorizada sua conta no serviço externo.</div>
<br>
<div>Seu Time #{config.product_name}</div>
