Conta #{config.product_name} ligada a aplicação de terceiros

<div>Olá #{user.firstname},</div>
<br>
<div>Parece que ligou a sua conta com uma <b>aplicação de terceiros</b> "#{t(provider)}".</div>
<br>
<div>Se não foi você, por favor remova a conta do seu perfil e altere a sua password na aplicação de terceiros. Alguém poderá ter tido acesso não autorizado à sua conta na aplicação de terceiros.</div>
<br>
<div>Equipa #{config.product_name}</div>
