Contul #{config.product_name} a fost legat de o aplicație terță

<div>Salut #{user.firstname},</div>.
<br>
<div>Se pare că ți-ai legat contul <b>cu o aplicație terță</b> „#{t(provider)}”.</div>
<br>
<div>Dacă nu ai fost tu, te rugăm să elimini contul legat din profilul tău și să schimbi parola aplicației terțe. Este posibil ca cineva să fi obținut acces neautorizat la contul tău pe serviciul terț.</div> </div>.
<br>
<div>Echipa #{config.product_name}</div>.
