риложением третьей стороны
<div>Привет, #{user.firstname},</div>
<br>
<div>Похоже, что вы связали свой аккаунт <b>с приложением третьей стороны</b> "#{t(provider)}".</div>
<br>
<div>Если это были не вы, пожалуйста, удалите связанный аккаунт из своего профиля и измените пароль для приложения третьей стороны. Кто-то мог получить несанкционированный доступ к вашему аккаунту в сервисе третьей стороны.</div>
<br>
<div>Ваша команда #{config.product_name}</div>
