Аккаунт #{config.product_name} теперь связан со сторонним приложением

<div>Привет, #{user.firstname},</div>
<br>
<div>Похоже, что Вы связали свой аккаунт <b>со сторонним приложением</b> "#{t(provider)}".</div>
<br>
<div>Если это были не Вы, пожалуйста, удалите связанный аккаунт из своего профиля и измените пароль для стороннего приложения. Кто-то мог получить несанкционированный доступ к Вашему аккаунту в стороннем приложении.</div>
<br>
<div>Ваша команда #{config.product_name}</div>
