Учётная запись #{config.product_name} теперь связана со сторонним приложением

<div>Здравствуйте, #{user.firstname},</div>
<br>
<div>Похоже, что Вы связали свою учётную запись <b>со сторонним приложением</b> "#{t(provider)}".</div>
<br>
<div>Если это были не Вы, пожалуйста, удалите связанный аккаунт из своего профиля и измените пароль для стороннего приложения. Кто-то мог получить несанкционированный доступ к Вашей учётной записи в стороннем приложении.</div>
<br>
<div>Ваша команда #{config.product_name}</div>
