#{config.product_name} účet prepojený s aplikáciou tretej strany

<div>Dobrý deň, #{user.firstname},</div>
<br>
<div>Zdá sa, že ste svoj účet prepojili <b>s aplikáciou tretej strany</b> "#{t(provider)}".</div>
<br>
<div>Ak ste to nebyli Vy, odeberte prepojený účet z Vášho profilu a zmeňte si heslo v aplikácii tretej strany. Niekto mohol získať neoprávnený prístup k Vášmu účtu v aplikácii tretej strany.</div>
<br>
<div>Tím #{config.product_name}</div>
