#{config.product_name} nalog povezan sa aplikacijom trećeg lica

<div>Zdravo #{user.firstname},</div>
<br>
<div>Izgleda da ste povezali vaš nalog <b>sa aplikacijom trećeg lica</b> „#{t(provider)}”.</div>
<br>
<div>Ukoliko ovo niste bili vi, molimo uklonite povezani nalog iz vašeg profila i promenite vašu lozinku u aplikaciji trećeg lica. Postoji mogućnost da je neko neovlašćeno pristupio vašem nalogu na servisu trećeg lica.</div>
<br>
<div>Vaš #{config.product_name} tim</div>
