#{config.product_name} налог повезан са апликацијом трећег лица

<div>Здраво #{user.firstname},</div>
<br>
<div>Изгледа да сте повезали ваш налог <b>са апликацијом трећег лица</b> „#{t(provider)}”.</div>
<br>
<div>Уколико ово нисте били ви, молимо уклоните повезани налог из вашег профила и промените вашу лозинку у апликацији трећег лица. Постоји могућност да је неко неовлашћено приступио вашем налогу на сервису трећег лица.</div>
<br>
<div>Ваш #{config.product_name} тим</div>
