#{config.product_name} konto kopplad med tredje-partsapplikation

<div>Hej #{user.firstname},</div>
<br>
<div>Det verkar som du har kopplat ditt konto <b>med en tredje-partsapplikation</b> "#{t(provider)}".</div>
<br>
<div>Om det inte var du som gjorde detta, ta bort det kopplade kontot från din profil och ändra lösenordet till tredje-partsapplikationen. Någon kan ha fått otillåten tillgång till ditt konto på tredje-partstjänsten.</div>
<br>
<div>Your #{config.product_name} Team</div>
