#{config.product_name} account linked with a third-party application

<div>Hi #{user.firstname},</div>
<br>
<div>It looks like you linked your account <b>with a third-party application</b> "#{t(provider)}".</div>
<br>
<div>If this wasn't you, please remove the linked account from your profile and change your third-party application password. Somebody might have gained unauthorized access to your account on the third-party service.</div>
<br>
<div>Your #{config.product_name} Team</div>
