#{config.product_name} hesabı üçüncü taraf bir uygulama ile bağlı

<div>Merhaba #{user.firstname},</div>
<br>
<div>Görünüşe göre hesabınızı <b>üçüncü taraf bir uygulama ile bağlamışsınız</b> "#{t(provider)}".</div>
<br>
<div>Bu siz değilseniz, lütfen bağlantılı hesabı profilinizden kaldırın ve üçüncü taraf uygulama şifrenizi değiştirin. Birisi üçüncü taraf hizmetindeki hesabınıza yetkisiz erişim sağlamış olabilir.</div>
<br>
<div>#{config.product_name} Ekibiniz</div>
