#{config.product_name} 账户已与第三方应用程序关联

<div>你好，#{user.firstname}，</div>
<br>
<div>看来你已经将你的账户 <b>与第三方应用程序</b> "#{t(provider)}" 关联。</div>
<br>
<div>如果这不是你的操作，请从你的个人资料中移除关联账户，并更改你在第三方应用的密码。可能有人未经授权访问了你在第三方服务上的账户。</div>
<br>
<div>你的 #{config.product_name} 团队</div>
