Eskalovaný ticket (#{ticket.title})

<div>Dobrý den, #{recipient.firstname},</div>
<br>
<div>ticket (#{ticket.title}) zákazníka "<b>#{ticket.customer.longname}</b>" eskaloval "#{ticket.escalation_at}"!</div>
<br>
<% if @objects[:article] %>
  <div>
  Informace:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Zobrazit v aplikaci #{config.product_name}</a>
</div>
