工单 (#{ticket.title})已被升级

<div>你好#{recipient.firstname}，</div>
<br>
<div>“<b>#{ticket.customer.longname}</b>”中的工单 (#{ticket.title}) 自“#{ticket.escalation_at}”起已被升级！</div>
<br>
<% if @objects[:文章] %>
  <div>
  信息：
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">在 #{config.product_name} 中查看内容</a>
</div>
