Ticket će eskalirati (#{ticket.title})

<div>Bok #{recipient.firstname},</div>
<br>
<div>ticket (#{ticket.title}) od „<b>#{ticket.customer.longname}</b>” će eskalirati u „#{ticket.escalation_at}”!</div>
<br>
<% if @objects[:article] %>
  <div>
  Information:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Pogledaj u #{config.product_name}</a>
</div>
