Il ticket andrà in escalation (#{ticket.title})

<div>Buongiorno #{recipient.firstname},</div>
<br>
<div>Il ticket (#{ticket.title}) di "<b>#{ticket.customer.longname}</b>" andrà in escalation il "#{ticket.escalation_at}"!</div>
<br>
<% if @objects[:article] %>
  <div>
  Informazioni:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Visualizza su #{config.product_name}</a>
</div>
