Zgłoszenie (#{ticket.title}) zostanie eskalowane

<div>Witaj #{recipient.firstname},</div>
<br>
<div>Zgłoszenie (#{ticket.title}) od "<b>#{ticket.customer.longname}</b>" zostanie eskalowane "#{ticket.escalation_at}"!</div>
<br>
<% if @objects[:article] %>
  <div>
  #{t('Information')}:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">#{t('Zobacz w Zammad')}</a>
</div>
