O Chamado vai ser escalado (#{ticket.title})


<div>Oi #{recipient.firstname},</div>
<br>
<div>Um chamado (#{ticket.title}) de "<b>#{ticket.customer.longname}</b>" vai ser escalado em "#{ticket.escalation_at}"!</div>
<br>
<% if @objects[:article] %>
  <div>
  #{t('Information')}:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">#{t('Veja mais informações no Zammad')}</a>
</div>
