O Ticket (#{ticket.title}) será escalado.

<div>Olá #{recipient.firstname},</div>
<br>
<div>O ticket (#{ticket.title}) de "<b>#{ticket.customer.longname}</b>" será escalado às"#{ticket.escalation_at}"!</div>
<br>
<% if @objects[:article] %>
  <div>
  Information:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Veja isso aqui #{config.product_name}</a>
</div>
