Заявка (#{ticket.title}) пройдет эскалацию

<div>Здравствуйте, #{recipient.firstname}.</div>
<br>
<div>Заявка (#{ticket.title}) от "<b>#{ticket.customer.longname}</b>" пройдет эскалацию с "#{ticket.escalation_at}"!</div>
<br>
<% if @objects[:article] %>
  <div>
  Информация:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Посмотреть это в #{config.product_name}</a>
</div>
