[Unit]
Description=Zammad Background Worker
After=syslog.target
After=network.target
After=zammad.service
Requires=zammad.service

[Service]
EnvironmentFile=/etc/zammad/zammad.env
User=zammad
Group=zammad
Restart=always

WorkingDirectory=/opt/zammad

ExecStart=/bin/bash -l -c "${BUNDLE_BINARY} exec script/background-worker.rb start"

[Install]
WantedBy=zammad.service
