[Unit]
Description=Zammad scheduler
After=syslog.target
After=network.target
After=zammad.service
Requires=zammad.service

[Service]
Type=simple
User=zammad
Group=zammad
Restart=always

WorkingDirectory=/opt/zammad

Environment=RAILS_ENV=production
Environment=BUNDLE_BINARY=bundle

ExecStart=/bin/bash -l -c "${BUNDLE_BINARY} exec script/scheduler.rb start -t"

[Install]
WantedBy=zammad.service
