[Unit]
Description=Zammad websocket
After=syslog.target
After=network.target
After=zammad.service
Requires=zammad.service

[Service]
EnvironmentFile=/etc/zammad/zammad.env
User=${ZAMMAD_USER:-zammad}
Group=${ZAMMAD_GROUP:-zammad}
Restart=always

WorkingDirectory=${ZAMMAD_WORKING_DIRECTORY:-/opt/zammad}

ExecStart=/bin/bash -l -c "${BUNDLE_BINARY:-bundle} exec script/websocket-server.rb -b ${ZAMMAD_BIND_IP:-127.0.0.1} -p ${ZAMMAD_WEBSOCKET_PORT:-6042} start"

[Install]
WantedBy=zammad.service
