[Unit]
Description=Zammad websocket
After=syslog.target
After=network.target
After=zammad.service
Requires=zammad.service

[Service]
Type=simple
User=zammad
Group=zammad
Restart=always

WorkingDirectory=/opt/zammad

Environment=RAILS_ENV=production
Environment=BUNDLE_BINARY=bundle
Environment=ZAMMAD_BIND_IP=127.0.0.1
Environment=ZAMMAD_WEBSOCKET_PORT=6042

ExecStart=/bin/bash -l -c "${BUNDLE_BINARY} exec script/websocket-server.rb -b ${ZAMMAD_BIND_IP} -p ${ZAMMAD_WEBSOCKET_PORT} start"

[Install]
WantedBy=zammad.service
