[Unit]
Description=Zammad Scheduler
After=network-online.target

[Service]
Type=simple
User=zammad
Group=zammad
WorkingDirectory=/srv/http/zammad/

ExecStart=/bin/bash -l -c "RAILS_ENV=production /srv/http/zammad/.rbenv/shims/bundle exec script/scheduler.rb run"

ExecStop=/bin/bash -l -c "RAILS_ENV=production /srv/http/zammad/.rbenv/shims/bundle exec script/scheduler.rb stop"

TimeoutSec=300

[Install]
WantedBy=multi-user.target
