Aktualizován ticket (#{ticket.title})

<div>Dobrý den, #{recipient.firstname},</div>
<br>
<div>
Ticket (#{ticket.title}) byl aktualizován uživatelem "<b>#{current_user.longname}</b>".
</div>
<br>
<% if @objects[:changes].present? %>
  <div>
  Změny:
  <% @objects[:changes].each do |key, value| %>
    <%= t key %>: <%= h value[0] %> -&gt; <%= h value[1] %><br>
  <% end %>
  </div>
<% end %>
<br>
<% if @objects[:article] %>
  <div>
  Informace:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}<% if @objects[:article] %>/#{article.id}<% end %>" target="zammad_app">Zobrazit v aplikaci #{config.product_name}</a>
</div>
