Updated Ticket (#{ticket.title})

<div>Hi #{recipient.firstname},</div>
<br>
<div>
Ticket (#{ticket.title}) has been updated by "<b>#{current_user.longname}</b>".
</div>
<br>
<% if @objects[:changes].present? %>
  <div>
  #{t('Changes')}:<br>
  <% @objects[:changes].each do |key, value| %>
    <%= t key %>: <%= h value[0] %> -&gt; <%= h value[1] %><br>
  <% end %>
  </div>
<% end %>
<br>
<% if @objects[:article] %>
  <div>
  #{t('Information')}:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}<% if @objects[:article] %>/#{article.id}<% end %>" target="zammad_app">#{t('View this in Zammad')}</a>
</div>
