Ticket atualizado (#{ticket.title})

<div>Olá, #{recipient.firstname},</div>
<br>
<div>
O ticket (#{ticket.title}) foi atualizado por "<b>#{current_user.longname}</b>".
</div>
<br>
<% if @objects[:changes].present? %>
  <div>
  Mudanças:<br>
  <% @objects[:changes].each do |key, value| %>
    <%= t key %>: <%= h value[0] %> -&gt; <%= h value[1] %><br>
  <% end %>
  </div>
<% end %>
<br>
<% if @objects[:article] %>
  <div>
Detalhes:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}<% if @objects[:article] %>/#{article.id} <% end %>" target="zammad_app">Veja isso em #{config.product_name}</a>
</div>
