Actualizare tichet (#{ticket.title})

<div>Bună #{recipient.firstname},</div>
<br>
<div>
Tichetul (#{ticket.title}) a fost actualizat de "<b>#{current_user.longname}</b>".
</div>
<br>
<% if @objects[:changes].present? %>
  <div>
  Modificări:<br>
  <% @objects[:changes].each do |key, value| %>
    <%= t key %>: <%= h value[0] %> -&gt; <%= h value[1] %><br>
  <% end %>
  </div>
<% end %>
<br>
<% if @objects[:article] %>
  <div>
  Informații:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}<% if @objects[:article] %>/#{article.id}<% end %>" target="zammad_app">Vezi asta în #{config.product_name}</a>
</div>
