app/assets/javascripts/app/lib/animations/** linguist-vendored
app/assets/javascripts/app/lib/base/ba-linkify.js linguist-vendored
app/assets/javascripts/app/lib/base/bootstrap-tokenfield.js linguist-vendored
app/assets/javascripts/app/lib/base/clipboard.js linguist-vendored
app/assets/javascripts/app/lib/base/cropper.js linguist-vendored
app/assets/javascripts/app/lib/base/desktop-notify.js linguist-vendored
app/assets/javascripts/app/lib/base/email-addresses.js linguist-vendored
app/assets/javascripts/app/lib/base/exif.js linguist-vendored
app/assets/javascripts/app/lib/base/highlight.pack.js linguist-vendored
app/assets/javascripts/app/lib/base/html5Upload.js linguist-vendored
app/assets/javascripts/app/lib/base/jquery-scrollto.js linguist-vendored
app/assets/javascripts/app/lib/base/jquery.enableObjectResizingShim.js linguist-vendored
app/assets/javascripts/app/lib/base/jquery.fineuploader-3.0.js linguist-vendored
app/assets/javascripts/app/lib/base/jquery.hotkeys.js linguist-vendored
app/assets/javascripts/app/lib/base/jquery.noty.js linguist-vendored
app/assets/javascripts/app/lib/base/jquery.visible.js linguist-vendored
app/assets/javascripts/app/lib/base/marked.js linguist-vendored
app/assets/javascripts/app/lib/base/modernizr.custom.92138.js linguist-vendored
app/assets/javascripts/app/lib/base/seedrandom.js linguist-vendored
app/assets/javascripts/app/lib/base/tinycolor.js linguist-vendored
app/assets/javascripts/app/lib/base/ua-parser.js linguist-vendored
app/assets/javascripts/app/lib/base/word_filter.js linguist-vendored
app/assets/javascripts/app/lib/bootstrap/** linguist-vendored
app/assets/javascripts/app/lib/core/** linguist-vendored
app/assets/javascripts/app/lib/flot/** linguist-vendored
app/assets/javascripts/app/lib/rangy/** linguist-vendored
app/assets/javascripts/app/lib/spine/** linguist-vendored
public/assets/chat/node_modules/** linguist-vendored
public/assets/chat/jquery-3.6.0.min.js linguist-vendored
public/assets/chat/purify.min.js linguist-vendored
public/assets/tests/qunit-2.17.2.css linguist-vendored
public/assets/tests/qunit-2.17.2.js linguist-vendored
public/assets/tests/sinon-9.2.4.js linguist-vendored
public/assets/tests/syn-0.15.0.js linguist-vendored
app/assets/javascripts/knowledge_base_public_polyfills/fetch.js linguist-vendored
app/assets/javascripts/knowledge_base_public_polyfills/promise.js linguist-vendored

app/assets/stylesheets/jquery-ui.css linguist-vendored
app/assets/stylesheets/bootstrap-tokenfield.css linguist-vendored
app/assets/stylesheets/bootstrap.css linguist-vendored
app/assets/stylesheets/cropper.css linguist-vendored
app/assets/stylesheets/fineuploader.css linguist-vendored
