#{config.product_name} signin detected from a new country

<div>Hi #{user.firstname},</div>
<br>
<div>It looks like you used your account with an <b>known device but from a new country</b> on "#{user_device.created_at}":</div>
<br>
<div>
Your device: #{user_device.name}<br>
Your location (relative): #{user_device.location}<br>
Your IP: #{user_device.ip}<br>
</div>
<br>
<div>The country has been added to your list of known devices, which you can view here:</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#profile/devices">#{config.http_type}://#{config.fqdn}/#profile/devices</a></div>
<br>
<div>If this wasn't you, remove the device, changing your account password, and contacting your administrator. Somebody might have gained unauthorized access to your account.</div>
<br>
<div>Your #{config.product_name} Team</div>
