Connexion #{config.product_name} détectée depuis un nouveau pays

<div>Bonjour #{user.firstname},</div>
<br>
<div>Il semble que vous ayez utilisé votre compte avec un <b>appareil connu mais depuis un nouveau pays</b> le "#{user_device.created_at}" :</div>
<br>
<div>
Votre appareil : #{user_device.name}<br>
Votre localisation (relative) : #{user_device.location}<br>
Votre IP : #{user_device.ip}<br>
</div>
<br>
<div>Le pays a été ajouté à votre liste d'appareils connus, que vous pouvez l'afficher ici :</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#profile/devices">#{config.http_type}://#{config.fqdn}/#profile/devices</a></div>
<br>
<div>Si ce n'était pas vous, supprimez l'appareil, modifiez le mot de passe de votre compte et contactez votre administrateur. Quelqu'un a peut-être obtenu un accès non autorisé à votre compte.</div>
<br>
<div>Votre équipe #{config.product_name}</div>
