#{config.product_name} bejelentkezés egy új országból

<div>Üdvözöljük #{user.firstname},</div>
<br>
<div>Úgy tűnik, hogy Ön a fiókját egy <b>ismert eszközzel, de egy új országból</b> használta ezen az eszközön: "#{user_device.created_at}"</div>
<br>
<div>
Az Ön eszköze: #{user_device.name}<br>
Az Ön tartózkodási helye (relatív): #{user_device.location}<br>
Az Ön IP címe: #{user_device.ip}<br>
</div>
<br>
<div>Az ország hozzá lett adva az ismert eszközök listájához, amelyet itt tekinthet meg:</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#profile/devices">#{config.http_type}://#{config.fqdn}/#profile/devices</a></div>
<br>
<div>Amennyiben ez nem Ön volt, kérjük, távolítsa el az eszközt, változtassa meg fiókja jelszavát, és lépjen kapcsolatba a rendszergazdájával. Valaki jogosulatlanul hozzáférhetett a fiókjához.</div>
<br>
<div>Az Ön #{config.product_name} csapata</div>
