#{config.product_name}-accesso da un altro paese

<div>Buongiorno #{user.firstname},</div>
<br>
<div>sembra che abbia eseguito l'accesso alle "#{user_device.created_at}" da un <b>dispositivo conosciuto da un altro paese</b>:</div>
<br>
<div>
Il suo dispositivo: #{user_device.name}<br>
La sua posizione (relativa): #{user_device.location}<br>
Il suo indirizzo IP: #{user_device.ip}<br>
</div>
<br>
<div>Il nuovo paese è stato aggiunto all'elenco dei dispositivi conosciuti, questo elenco può essere visualizzato qui:</div>
<br>
<div>#{config.http_type}://#{config.fqdn}/#profile/devices</div>
<br>
<div>In caso contrario, rimuovere la nuova posizione dall'elenco, modificare la password dell'account e contattare l'amministratore. Qualcuno potrebbe avere accesso non autorizzato al suo account.</div>
<br>
<div>Sempre cordiali saluti</div>
<br>
<div>Il team #{config.product_name} </div>