Logowanie do #{config.product_name} z nowego kraju

<div>Cześć #{user.firstname},</div>
<br>
<div>Wygląda na to, że używasz swojego konta na <b>znanym urządzeniu, ale z nowego kraju</b> w dniu "#{user_device.created_at}":</div>
<br>
<div>
Twoje urządzenie: #{user_device.name}<br>
Twoja lokalizacja (przybliżona): #{user_device.location}<br>
Twój IP: #{user_device.ip}<br>
</div>
<br>
<div>Kraj został dodany do Twojej listy znanych urządzeń, którą możesz zobaczyć tutaj:</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#profile/devices">#{config.http_type}://#{config.fqdn}/#profile/devices</a></div>
<br>
<div>Jeśli to nie Ty, usuń urządzenie, zmień hasło do konta i skontaktuj się z administratorem. Ktoś mógł uzyskać nieautoryzowany dostęp do Twojego konta.</div>
<br>
<div>Zespół #{config.product_name}</div>
