#{config.product_name} prihlásenie z novej krajiny

<div>Ahoj #{user.firstname},</div>
<br>
<div>Zdá sa že ste sa prihlásili do vášho účtu so <b>známým zariadením, avšak z novej krajiny</b> on "#{user_device.created_at}":</div>
<br>
<div>
Vaše zariadenie: #{user_device.name}<br>
Vaša poloha (relatívna): #{user_device.location}<br>
Vaša IP: #{user_device.ip}<br>
</div>
<br>
<div>Krajina bola pridaná do zoznamu známych zariadení, ktoré si viete pozrieť tu:</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#profile/devices">#{config.http_type}://#{config.fqdn}/#profile/devices</a></div>
<br>
<div>Ak to nie ste vy, prosím odstránťe zariadenie, zmeňte si vaše heslo a kontaktujte svojho administrátora. Niekto mohol získať neoprávnený prístup do vášho účtu.</div>
<br>
<div>Your #{config.product_name} Tím</div>
