---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/direct_messages/events/new.json
    body:
      encoding: UTF-8
      string: '{"event":{"type":"message_create","message_create":{"target":{"recipient_id":<TWITTER_DM_REAL_RECIPIENT>},"message_data":{"text":"Ex
        autem eius omnis."}}}}'
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="b705e68cf4c08cbb74e69023c63bced7",
        oauth_signature="QOIfcSQ9KyjK%2FDe6%2F8WGBx0ikmE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1665139983", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 07 Oct 2022 10:53:03 GMT
      X-Transaction:
      - 2591d50879ccbe8b
      X-Access-Level:
      - read-write-directmessages
      X-Transaction-Id:
      - 2591d50879ccbe8b
      Content-Disposition:
      - attachment; filename=json.json
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '190'
      X-Connection-Hash:
      - 6040b5a01757e38f3679270baccde0e9f2a10975884ebc6ef190a873bdd1048e
    body:
      encoding: UTF-8
      string: '{"event":{"type":"message_create","id":"1578337602893135877","created_timestamp":"1665139983281","message_create":{"target":{"recipient_id":"<TWITTER_DM_REAL_RECIPIENT>"},"sender_id":"<TWITTER_USER_ID>","message_data":{"text":"Ex
        autem eius omnis.","entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]}}}}}'
  recorded_at: Fri, 07 Oct 2022 10:53:03 GMT
recorded_with: VCR 6.1.0
