---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/direct_messages/events/new.json
    body:
      encoding: UTF-8
      string: '{"event":{"type":"message_create","message_create":{"target":{"recipient_id":<TWITTER_DM_RECIPIENT>},"message_data":{"text":"In
        adipisci exercitationem perspiciatis."}}}}'
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="73af861d66e768fe2d655cb7e72e367c",
        oauth_signature="O%2BrhVsfqU8qaDv8oCI1%2Bc43O5IE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1624984534", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 29 Jun 2021 16:35:34 GMT
      X-Transaction:
      - 3ba048998becb8da
      X-Access-Level:
      - read-write-directmessages
      Content-Disposition:
      - attachment; filename=json.json
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Connection-Hash:
      - 18817f96513cf3b4958953156d36ce82745079a88415a3609d8e70be27f3e89c
    body:
      encoding: UTF-8
      string: '{"event":{"type":"message_create","id":"1409913444971782150","created_timestamp":"1624984534863","message_create":{"target":{"recipient_id":"<TWITTER_DM_RECIPIENT>"},"sender_id":"<TWITTER_USER_ID>","message_data":{"text":"In
        adipisci exercitationem perspiciatis.","entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]}}}}}'
  recorded_at: Tue, 29 Jun 2021 16:35:35 GMT
recorded_with: VCR 6.0.0
