---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=zammad&result_type=mixed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="fcf6a45828bc7f5dbe01c2e61cf45ea8",
        oauth_signature="Ko0LOJwfTxd0YL9yLGEMSnRwYAc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1665140021", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 07 Oct 2022 10:53:41 GMT
      X-Transaction:
      - dc793b03b12e9fac
      X-Access-Level:
      - read-write-directmessages
      X-Transaction-Id:
      - dc793b03b12e9fac
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Reset:
      - '1665140719'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '165'
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '292'
      X-Connection-Hash:
      - e54ead5479d21e9480ad534a02cb7f3704d6b068833362cf502a685002554c7d
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Fri Oct 07 09:50:31 +0000 2022","id":1578321865218879489,"id_str":"1578321865218879489","text":"RT
        @zammadhq: \"That looks easy, I can do it too\" \ud83e\udd21\ud83e\udd21\n\n#zammad
        #fridayfun #tutorials https:\/\/t.co\/m1dHNLMip4","truncated":false,"entities":{"hashtags":[{"text":"zammad","indices":[53,60]},{"text":"fridayfun","indices":[61,71]},{"text":"tutorials","indices":[72,82]}],"symbols":[],"user_mentions":[{"screen_name":"zammadhq","name":"Zammad
        HQ","id":785412523193425920,"id_str":"785412523193425920","indices":[3,12]}],"urls":[],"media":[{"id":1578280212466483201,"id_str":"1578280212466483201","indices":[83,106],"media_url":"http:\/\/pbs.twimg.com\/media\/FectfbwXwAEGgLR.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/FectfbwXwAEGgLR.jpg","url":"https:\/\/t.co\/m1dHNLMip4","display_url":"pic.twitter.com\/m1dHNLMip4","expanded_url":"https:\/\/twitter.com\/zammadhq\/status\/1578280214999830533\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":680,"h":680,"resize":"fit"},"large":{"w":1080,"h":1080,"resize":"fit"},"medium":{"w":1080,"h":1080,"resize":"fit"}},"source_status_id":1578280214999830533,"source_status_id_str":"1578280214999830533","source_user_id":785412523193425920,"source_user_id_str":"785412523193425920"}]},"extended_entities":{"media":[{"id":1578280212466483201,"id_str":"1578280212466483201","indices":[83,106],"media_url":"http:\/\/pbs.twimg.com\/media\/FectfbwXwAEGgLR.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/FectfbwXwAEGgLR.jpg","url":"https:\/\/t.co\/m1dHNLMip4","display_url":"pic.twitter.com\/m1dHNLMip4","expanded_url":"https:\/\/twitter.com\/zammadhq\/status\/1578280214999830533\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":680,"h":680,"resize":"fit"},"large":{"w":1080,"h":1080,"resize":"fit"},"medium":{"w":1080,"h":1080,"resize":"fit"}},"source_status_id":1578280214999830533,"source_status_id_str":"1578280214999830533","source_user_id":785412523193425920,"source_user_id_str":"785412523193425920"}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":72372295,"id_str":"72372295","name":"nti","screen_name":"w4w4w","location":"","description":"Nichts
        ist nur schwarz oder wei\u00df, alles ist schwarz mit wei\u00dfen oder wei\u00df
        mit schwarzen Punkten.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":57,"friends_count":233,"listed_count":0,"created_at":"Mon
        Sep 07 20:21:58 +0000 2009","favourites_count":5735,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":4019,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"709397","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme6\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme6\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1398819969941618690\/gUH9vRr0_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1398819969941618690\/gUH9vRr0_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/72372295\/1627337117","profile_link_color":"FF3300","profile_sidebar_border_color":"86A4A6","profile_sidebar_fill_color":"A0C5C7","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Fri
        Oct 07 07:05:00 +0000 2022","id":1578280214999830533,"id_str":"1578280214999830533","text":"\"That
        looks easy, I can do it too\" \ud83e\udd21\ud83e\udd21\n\n#zammad #fridayfun
        #tutorials https:\/\/t.co\/m1dHNLMip4","truncated":false,"entities":{"hashtags":[{"text":"zammad","indices":[39,46]},{"text":"fridayfun","indices":[47,57]},{"text":"tutorials","indices":[58,68]}],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":1578280212466483201,"id_str"[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1345998750943207425/qRnudl3F_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 04 Jan 2021 07:39:24 GMT
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/4gKgSUNDX1BST0ZJTEUAAQEAAAKQbGNtcwQwAABtbnRyUkdCIFhZWiAAAAAAAAAAAAAAAABhY3NwQVBQTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA9tYAAQAAAADTLWxjbXMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAtkZXNjAAABCAAAADhjcHJ0AAABQAAAAE53dHB0AAABkAAAABRjaGFkAAABpAAAACxyWFlaAAAB0AAAABRiWFlaAAAB5AAAABRnWFlaAAAB+AAAABRyVFJDAAACDAAAACBnVFJDAAACLAAAACBiVFJDAAACTAAAACBjaHJtAAACbAAAACRtbHVjAAAAAAAAAA[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/996714244090417152/2QDJvxkN_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Last-Modified:
      - Wed, 16 May 2018 11:27:28 GMT
      X-Transaction-Id:
      - 44fbab222bdbe624
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      str[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1370612813274746881/X9mTg6Ep_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Last-Modified:
      - Sat, 13 Mar 2021 05:46:54 GMT
      X-Transaction-Id:
      - 031a7b4ab0acb1dd
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      st[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1499637289412136962/Sg5i2k3X_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 04 Mar 2022 06:44:06 GMT
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/4gKgSUNDX1BST0ZJTEUAAQEAAAKQb[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/show/1576596426779262978.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="7b716c95f9b72c038ac448c069dfee14",
        oauth_signature="4J%2BUphTb3TpBky6SbaItIYsGT4U%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1665140023", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    [...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/949391338025504768/-OU8biOr_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 05 Jan 2018 21:23:08 GMT
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/4gKgSUNDX1BST0ZJTEUAAQEAAAKQbG[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1480256043670196224/U1cQ1VV5_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 09 Jan 2022 19:09:57 GMT
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/4gKgSUNDX1BST0ZJTEUAAQEAAAKQb[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1508920916188831745/9GCagDjy_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Last-Modified:
      - Tue, 29 Mar 2022 21:33:55 GMT
      X-Transaction-Id:
      - 3a426731c14be32d
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      st[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1524661775001653249/tw-5bYfv_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Last-Modified:
      - Thu, 12 May 2022 08:02:28 GMT
      X-Transaction-Id:
      - d08c980e6054998d
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      st[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1272243792876314624/o-50UzwA_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Last-Modified:
      - Sun, 14 Jun 2020 19:03:32 GMT
      X-Transaction-Id:
      - 58ba253e7f7f90c9
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      st[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1435121406384218112/ipDGw2t6_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 07 Sep 2021 06:01:01 GMT
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/4gKgSUNDX1BST0ZJTEUAAQEAAAKQb[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1575119017420931074/TzIPayQC_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Last-Modified:
      - Wed, 28 Sep 2022 13:41:32 GMT
      X-Transaction-Id:
      - 2ce9d8e961de5d0e
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      st[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1575360513269178369/wzDreAM3_bigger.png
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Last-Modified:
      - Thu, 29 Sep 2022 05:41:09 GMT
      X-Transaction-Id:
      - 74bc04959b58b263
      Content-Type:
      - image/png
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      str[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1537956761025384448/4xr3OmUg_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Last-Modified:
      - Sat, 18 Jun 2022 00:32:00 GMT
      X-Transaction-Id:
      - 401d7c1b88583f9d
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      st[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1568223893579612168/8jA3aY3O_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Last-Modified:
      - Fri, 09 Sep 2022 13:02:47 GMT
      X-Transaction-Id:
      - 76cebcfc203b7c9a
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      st[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1521924314328621056/XH8Avh3K_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Last-Modified:
      - Wed, 04 May 2022 18:44:47 GMT
      X-Transaction-Id:
      - 3d4838ad1bc710d4
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      st[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/show/1575838283770241024.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="1d7a2e820a9152276865a3bfec39d82a",
        oauth_signature="yCTYzDV839x5%2FE0R4Z%2FtnDLgKMM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1665140031", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Perf:
      - '7626143928'
      Status:
      - 403 Forbidden
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 07 Oct 2022 10:53:51 GMT
      X-Transaction:
      - bc3a3e7256fbc05c
      X-Transaction-Id:
      - bc3a3e7256fbc05c
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Reset:
      - '1665140708'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '839'
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '132'
      X-Connection-Hash:
      - 384e0aa61b061398c148339a605a4724ebdf0e693cf47c067eecf25f0df79775
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":179,"message":"Sorry, you are not authorized to
        see this status."}]}'
  recorded_at: Fri, 07 Oct 2022 10:53:51 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/605002017619197952/mCpNz97i_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 31 May 2015 13:22:56 GMT
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/4gKgSUNDX1BST0ZJTEUAAQEAAAKQbG[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/592328179748077570/riTkbGH5_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 26 Apr 2015 14:01:37 GMT
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/4gKgSUNDX1BST0ZJTEUAAQEAAAKQbG[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1005424478548103168/q3hCANdB_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Last-Modified:
      - Sat, 09 Jun 2018 12:18:50 GMT
      X-Transaction-Id:
      - d558c99f2354730d
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      st[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1311694439878979584/SAys7HFF_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 01 Oct 2020 15:46:19 GMT
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/4gKgSUNDX1BST0ZJTEUAAQEAAAKQb[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1468800968309411841/C6Y4s792_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 09 Dec 2021 04:31:34 GMT
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/4gKgSUNDX1BST0ZJTEUAAQEAAAKQb[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/958100963822329858/fb_N8h5n_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 29 Jan 2018 22:12:05 GMT
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/4gKgSUNDX1BST0ZJTEUAAQEAAAKQbG[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/957011635369054208/Om3jbj7z_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 26 Jan 2018 22:03:28 GMT
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/4gKgSUNDX1BST0ZJTEUAAQEAAAKQbG[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/904224973987840000/dMy1x9Ho_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 03 Sep 2017 06:08:08 GMT
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/4gKgSUNDX1BST0ZJTEUAAQEAAAKQbG[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1575408349965078528/Dwl5dNAi_bigger.png
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Last-Modified:
      - Thu, 29 Sep 2022 08:51:14 GMT
      X-Transaction-Id:
      - d831e3693c4eadc7
      Content-Type:
      - image/png
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      str[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&include_entities=1&max_id=1575429500409872383&q=zammad&result_type=mixed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="711faa89c5717b99eed180909841cd69",
        oauth_signature="UO%2F%2FD0bNMBYUd6wXYVh3n17e0i8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1665140038", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 07 Oct 2022 10:53:59 GMT
      X-Transaction:
      - 321196d500f5da4c
      X-Access-Level:
      - read-write-directmessages
      X-Transaction-Id:
      - 321196d500f5da4c
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Reset:
      - '1665140719'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '164'
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '121'
      X-Connection-Hash:
      - c6f5bf06b712409e5443410edde5fc1b9c05ce7d75367c94d4ab30f4784741ac
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.007,"max_id":1575429500409872383,"max_id_str":"1575429500409872383","query":"zammad","refresh_url":"?since_id=1575429500409872383&q=zammad&result_type=mixed&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Fri, 07 Oct 2022 10:53:59 GMT
recorded_with: VCR 6.1.0
