---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=zammad&result_type=mixed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="ae0d799e506b1151f201ec05fcf5f8da",
        oauth_signature="yIKuu965JT8rF37mHrFACVTQAbU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1624609693", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 25 Jun 2021 08:28:13 GMT
      X-Transaction:
      - b07da798fdb32b4b
      X-Access-Level:
      - read-write-directmessages
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Reset:
      - '1624610593'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '179'
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Connection-Hash:
      - f0f9c23c798cdaf0db2783df7f641d6e2b25d8528df7824ea0f6cf44af833dcd
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Fri Jun 25 06:20:32 +0000 2021","id":1408309112455245825,"id_str":"1408309112455245825","text":"@Namiraaa07
        @AsimAzharr \ud83d\ude02\ud83d\ude02","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"Namiraaa07","name":"\u0646\u0645\u06cc\u0631\u06c1\u2661\ud83c\uddf5\ud83c\uddf8","id":1215916662341267457,"id_str":"1215916662341267457","indices":[0,11]},{"screen_name":"AsimAzharr","name":"Asim
        Azhar","id":112731136,"id_str":"112731136","indices":[12,23]}],"urls":[]},"metadata":{"iso_language_code":"und","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":1408166364963954692,"in_reply_to_status_id_str":"1408166364963954692","in_reply_to_user_id":1215916662341267457,"in_reply_to_user_id_str":"1215916662341267457","in_reply_to_screen_name":"Namiraaa07","user":{"id":2694949692,"id_str":"2694949692","name":"Zammad
        Mustafa \ud83c\uddf5\ud83c\uddf0\ud83c\uddf5\ud83c\uddf0","screen_name":"M_ZAMMAD_KHAN","location":"Multan,
        Pakistan","description":"Introvert.","url":"https:\/\/t.co\/ytP1m4rHHK","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/ytP1m4rHHK","expanded_url":"https:\/\/www.facebook.com\/zammad.mustafa","display_url":"facebook.com\/zammad.mustafa","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":1360,"friends_count":1349,"listed_count":0,"created_at":"Thu
        Jul 31 06:49:25 +0000 2014","favourites_count":3986,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":1998,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1398874290766942208\/Dvm59afU_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1398874290766942208\/Dvm59afU_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2694949692\/1481660142","profile_link_color":"7FDBB6","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"und"},{"created_at":"Thu
        Jun 24 20:47:22 +0000 2021","id":1408164870944694281,"id_str":"1408164870944694281","text":"RT
        @MultanSultans: ITS OURS! \n\nITS DONE! \n\nA DREAM REALISED! \n\nCongratulations
        #Sultans on becoming the Champions \ud83c\udfc6 of @thePSLt20 \n\n#HBLPSL\u2026","truncated":false,"entities":{"hashtags":[{"text":"Sultans","indices":[79,87]}],"symbols":[],"user_mentions":[{"screen_name":"MultanSultans","name":"Multan
        Sultans","id":8[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Multan,%20Pakistan&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Fri, 25 Jun 2021 08:28:14 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1398874290766942208/Dvm59afU_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Sun, 30 May 2021 05:27:55 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/9 profile_images/1398874290766942208
      X-Connection-Hash:
      - a2ab8c97ec189d09137b2b58fc828c193c3506b387d5fb27bd2982ac8b6eadd2
      X-Tw-Cdn:
      - VZ
      - VZ
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/4gKgSUNDX1BST0ZJTEUAAQEAAAKQbGNtcwQwAABtbnRyUkdCIFhZWiAAAAAAAAAAAAAAAABhY3NwQVBQTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA9tYAAQAAAADTLWxjbXMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAtkZXNjAAABCAAAADhjcHJ0AAABQAAAAE53dHB0AAABkAAAABRjaGFkAAABpAAAACxyWFlaAAAB0AAAABRiWFlaAAAB5AAAABRnWFlaAAAB+AAAABRyVFJDAAACDAAAACBnVFJDAAACLAAAACBiVFJDAAACTAAAACBjaHJtAAACbAAAACRtbHV[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/show/1408166364963954692.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="b7edec05857658cf231535be0b23703e",
        oauth_signature="8frBIimLw%2Fp1Z91R1yskIsqMo4Q%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1624609694", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    [...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1408331111504048129/XiY-7Niu_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Fri, 25 Jun 2021 07:45:57 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/8 profile_images/1408331111504048129
      X-Connection-Hash:
      - bb1c37d7b15dc13aaf[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Pakistan&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Fri, 25 Jun 2021 08:28:15 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1375085639805267969/c4xlwoBL_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Thu, 25 Mar 2021 14:00:19 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/1 profile_images/1375085639805267969
      X-Connection-Hash:
      - f3c561ac64f76a25ab44c956093499f31a943033c104bcae679523459c793031
      X-Response-Time:
      - '111'
      X-Tw-Cdn:
      - VZ
      - VZ
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/4gKgSUNDX1BST0ZJTEUAAQEAAAKQbGNtcwQwAABtbnRyUkdCIFhZWiAAAAAAAAAAAAAAAABhY3NwQVBQTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA9tYAAQAAAADTLWxjbXMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAtkZXNjAAABCAAAADhjcHJ0AAABQAAAAE53dHB0AAABkAAAABRjaGFkAAABpAAAACxyWFlaAAAB0AAAABRiWFlaAAAB5AAAABRnWFlaAAAB+AAAABRyVFJDAAACDAAAACBnVFJDAAACLAAAACBiVFJDA[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Islamabad&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Fri, 25 Jun 2021 08:28:15 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1272243792876314624/o-50UzwA_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Sun, 14 Jun 2020 19:03:32 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/4 profile_images/1272243792876314624
      X-Connection-Hash:
      - 58212d74b69216424b[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1182784466240135170/tTYzHFoe_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Fri, 11 Oct 2019 22:24:06 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/0 profile_images/1182784466240135170
      X-Connection-Hash:
      - cb34108d506d821743[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=USA&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Fri, 25 Jun 2021 08:28:17 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1359954153246777349/iUa5IJlf_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Thu, 11 Feb 2021 19:53:11 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/0 profile_images/1359954153246777349
      X-Connection-Hash:
      - f5d860c971e1674584[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Montreal%20/%20Bay%20Area&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Fri, 25 Jun 2021 08:28:17 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1019988171646427137/fmMop0Uw_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Thu, 19 Jul 2018 16:49:45 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/7 profile_images/1019988171646427137
      X-Connection-Hash:
      - 140eb84f2c798fc5ac[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Brasilia/DF&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Fri, 25 Jun 2021 08:28:20 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1398808860543049729/fGSsZeeA_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Sun, 30 May 2021 01:07:55 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/6 profile_images/1398808860543049729
      X-Connection-Hash:
      - cd98addc3129fb57e7[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Munich,%20Bavaria&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Fri, 25 Jun 2021 08:28:21 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1048215352000299008/6W1MZsPV_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Fri, 05 Oct 2018 14:14:29 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/9 profile_images/1048215352000299008
      X-Connection-Hash:
      - aba419b3ded4492f74[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Baden-W%C3%BCrttemberg,%20Germany&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Fri, 25 Jun 2021 08:28:21 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/997234687939563520/-2GBTNf2_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Thu, 17 May 2018 21:55:31 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/5 profile_images/997234687939563520
      X-Connection-Hash:
      - 9a17d5ad00b1c5ba0e56[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Rawalpindi,%20Pakistan&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Fri, 25 Jun 2021 08:28:22 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1296531706523127814/e30cT0A-_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Thu, 20 Aug 2020 19:35:01 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/1 profile_images/1296531706523127814
      X-Connection-Hash:
      - fa51fd31eff894d5fd[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=%F0%9F%87%B5%F0%9F%87%B0&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Fri, 25 Jun 2021 08:28:26 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1389959793469763595/Pb8m-Hvw_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Wed, 05 May 2021 15:04:53 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/1 profile_images/1389959793469763595
      X-Connection-Hash:
      - 400661d47853abf574[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/show/1407221587879727108.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="fbdde648cf9896a9893a97ecf5a76875",
        oauth_signature="BTwtz9YbHYlZMZ2G%2BBf6jX0QQ6s%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1624609706", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 25 Jun 2021 08:28:26 GMT
      X-Transaction:
      - 56290a6c82443fa5
      X-Access-Level:
      - read-write-directmessages
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Reset:
      - '1624610594'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '883'
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Connection-Hash:
      - e3be3adf3f191f47aecec018955a5fa02adfeec824d4e926cbf1a0388afca7b1
    body:
      encoding: UTF-8
      string: '{"created_at":"Tue Jun 22 06:19:06 +0000 2021","id":1407221587879727108,"id_str":"1407221587879727108","text":"Can
        we make this happen? https:\/\/t.co\/Ad2vXmbG3K","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":1407221539020234752,"id_str":"1407221539020234752","indices":[25,48],"media_url":"http:\/\/pbs.twimg.com\/media\/E4d0iLGUYAApMN6.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/E4d0iLGUYAApMN6.jpg","url":"https:\/\/t.co\/Ad2vXmbG3K","display_url":"pic.twitter.com\/Ad2vXmbG3K","expanded_url":"https:\/\/twitter.com\/IceBear69_\/status\/1407221587879727108\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":383,"h":680,"resize":"fit"},"medium":{"w":576,"h":1024,"resize":"fit"},"large":{"w":576,"h":1024,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1407221539020234752,"id_str":"1407221539020234752","indices":[25,48],"media_url":"http:\/\/pbs.twimg.com\/media\/E4d0iLGUYAApMN6.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/E4d0iLGUYAApMN6.jpg","url":"https:\/\/t.co\/Ad2vXmbG3K","display_url":"pic.twitter.com\/Ad2vXmbG3K","expanded_url":"https:\/\/twitter.com\/IceBear69_\/status\/1407221587879727108\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":383,"h":680,"resize":"fit"},"m[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1394595306944090113/cHlhPlXI_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Tue, 18 May 2021 10:04:46 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/2 profile_images/1394595306944090113
      X-Connection-Hash:
      - 29b68e0c9183750e1f[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Karachi,%20Pakistan.&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Fri, 25 Jun 2021 08:28:27 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1388267382012010502/gwgsvN7G_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Fri, 30 Apr 2021 22:59:51 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/7 profile_images/1388267382012010502
      X-Connection-Hash:
      - 1ab51055ebea4a3f5f[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=MuslimBagh%20Janobi%20Pashtoonkhwa&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Fri, 25 Jun 2021 08:28:30 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1034848887415230470/qT3ZK7Be_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Wed, 29 Aug 2018 17:00:55 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/1 profile_images/1034848887415230470
      X-Connection-Hash:
      - 2dd1235b07e29a0438[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Karachi,%20Pakistan&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Fri, 25 Jun 2021 08:28:31 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1369600443857444865/tczE99H-_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Wed, 10 Mar 2021 10:44:06 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/3 profile_images/1369600443857444865
      X-Connection-Hash:
      - 71e56ba08485afdd4c[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=International&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Fri, 25 Jun 2021 08:28:32 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1345998750943207425/qRnudl3F_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Mon, 04 Jan 2021 07:39:24 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/5 profile_images/1345998750943207425
      X-Connection-Hash:
      - b882353bff84b424bd[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1296733290280497152/jKV5d933_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Fri, 21 Aug 2020 08:56:03 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/2 profile_images/1296733290280497152
      X-Connection-Hash:
      - ccf2038273bf06b97e[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Leicester&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Fri, 25 Jun 2021 08:28:33 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1367462339574984712/VWNmrdCn_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Thu, 04 Mar 2021 13:08:02 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/5 profile_images/1367462339574984712
      X-Connection-Hash:
      - 7e90c084cede87b3bf[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1392859590912614403/ohAGQRfz_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Thu, 13 May 2021 15:07:39 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/9 profile_images/1392859590912614403
      X-Connection-Hash:
      - d1023b6f7eac53a76f[...]
- request:
    method: get
    uri: https://pbs.twimg.com/profile_images/1408343046731845632/K56uhLP2_400x400.png
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"iso-8859-1\"?>\n<!DOCTYPE html PUBLIC
[...]
