---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: in_reply_to_status_id&status=foo+%EF%BC%8A+bar
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="874fbddd2649f80a8dd99d82b9880230",
        oauth_signature="6rjTmNT7j6Ms493HV7fZCReQgCE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1665139982", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Perf:
      - '7626143928'
      Status:
      - 403 Forbidden
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 07 Oct 2022 10:53:02 GMT
      X-Transaction:
      - 6acaaf3f9da0fcd1
      X-Access-Level:
      - read-write-directmessages
      X-Transaction-Id:
      - 6acaaf3f9da0fcd1
      Content-Disposition:
      - attachment; filename=json.json
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '136'
      X-Connection-Hash:
      - 5679700fbfb85be50f0ab24daed950cc4a0c6a4e06e654baba0b99232ea139fd
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":187,"message":"Status is a duplicate."}]}'
  recorded_at: Fri, 07 Oct 2022 10:53:02 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="24d1d65e8c829b25f7a2145e60cfbd1a",
        oauth_signature="jMNQESyFH5qHNtAT6onsFODIseg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1665139982", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 07 Oct 2022 10:53:02 GMT
      X-Transaction:
      - 592bf820b457f5f0
      X-Access-Level:
      - read-write-directmessages
      X-Transaction-Id:
      - 592bf820b457f5f0
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Reset:
      - '1665140882'
      Content-Disposition:
      - attachment; filename=json.json
      X-App-Rate-Limit-Limit:
      - '100000'
      X-App-Rate-Limit-Reset:
      - '1665226382'
      X-Rate-Limit-Remaining:
      - '899'
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-App-Rate-Limit-Remaining:
      - '99999'
      X-Response-Time:
      - '138'
      X-Connection-Hash:
      - 8aa8d38c56ac1803635a64bc3295cd918ba8be99f57452a9fe61064ce1dc4161
    body:
      encoding: UTF-8
      string: '[{"created_at":"Fri Oct 07 10:53:01 +0000 2022","id":1578337596551438336,"id_str":"1578337596551438336","text":"Soluta
        commodi sint inventore.","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"https:\/\/zammad.com\" rel=\"nofollow\"\u003eZammad Integration Test\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":<TWITTER_USER_ID>,"id_str":"<TWITTER_USER_ID>","name":"Zammad
        Integration Test Account","screen_name":"APITesting001","location":"","description":"Zammad
        Integration Test Account","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":1,"listed_count":0,"created_at":"Fri
        Jun 25 07:21:40 +0000 2021","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":10,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1408343046731845632\/K56uhLP2_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1408343046731845632\/K56uhLP2_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"it"}]'
  recorded_at: Fri, 07 Oct 2022 10:53:02 GMT
recorded_with: VCR 6.1.0
