---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=zammad&result_type=mixed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="some", oauth_nonce="8efb0d12349b48e6acaa2ec6ff224cc2",
        oauth_signature="uABvZoC5sN%2F68E4oxp6Qk6SxO2Y%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1543795852", oauth_token="key",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 03 Dec 2018 00:10:52 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - a1a23cf829d6620a58e4f36784e4cb35
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '174'
      X-Rate-Limit-Reset:
      - '1543796367'
      X-Response-Time:
      - '350'
      X-Transaction:
      - '009c973e00526e95'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Sun Dec 02 16:20:35 +0000 2018","id":1069265077583400960,"id_str":"1069265077583400960","text":"@pexample
        @Example1 Not Love only FAME","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"pexample","name":"Zarghuna
        Bukhari","id":2176345957,"id_str":"2176345957","indices":[0,12]},{"screen_name":"Example1","name":"Reham
        Khan","id":298959564,"id_str":"298959564","indices":[13,24]}],"urls":[]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":1068958852887076864,"in_reply_to_status_id_str":"1068958852887076864","in_reply_to_user_id":2176345957,"in_reply_to_user_id_str":"2176345957","in_reply_to_screen_name":"pexample","user":{"id":2694949692,"id_str":"2694949692","name":"Zammad
        Mustafa","screen_name":"mexample","location":"Multan, Pakistan","description":"","url":"https:\/\/t.co\/xEj6qKXjcM","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/xEj6qKXjcM","expanded_url":"https:\/\/www.example.com\/zammad.example","display_url":"facebook.com\/zammad.example","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":1442,"friends_count":1432,"listed_count":1,"created_at":"Thu
        Jul 31 06:49:25 +0000 2014","favourites_count":2003,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":1745,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1032216233339445248\/sE3rElf-_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1032216233339445248\/sE3rElf-_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2694949692\/1481660142","profile_link_color":"7FDBB6","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":1,"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Sat
        Dec 01 06:30:03 +0000 2018","id":1068754078241501184,"id_str":"1068754078241501184","text":"GitHub
        Trending Archive, 29 Nov 2018, Ruby. mgleon08\/example-crawler, tongueroo\/jets,
        testdouble\/standard, matthe\u2026 https:\/\/t.co\/JhiOoxbwVL","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/JhiOoxbwVL","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1068754078241501184",[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Multan,%20Pakistan&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "Keyless access to Google Maps Platform is deprecated. Please use an API key with all your API calls to avoid service interruption. For further details please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "OVER_QUERY_LIMIT"
        }
  recorded_at: Mon, 03 Dec 2018 00:10:53 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1032216233339445248/sE3rElf-_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Wed, 22 Aug 2018 10:39:42 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/1 profile_images/1032216233339445248
      X-Connection-Hash:
      - 4aa0559538910d485a94dd09522ec849
      X-Response-Time:
      - '167'
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/4gKgSUNDX1BST0ZJTEUAAQEAAAKQbGNtcwQwAABtbnRyUkdCIFhZWiAH4gAIABYACgApACphY3NwQVBQTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA9tYAAQAAAADTLWxjbXMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAtkZXNjAAABCAAAADhj[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/show/1068958852887076864.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="some", oauth_nonce="83003a1356235c21998dbe47bd20e034",
        oauth_signature="KtBt4mbxUM9pQeEHXi%2BywugYuqk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1543795853", oauth_token="key",
        oauth_version="1.0"
  response:
    status:
      code: 200
    [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Karachi.&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "Keyless access to Google Maps Platform is deprecated. Please use an API key with all your API calls to avoid service interruption. For further details please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "OVER_QUERY_LIMIT"
        }
  recorded_at: Mon, 03 Dec 2018 00:10:53 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1066314737775009794/Fc_8OEzy_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Sat, 24 Nov 2018 12:54:59 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/4 profile_images/1066314737775009794
      X-Connection-Hash:
      - d1053032a71c65d102[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Pakistan&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "Keyless access to Google Maps Platform is deprecated. Please use an API key with all your API calls to avoid service interruption. For further details please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "OVER_QUERY_LIMIT"
        }
  recorded_at: Mon, 03 Dec 2018 00:10:54 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1055415764252065792/pYl_QxzD_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Thu, 25 Oct 2018 11:06:21 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/4 profile_images/1055415764252065792
      X-Connection-Hash:
      - 808c63dfece900392e[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/996714244090417152/2QDJvxkN_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Wed, 16 May 2018 11:27:28 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/9 profile_images/996714244090417152
      X-Connection-Hash:
      - ab26b5f1927b74df90b5[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Traverse%20City,%20MI&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "Keyless access to Google Maps Platform is deprecated. Please use an API key with all your API calls to avoid service interruption. For further details please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "OVER_QUERY_LIMIT"
        }
  recorded_at: Mon, 03 Dec 2018 00:10:55 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/982030415094575107/uoPHSILZ_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Thu, 05 Apr 2018 22:59:10 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/4 profile_images/982030415094575107
      X-Connection-Hash:
      - a8f29c6a5aeec40b4efb[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=LA%20%E2%80%A2%20Snap:%20a.had&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "Keyless access to Google Maps Platform is deprecated. Please use an API key with all your API calls to avoid service interruption. For further details please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "OVER_QUERY_LIMIT"
        }
  recorded_at: Mon, 03 Dec 2018 00:10:56 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1069123511833178112/V3XTG_GW_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Sun, 02 Dec 2018 06:56:03 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/3 profile_images/1069123511833178112
      X-Connection-Hash:
      - 2bacb280b040a042cb[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1013681179025813504/_NywdWqj_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Mon, 02 Jul 2018 07:08:01 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/5 profile_images/1013681179025813504
      X-Connection-Hash:
      - 1a24c50309f9ea89af[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1053235251139543040/W4inys7x_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Fri, 19 Oct 2018 10:41:46 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/0 profile_images/1053235251139543040
      X-Connection-Hash:
      - 5de825e58409ca5545[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/832141531255623681/D-mNs8yL_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Thu, 16 Feb 2017 08:14:16 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/8 profile_images/832141531255623681
      X-Connection-Hash:
      - b367a765c588266efba8[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/915014575/zefanjas_new_bigger.png
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/png
      Last-Modified:
      - Thu, 04 Nov 2010 01:42:54 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/5 profile_images/915014575
      X-Connection-Hash:
      - 02c8d274cef9eb9f5d1a5e81be3ff498
  [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Porto%20Velho,%20Brasil&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "Keyless access to Google Maps Platform is deprecated. Please use an API key with all your API calls to avoid service interruption. For further details please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "OVER_QUERY_LIMIT"
        }
  recorded_at: Mon, 03 Dec 2018 00:11:00 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/932827443404197888/kFWnZpm2_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Tue, 21 Nov 2017 04:24:08 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/7 profile_images/932827443404197888
      X-Connection-Hash:
      - cfe326e3b2e846e02b1c[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Berlin&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "Keyless access to Google Maps Platform is deprecated. Please use an API key with all your API calls to avoid service interruption. For further details please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "OVER_QUERY_LIMIT"
        }
  recorded_at: Mon, 03 Dec 2018 00:11:01 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/851468284230848517/HAmK9OTy_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Md5:
      - UTnEYS8uGfA44+ycFWh1lA==
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Mon, 10 Apr 2017 16:11:53 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/6 profile_images/851468284230848517
      X-Connection-Hash:
      - 31db5dca3ecf3841ffcf55f854b6ccb1
      X-Response-Time:
      - '141'
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/4gKgSUNDX1BST0ZJTEUAAQEAAAKQbGNtcwQwAABtbnRyUkdCIFhZWiAH4QAEAAoAE[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/785412960797745152/wxdIvejo_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Mon, 10 Oct 2016 09:31:36 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/7 profile_images/785412960797745152
      X-Connection-Hash:
      - 37f65b8a5274e5073927[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Mexico&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "Keyless access to Google Maps Platform is deprecated. Please use an API key with all your API calls to avoid service interruption. For further details please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "OVER_QUERY_LIMIT"
        }
  recorded_at: Mon, 03 Dec 2018 00:11:03 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/937091164951289856/tfIoqXYr_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Sat, 02 Dec 2017 22:46:38 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/9 profile_images/937091164951289856
      X-Connection-Hash:
      - f6081cc1378ce9866dd1[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1052285678342438912/V6LP8BoX_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Tue, 16 Oct 2018 19:48:30 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/4 profile_images/1052285678342438912
      X-Connection-Hash:
      - d83d3cbfeece2886f8[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=%E4%B8%8B%E7%94%BA%20,Tokyo,%20Japan&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "Keyless access to Google Maps Platform is deprecated. Please use an API key with all your API calls to avoid service interruption. For further details please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "OVER_QUERY_LIMIT"
        }
  recorded_at: Mon, 03 Dec 2018 00:11:05 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/544701031771164674/9EszjZW4_bigger.png
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/png
      Last-Modified:
      - Tue, 16 Dec 2014 03:48:20 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/0 profile_images/544701031771164674
      X-Connection-Hash:
      - fc2f906720d336731983d[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Somewhere,%20Germany&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "Keyless access to Google Maps Platform is deprecated. Please use an API key with all your API calls to avoid service interruption. For further details please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "OVER_QUERY_LIMIT"
        }
  recorded_at: Mon, 03 Dec 2018 00:11:05 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/993875791921516544/KxtPpRLJ_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Tue, 08 May 2018 15:28:28 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/9 profile_images/993875791921516544
      X-Connection-Hash:
      - c0c58bbca9c35859f83d[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=ZZ9%20Plural%20Z%20Alpha,%20Third%20Rock%20from%20the%20Central%20Star&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "Keyless access to Google Maps Platform is deprecated. Please use an API key with all your API calls to avoid service interruption. For further details please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "OVER_QUERY_LIMIT"
        }
  recorded_at: Mon, 03 Dec 2018 00:11:06 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/608727351455809536/JHaWzvF6_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Md5:
      - F1aJw9nod7eADmrBUW27ow==
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Wed, 10 Jun 2015 20:06:04 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/4 profile_images/608727351455809536
 [...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=%D9%BE%D8%A7%DA%A9%D8%B3%D8%AA%D8%A7%D9%86.%20pakistan&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "Keyless access to Google Maps Platform is deprecated. Please use an API key with all your API calls to avoid service interruption. For further details please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "OVER_QUERY_LIMIT"
        }
  recorded_at: Mon, 03 Dec 2018 00:11:07 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1065873213748584448/QClfFmGl_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Fri, 23 Nov 2018 07:40:31 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/4 profile_images/1065873213748584448
      X-Connection-Hash:
      - db07615a746149cf45[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1034759395622756352/G3QDI4pv_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Wed, 29 Aug 2018 11:05:19 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/6 profile_images/1034759395622756352
      X-Connection-Hash:
      - 338e7b270c00eefdaf[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Zug%20zwischen%20BS%20-%20WOB%20-%20B%20-%20HH&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "Keyless access to Google Maps Platform is deprecated. Please use an API key with all your API calls to avoid service interruption. For further details please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "OVER_QUERY_LIMIT"
        }
  recorded_at: Mon, 03 Dec 2018 00:11:08 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/862655866327240704/WtPq3dQv_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Md5:
      - rPsU3ndDDAINBRK+KU5yow==
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Thu, 11 May 2017 13:07:20 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/1 profile_images/862655866327240704
 [...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Fair%20Leipzig%20Hall%20H..%20I%20meen%204&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "Keyless access to Google Maps Platform is deprecated. Please use an API key with all your API calls to avoid service interruption. For further details please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "OVER_QUERY_LIMIT"
        }
  recorded_at: Mon, 03 Dec 2018 00:11:08 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1064967265177792513/muZEe7g0_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Tue, 20 Nov 2018 19:40:36 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/4 profile_images/1064967265177792513
      X-Connection-Hash:
      - 71df07dcadf450f699[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Lost%20in%20%23Neuland&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "Keyless access to Google Maps Platform is deprecated. Please use an API key with all your API calls to avoid service interruption. For further details please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "OVER_QUERY_LIMIT"
        }
  recorded_at: Mon, 03 Dec 2018 00:11:09 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/932331169064112128/KaSV48WY_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Sun, 19 Nov 2017 19:32:07 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/2 profile_images/932331169064112128
      X-Connection-Hash:
      - 4cab491de27a923b1f2c[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=hash_tag1&result_type=mixed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="some", oauth_nonce="b88d83169c5ad58749312e180ccb580a",
        oauth_signature="mwtfaPm2G4x5pRnOr79wWj%2F4UOc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1543795870", oauth_token="key",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 03 Dec 2018 00:11:10 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - bf3a3e0c9040d3298c82c57bec5b5ce3
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '173'
      X-Rate-Limit-Reset:
      - '1543796367'
      X-Response-Time:
      - '141'
      X-Transaction:
      - 004ad5cc00c8a1a9
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.024,"max_id":1069383442410979328,"max_id_str":"1069383442410979328","query":"hash_tag1","refresh_url":"?since_id=1069383442410979328&q=hash_tag1&result_type=mixed&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
[...]
