---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: in_reply_to_status_id&status=Et+nesciunt+enim+alias.
    headers:
      Authorization:
      - OAuth oauth_consumer_key="REDACTED", oauth_nonce="34ead06d7c61a83c2d41cea2973c473b",
        oauth_signature="ktmBeBgh80XcnhT9Pzg5%2BI2gaCo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1582111213", oauth_token="REDACTED",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 19 Feb 2020 11:20:13 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 42bb4b1416218bfac966beab44d963de
      X-Response-Time:
      - '150'
      X-Transaction:
      - 00bdc79d00975228
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"created_at":"Wed Feb 19 11:20:13 +0000 2020","id":1230089703166111745,"id_str":"1230089703166111745","text":"Et
        nesciunt enim alias.","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"https:\/\/zammad.com\/\" rel=\"nofollow\"\u003ezammad\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1205290247124217856,"id_str":"1205290247124217856","name":"pennbrooke","screen_name":"pennbrooke1","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":1,"listed_count":0,"created_at":"Fri
        Dec 13 00:56:10 +0000 2019","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":13,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"lt"}'
  recorded_at: Wed, 19 Feb 2020 11:20:14 GMT
- request:
    method: post
    uri: https://api.twitter.com/1.1/direct_messages/events/new.json
    body:
      encoding: UTF-8
      string: '{"event":{"type":"message_create","message_create":{"target":{"recipient_id":"2975699229"},"message_data":{"text":"Dolorum
        laborum laudantium nesciunt."}}}}'
    headers:
      Authorization:
      - OAuth oauth_consumer_key="REDACTED", oauth_nonce="fe989117ad21662a1fa1fd6898978618",
        oauth_signature="lReUHWuMgwhrfyPY5NfAWZ1O6Zw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1582259890", oauth_token="REDACTED",
        oauth_version="1.0"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 21 Feb 2020 04:38:12 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 6c7b9217e2dc6750af571adafadd9101
      X-Response-Time:
      - '170'
      X-Transaction:
      - 00ba8b0b002cb5b6
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"event":{"type":"message_create","id":"1230713304420454405","created_timestamp":"1582259891978","message_create":{"target":{"recipient_id":"2975699229"},"sender_id":"1205290247124217856","message_data":{"text":"Dolorum
        laborum laudantium nesciunt.","entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]}}}}}'
  recorded_at: Fri, 21 Feb 2020 04:38:12 GMT
recorded_with: VCR 4.0.0
