---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=zammad&result_type=mixed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="REDACTED", oauth_nonce="4cf21224c8251d6a4258c53521e91153",
        oauth_signature="1Bhg5ml%2Fqh6g9vzdqS61dVhkOMQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1580796438", oauth_token="REDACTED",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 04 Feb 2020 06:07:18 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - e258dfc9229bc838cd9d50c00177c48a
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1580797338'
      X-Response-Time:
      - '182'
      X-Transaction:
      - 00cf981300b03fb6
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Mon Feb 03 21:11:50 +0000 2020","id":1224440380881428480,"id_str":"1224440380881428480","text":"@hallouberspace
        l\u00e4uft zammad bei euch oder braucht das zu viele Ressourcen?\nW\u00e4re
        nur ein Agent gleichzeitig. Danke \ud83d\ude4f","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"hallouberspace","name":"Uberspace
        Support","id":971752295934423040,"id_str":"971752295934423040","indices":[0,15]}],"urls":[]},"metadata":{"iso_language_code":"de","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":971752295934423040,"in_reply_to_user_id_str":"971752295934423040","in_reply_to_screen_name":"hallouberspace","user":{"id":605754518,"id_str":"605754518","name":"Benedikt","screen_name":"_benrich","location":"D\u00fcren","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":40,"friends_count":113,"listed_count":2,"created_at":"Mon
        Jun 11 21:18:54 +0000 2012","favourites_count":1190,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":201,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1163492126556135425\/puANjvZp_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1163492126556135425\/puANjvZp_normal.jpg","profile_link_color":"1B95E0","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"de"},{"created_at":"Mon
        Feb 03 20:24:40 +0000 2020","id":1224428510225354753,"id_str":"1224428510225354753","text":"@jackmcdade
        you can pay for it too \u2013 there\u2019s a hosted version: https:\/\/t.co\/QrFNUrAszo","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"jackmcdade","name":"Jack
        McDade\u2728\ud83d\udcfa\u2728","id":10737152,"id_str":"10737152","indices":[0,11]}],"urls":[{"url":"https:\/\/t.co\/QrFNUrAszo","expanded_url":"https:\/\/zammad.com\/pricing","display_url":"zammad.com\/pricing","indices":[63,86]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"https:\/\/tapbots.com\/software\/tweetbot\/mac\" rel=\"nofollow\"\u003eTweetbot
        for Mac\u003c\/a\u003e","in_reply_to_status_id":1224427776654135297,"in_reply_to_status_id_str":"1224427776654135297","in_reply_to_user_id":10737152,"in_reply_to_user_id_str":"10737152","in_reply_to_screen_name":"jackmcdade","user":{"id":15217750,"id_str":"15217750","name":"[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=D%C3%BCren&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Tue, 04 Feb 2020 06:07:18 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1163492126556135425/puANjvZp_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Mon, 19 Aug 2019 16:43:14 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/5 profile_images/1163492126556135425
      X-Connection-Hash:
      - b76bd2ed91a44066b96fb3713dc830bc
      X-Response-Time:
      - '128'
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/4gKgSUNDX1BST0ZJTEUAAQEAAAKQbGNtcwQwAABtbnRyUkdCIFhZWiAH4wAIABMAEAAtAA5hY3NwQVBQTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA9tYAAQAAAADTLWxjbXMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAtkZXNjAAABCAAAADhj[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Berlin&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Tue, 04 Feb 2020 06:07:19 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/508915774816149504/T4g--mOT_normal.jpeg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Mon, 08 Sep 2014 09:50:30 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/2 profile_images/508915774816149504
      X-Connection-Hash:
      - c20c82c2eb58f26c8bb[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/show/1224427776654135297.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="REDACTED", oauth_nonce="ca8db5ad67ab2ff8d7e9453978aa7af6",
        oauth_signature="KVwPd6LavD6jIuLek2FCVfK6je0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1580796440", oauth_token="REDACTED",
        oauth_version="1.0"
  response:
    status:
      code: 2[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Clifton%20Park,%20NY&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Tue, 04 Feb 2020 06:07:20 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1064935675672305665/xB3YuC60_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Tue, 20 Nov 2018 17:35:05 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/2 profile_images/1064935675672305665
      X-Connection-Hash:
      - dc2f0554c4e8d381a4[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/show/1224427517869809666.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="REDACTED", oauth_nonce="1a244660e2f97a71bf345750e36e98c3",
        oauth_signature="PArGPzilTQ9HzlIUQENIFYdSyZg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1580796440", oauth_token="REDACTED",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 04 Feb 2020 06:07:21 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 962314ad139bd7efb6b581060b1d327d
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '898'
      X-Rate-Limit-Reset:
      - '1580797340'
      X-Response-Time:
      - '124'
      X-Transaction:
      - 0022b3b0007f2a30
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"created_at":"Mon Feb 03 20:20:43 +0000 2020","id":1224427517869809666,"id_str":"1224427517869809666","text":"@jackmcdade
        https:\/\/t.co\/F6gtITRgvK as an open source solution","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"jackmcdade","name":"Jack
        McDade\u2728\ud83d\udcfa\u2728","id":10737152,"id_str":"10737152","indices":[0,11]}],"urls":[{"url":"https:\/\/t.co\/F6gtITRgvK","expanded_url":"http:\/\/zammad.com","display_url":"zammad.com","indices":[12,35]}]},"source":"\u003ca
        href=\"https:\/\/tapbots.com\/software\/tweetbot\/mac\" rel=\"nofollow\"\u003eTweetbot
 [...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1372613935/image_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Thu, 04 Nov 2010 01:42:54 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/8 profile_images/1372613935
      X-Connection-Hash:
      - af7ab6266348ffac8cbb4aa67ea19c4e
      [...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=F%C3%BCrth,%20Bayern&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Tue, 04 Feb 2020 06:07:23 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/772697070549528579/HFxWLHRD_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Mon, 05 Sep 2016 07:23:12 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/1 profile_images/772697070549528579
      X-Connection-Hash:
      - 3b5e4da44f99eb558e59[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Islamabad&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Tue, 04 Feb 2020 06:07:24 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1199283040230526976/hqPrCBIi_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Tue, 26 Nov 2019 11:03:33 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/7 profile_images/1199283040230526976
      X-Connection-Hash:
      - 4391708ad051bd65bc[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Multan,%20Pakistan&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Tue, 04 Feb 2020 06:07:24 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1094738873039704066/-lDgIqkO_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Sun, 10 Feb 2019 23:22:21 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/9 profile_images/1094738873039704066
      X-Connection-Hash:
      - 78fd6a3d400935ec9b[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Obviously%20somewhere%20on%20Earth&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Tue, 04 Feb 2020 06:07:25 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1218882247870353408/MkRU56G4_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Sun, 19 Jan 2020 13:03:48 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/1 profile_images/1218882247870353408
      X-Connection-Hash:
      - 73d106552eb5d9300d[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1121064385504534529/-Wgf9Ot2_bigger.png
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/png
      Last-Modified:
      - Wed, 24 Apr 2019 14:50:32 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/2 profile_images/1121064385504534529
      X-Connection-Hash:
      - d794e5057dfcb8c176f[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/785412960797745152/wxdIvejo_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Mon, 10 Oct 2016 09:31:36 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/7 profile_images/785412960797745152
      X-Connection-Hash:
      - c495a3ef02e4fc034e72[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/775801870518456320/a-UapAbd_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Tue, 13 Sep 2016 21:00:34 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/1 profile_images/775801870518456320
      X-Connection-Hash:
      - d1623eb5644d8a6924ac[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1207773446798602240/B8GcNx4d_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Thu, 19 Dec 2019 21:21:23 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/3 profile_images/1207773446798602240
      X-Connection-Hash:
      - 7527d05c8bc7c0f333[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Dresden,%20Germany&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Tue, 04 Feb 2020 06:07:30 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/651386341171703809/t2jAQDHu_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Tue, 06 Oct 2015 13:17:40 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/1 profile_images/651386341171703809
      X-Connection-Hash:
      - 9a3325add8fd54617c39[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Munich,%20Germany&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Tue, 04 Feb 2020 06:07:31 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/695741537964179461/2xwxUiGU_bigger.png
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/png
      Last-Modified:
      - Fri, 05 Feb 2016 22:49:23 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/8 profile_images/695741537964179461
      X-Connection-Hash:
      - 07e9c29bdb6caa8e86011[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Tirana,%20Albania&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Tue, 04 Feb 2020 06:07:32 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1189466673532854272/ZZRN4sw8_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Wed, 30 Oct 2019 08:56:48 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/7 profile_images/1189466673532854272
      X-Connection-Hash:
      - b140b365ea73f0d34e[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=India&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Tue, 04 Feb 2020 06:07:33 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1203364293552427008/_KFRXMoC_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Sat, 07 Dec 2019 17:20:59 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/6 profile_images/1203364293552427008
      X-Connection-Hash:
      - 73f0d65b4198134d08[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1013540643988049920/y49Ifgdi_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Sun, 01 Jul 2018 21:49:34 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/2 profile_images/1013540643988049920
      X-Connection-Hash:
      - b6abf8329d70ed4022[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Berlin,%20Deutschland&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Tue, 04 Feb 2020 06:07:34 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1095305778460798983/mA-tSgeW_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Tue, 12 Feb 2019 12:55:02 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/9 profile_images/1095305778460798983
      X-Connection-Hash:
      - 4f62d93a7d984d9f6c[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/832141531255623681/D-mNs8yL_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Thu, 16 Feb 2017 08:14:16 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/8 profile_images/832141531255623681
      X-Connection-Hash:
      - 8b1044a4643f6b81360b[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Compute%20engineTM&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Tue, 04 Feb 2020 06:07:35 GMT
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1218685451793362945/GfdbCX8w_bigger.png
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/png
      Last-Modified:
      - Sun, 19 Jan 2020 00:01:48 GMT
      Surrogate-Key:
      - profile_images profile_images/bucket/7 profile_images/1218685451793362945
      X-Connection-Hash:
      - b894a9af26bc849bf81[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&include_entities=1&max_id=1221826904430346239&q=zammad&result_type=mixed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="REDACTED", oauth_nonce="aeaf906f8767cadcf09c4c5a10532123",
        oauth_signature="zsUNwbi7cqDERnuzS%2Faz%2Fztqxiw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1580796456", oauth_token="REDACTED",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 04 Feb 2020 06:07:36 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 480636c4358b5b3f4135db1aaf625a51
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1580797338'
      X-Response-Time:
      - '181'
      X-Transaction:
      - 00c549fc00aa1d57
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.07,"max_id":1221826904430346239,"max_id_str":"1221826904430346239","query":"zammad","refresh_url":"?since_id=1221826904430346239&q=zammad&result_type=mixed&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Tue, 04 Feb 2020 06:07:36 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=hash_tag1&result_type=mixed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="REDACTED", oauth_nonce="58fd5ddd399a461ee8569ef9df88ee50",
        oauth_signature="itBgKdu4ephlrJ7iZzQATIF1eHU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1580796456", oauth_token="REDACTED",
        oauth_version="1.0"
  response:
    s[...]
[...]
