Změna hesla pro přístup na web #{config.product_name} 

<p>Dobrý den #{user.firstname},</p>
<br>
<p>Heslo pro Váš účet registrovaný na webu #{config.product_name} pro uživatelské jméno <b>#{user.login}</b> bylo právě změněno.</p>
<br>
<p>Nic o této aktivitě nevíte? Pokud ano, kontaktujte Vašeho administrátora systému.</p>
<br>
<p>S pozdravem,</p>
<br>
<p>Tým webu #{config.product_name}</p>
