Změna hesla pro přístup do aplikace #{config.product_name} 

<p>Dobrý den, #{user.firstname},</p>
<br>
<p>Heslo pro Váš účet registrovaný v aplikaci #{config.product_name} pro uživatelské jméno <b>#{user.login}</b> bylo právě změněno.</p>
<br>
<p>Pokud si této aktivity nejste vědomi, kontaktujte ihned správce Vašeho systému podpory.</p>
<br>
<p>S pozdravem,<br>
Tým aplikace #{config.product_name}</p>
