Ihr #{config.product_name} Passwort wurde geändert

<div>Hallo #{user.firstname} #{user.lastname},</div>
<br>
<div>das Passwort für Ihren #{config.product_name} Account <b>#{user.login}</b> wurde kürzlich geändert.</div>
<br>
<div>Diese Aktivität ist Ihnen nicht bekannt? In diesem Fall kontaktieren Sie Ihren Systemadministrator.</div>
<br>
<div>Ihr #{config.product_name} Team</div>
