Dein #{config.product_name} Passwort wurde geändert

<div>Hallo #{user.firstname},</div>
<br>
<div>das Passwort für Dein #{config.product_name} Account <b>#{user.login}</b> wurde kürzlich geändert.</div>
<br>
<div>Diese Aktivität ist Dir nicht bekannt? In diesen Fall kontaktiere Deinen System-Administrator.</div>
<br>
<div>Dein #{config.product_name} Team</div>
