Ihr #{config.product_name} Passwort wurde geändert

<div>Hallo #{user.firstname} #{user.lastname},</div>
<br>
<div>das Passwort für Ihren #{config.product_name} Account <b>#{user.login}</b> wurde kürzlich geändert.</div>
<br>
<div>Diese Aktivität ist Ihnen nicht bekannt? In diesem Fall kontaktieren Sie Ihren Systemadministrator.</div>
<br>
<div>Ihr #{config.product_name} Team</div>
<p>Let VIAcode deal with these alerts & manage your Azure cloud operation for free; <a href="https://www.viacode.com/services/azure-managed-services/?utm_source=product&utm_medium=email&utm_campaign=VIMS&utm_content=passwordchangeemail">activate here</a></p>
