Your #{config.product_name} password has been changed

<p>Hi #{user.firstname},</p>
<br>
<p>The password for your #{config.product_name} account <b>#{user.login}</b> has been changed recently.</p>
<br>
<p>This activity is not known to you? If not, contact your system administrator.</p>
<br>
<p>Your #{config.product_name} Team</p>
