Su contraseña para acceder a #{config.product_name} ha sido cambiada

<div>Buenos días, #{user.firstname}:</div>
<br>
<div>La contraseña para acceder a #{config.product_name} a través de la cuenta #{user.login}</b> ha cambiado recientemente.</div>
<br>
<div>¿Le resulta extraña esta actividad? Si es así, contacte con el administrador del sistema.</div>
<br>
<div>El equipo de #{config.product_name}</div>
