La contraseña para #{config.product_name} ha sido cambiada

<div>Buenos días #{user.firstname},</div>
<br>
<div>la contraseña para acceder a #{config.product_name} cuenta #{user.login}</b> ha cambiado recientemente. </div>
<br>
<div>¿Esta actividad es desconocida para vosotros? En este caso, ponerse en contacto con su administrador de sistema.</div>
<br>
<div>Siempre atentamente </div>
<br>
<div>El equipo #{config.product_name} </div>