Votre mot de passe pour #{config.product_name} a été changé !

<p>Bonjour #{user.firstname},</p>
<br>
<p>Le mot de passe de votre compte sur #{config.product_name} <b>#{user.login}</b> a été changé récemment.</p>
<br>
<p>Êtes-vous à l'origine de cette demande ? Dans le cas contraire, merci de contacter votre administrateur.</p>
<br>
<p>Votre équipe #{config.product_name}</p>
