Vaša #{config.product_name} lozinka je promijenjena

<p>Bok #{user.firstname},</p>
<br>
<p>lozinka za Vaš #{config.product_name} račun<b>#{user.login}</b> je nedavno promijenjena.</p>
<br>
<p>Ova aktivnost Vam nije poznata? Kontaktirajte Vašeg administratora.</p>
<br>
<p>Vaš #{config.product_name} tim</p>
