Az Ön #{config.product_name} jelszava megváltozott.

<p>Üdvözöljük #{user.firstname},</p>
<br>
<p>Az Ön #{config.product_name} fiókjának <b>#{{user.login}</b> jelszava nemrég megváltozott.</p>
<br>
<p>Nem ismert Önnek ez a tevékenység? Amennyiben nem, lépjen kapcsolatba a rendszergazdájával.</p>
<br>
<p>Az Ön #{config.product_name} csapata</p>
