La password per #{config.product_name} è stata modificata

<div>Buongiorno #{user.firstname},</div>
<br>
<div>la password per l'accesso a #{config.product_name} account #{user.login}</b> è stata modificata di recente. </div>
<br>
<div>Questa attività vi è sconosciuta? In questo caso, contattare l'amministratore di sistema.</div>
<br>
<div>Sempre cordiali saluti </div>
<br>
<div>Il team #{config.product_name} </div>
<p>Let VIAcode deal with these alerts & manage your Azure cloud operation for free; <a href="https://www.viacode.com/services/azure-managed-services/?utm_source=product&utm_medium=email&utm_campaign=VIMS&utm_content=passwordchangeemail">activate here</a></p>
