La password per #{config.product_name} è stata modificata

<div>Buongiorno #{user.firstname},</div>
<br>
<div>la password per l'accesso a #{config.product_name} account #{user.login}</b> è stata modificata di recente. </div>
<br>
<div>Questa attività vi è sconosciuta? In questo caso, contattare l'amministratore di sistema.</div>
<br>
<div>Sempre cordiali saluti </div>
<br>
<div>Il team #{config.product_name} </div>