Jūsų #{config.product_name} slaptažodis buvo pakeistas

<p>Sveiki #{user.firstname},</p>
<br>
<p>Jūsų #{config.product_name} paskyros <b>#{user.login}</b> slaptažodis ką tik buvo pakeistas.</p>
<br>
<p>Ar šis veiksmas jums žinomas? Jei ne, susisiekite su savo sistemos administratoriumi.</p>
<br>
<p>Jūsų #{config.product_name} komanda</p>
