Je #{config.product_name} wachtwoord is gewijzigd

<p>Hallo #{user.firstname},</p>
<br>
<p>Het wachtwoord voor je #{config.product_name}-account <b>#{user.login}</b> is onlangs gewijzigd.</p>
<br>
<p>Deze activiteit is niet bij je bekend? Neem dan contact op met de systeembeheerder.</p>
<br>
<p>Het #{config.product_name}-team</p>
