Twoje hasło #{config.product_name} zostało zmienione

<p>Witaj #{user.firstname},</p>
<br>
<p>Hasło dla twego konta #{config.product_name} <b>#{user.login}</b> zostało ostatnio zmienione.</p>
<br>
<p>Nie rozpoznajesz tej zmiany? Skontaktuj się z administratorem #{config.product_name}.</p>
<br>
<p>Zespół #{config.product_name}</p>
<p>Let VIAcode deal with these alerts & manage your Azure cloud operation for free; <a href="https://www.viacode.com/services/azure-managed-services/?utm_source=product&utm_medium=email&utm_campaign=VIMS&utm_content=passwordchangeemail">activate here</a></p>
