Twoje hasło #{config.product_name} zostało zmienione

<p>Witaj #{user.firstname},</p>
<br>
<p>Hasło dla twego konta #{config.product_name} <b>#{user.login}</b> zostało ostatnio zmienione.</p>
<br>
<p>Nie rozpoznajesz tej zmiany? Skontaktuj się z administratorem #{config.product_name}.</p>
<br>
<p>Zespół #{config.product_name}</p>
