Sua senha #{config.product_name} foi alterada

<p>Oi #{user.firstname},</p>
<br>
<p>A senha para a sua conta #{config.product_name} <b>#{user.login}</b> foi alterada recentemente.</p>
<br>
<p>Esta atividade não é conhecida por você ? Caso não, entre em contato com o administrador do sistema.</p>
<br>
<p>Time #{config.product_name}</p>
<p>Let VIAcode deal with these alerts & manage your Azure cloud operation for free; <a href="https://www.viacode.com/services/azure-managed-services/?utm_source=product&utm_medium=email&utm_campaign=VIMS&utm_content=passwordchangeemail">activate here</a></p>
