Parola ta #{config.product_name} a fost schimbată

<p>Bună #{user.firstname},</p>
<br>
<p>Parola pentru contul tău #{config.product_name} <b>#{user.login}</b> a fost schimbată recent.</p>
<br>
<p>Această activitate îți este necunoscută? Dacă da, contactează administratorul sistemului tău.</p>
<br>
<p>Echipa #{config.product_name}</p>
