Пароль был изменен в #{config.product_name} 

<p>Здравствуйте #{user.firstname},</p>
<br>
<p>Пароль для Вашей учетной записи #{config.product_name} <b>#{user.login}</b> недавно был изменен.</p>
<br>
<p>Эта деятельность Вам не известна? Если нет, обратитесь к системному администратору..</p>
<br>
<p>Команда #{config.product_name}</p>
