Ваш пароль #{config.product_name} был изменен

<p>Здравствуйте, #{user.firstname},</p>
<br>
<p>Пароль к Вашей учётной записи #{config.product_name} <b>#{user.login}</b> был недавно изменён.</p>
<br>
<p>Это действие Вам известно? Если нет, обратитесь к системному администратору.</p> <br> <p>
<br>
<p>Ваша команда #{config.product_name}</p>
