Vaša #{config.product_name} lozinka je promenjena

<p>Zdravo #{user.firstname},</p>
<br>
<p>Lozinka za vaš #{config.product_name} nalog <b>#{user.login}</b> je nedavno promenjena.</p>
<br>
<p>Ova aktivnost vam nije poznata? Kontaktirajte vašeg sistem administratora.</p>
<br>
<p>Vaš #{config.product_name} tim</p>
