Ваша #{config.product_name} лозинка је промењена

<p>Здраво #{user.firstname},</p>
<br>
<p>Лозинка за ваш #{config.product_name} налог <b>#{user.login}</b> је недавно промењена.</p>
<br>
<p>Ова активност вам није позната? Контактирајте вашег систем администратора.</p>
<br>
<p>Ваш #{config.product_name} тим</p>
