Ditt #{config.product_name} lösenord har ändrats

<p>Hej #{user.firstname},</p>
<br>
<p>Lösenordet för ditt #{config.product_name} konto <b>#{user.login}</b> har nyligen ändrats.</p>
<br>
<p>Om det inte var du? Kontakta sin systemadministratör.</p>
<br>
<p>Ditt #{config.product_name} Team</p>
