#{config.product_name} parolanız değiştirildi

<p>Merhaba #{user.firstname},</p>
<br>
<p>Kullanıcı adı <b>#{user.login}</b> olan #{config.product_name} hesabınızın parolası yakın zamanda değiştirildi.</p>
<br>
<p>Bu etkinlik sizin bilginiz dahilinde değil mi? Değilse, sistem yöneticinizle iletişime geçin.</p>
<br>
<p>#{config.product_name} Ekibiniz</p>
