您在 #{config.product_name} 上的密码已经更改

<p>您好, #{user.firstname}:</p>
<br>
<p>您在 #{config.product_name} 上的帐号 <b>#{user.login}</b> 的密码最近被更改.</p>
<br>
<p>如果您对此不知情, 请立即联络系统管理员.</p>
<br>
<div>您的 #{config.product_name} 团队</div>
