你在 #{config.product_name} 上的密碼已被更動

<p>你好, #{user.firstname}:</p>
<br>
<p>你在 #{config.product_name} 上的賬號 <b>#{user.login}</b> 的密碼最近被更動.</p>
<br>
<p>如果你對此情形不了解, 請立聯絡系統管理員.</p>
<br>
<div>你的 #{config.product_name} 團隊</div>
