---
http_interactions:
- request:
    method: post
    uri: "<SLACK_CI_WEBHOOK_URL>"
    body:
      encoding: UTF-8
      string: '{"mrkdwn":true,"text":"# New article","attachments":[{"text":"_[Ticket#80002](http://zammad.example.com/#ticket/zoom/3|Ticket#80002):
        Updated by - at 04/18/2023  1:44 pm (UTC)_\n\n* Title: Another Slack Webhook
        Test -\u003e New article\n\nsome message 123","mrkdwn_in":["text"],"color":"#faab00"}]}'
    headers:
      X-Zammad-Trigger:
      - Test trigger 2
      X-Zammad-Delivery:
      - 20621ffa-0d86-412c-8414-4d5738b45913
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Unique-Id:
      - ZD6ezvTX3OH-0z3BB4l95gAAAAo
      X-Slack-Backend:
      - r
      Content-Type:
      - text/html
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-mjie
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: UTF-8
      string: ok
  recorded_at: Tue, 18 Apr 2023 13:44:46 GMT
- request:
    method: post
    uri: https://slack.com/api/auth.test
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <SLACK_CI_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 5be34d769c129ae91a93e4f58d049493
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - identify,channels:history,channels:read,chat:write
      X-Slack-Unique-Id:
      - ZD6ez1-USsTHffzyXfhaFAAAABY
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-ikoj
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"url":"https:\/\/zammaddevelopment.slack.com\/","team":"Zammad
        Development","user":"development","team_id":"T04PAE1JDD1","user_id":"U04Q084V9QQ","is_enterprise_install":false}'
  recorded_at: Tue, 18 Apr 2023 13:44:47 GMT
- request:
    method: post
    uri: https://slack.com/api/conversations.list
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <SLACK_CI_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - efd3e1a54004bff5379b3eaab2274d61
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Oauth-Scopes:
      - identify,channels:history,channels:read,chat:write
      X-Slack-Unique-Id:
      - ZD6ezw7vIjL5-mD8BmcAEAAAEAE
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-oqcq
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C04P7MS4WPP","name":"<SLACK_CI_CHANNEL_NAME>","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1676287456,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"<SLACK_CI_CHANNEL_NAME>","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"context_team_id":"T04PAE1JDD1","updated":1676289623188,"parent_conversation":null,"creator":"U04Q084V9QQ","is_ext_shared":false,"shared_team_ids":["T04PAE1JDD1"],"pending_connected_team_ids":[],"is_member":true,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"Zammad
        CI - Test Channel","creator":"U04Q084V9QQ","last_set":1676287457},"previous_names":[],"num_members":2},{"id":"C04Q0850XFA","name":"general","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1676286228,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"context_team_id":"T04PAE1JDD1","updated":1681220820645,"parent_conversation":null,"creator":"U04Q084V9QQ","is_ext_shared":false,"shared_team_ids":["T04PAE1JDD1"],"pending_connected_team_ids":[],"is_member":true,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"This
        is the one channel that will always include everyone. It\u2019s a great spot
        for announcements and team-wide conversations.","creator":"U04Q084V9QQ","last_set":1676286228},"previous_names":[],"num_members":1}],"response_metadata":{"next_cursor":""}}'
  recorded_at: Tue, 18 Apr 2023 13:44:47 GMT
- request:
    method: post
    uri: https://slack.com/api/conversations.history
    body:
      encoding: UTF-8
      string: channel=C04P7MS4WPP
    headers:
      Authorization:
      - Bearer <SLACK_CI_OAUTH_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 65b14824a1fbeb29fcd3a12c9b7f2e31
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:history,groups:history,mpim:history,im:history,read
      X-Oauth-Scopes:
      - identify,channels:history,channels:read,chat:write
      X-Slack-Unique-Id:
      - ZD6ezzpIh1aLmAuOo1bESwAAABA
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-bfpz
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"messages":[{"type":"message","subtype":"bot_message","text":"#
        New article","ts":"1681825486.769519","bot_id":"B04PDGJS4CC","blocks":[{"type":"rich_text","block_id":"s+Vh","elements":[{"type":"rich_text_section","elements":[{"type":"text","text":"#
        New article"}]}]}],"attachments":[{"id":1,"color":"faab00","fallback":"_[Ticket#80002](<http:\/\/zammad.example.com\/#ticket\/zoom\/3%7CTicket#80002>):
        Updated by - at 04\/18\/2023  1:44 pm (UTC)_\n\n* Title: Another Slack Webhook
        Test -&gt; New article\n\nsome message 123","text":"_[Ticket#80002](<http:\/\/zammad.example.com\/#ticket\/zoom\/3%7CTicket#80002>):
        Updated by - at 04\/18\/2023  1:44 pm (UTC)_\n\n* Title: Another Slack Webhook
        Test -&gt; New article\n\nsome message 123","mrkdwn_in":["text"]}]},{"type":"message","subtype":"bot_message","text":"#
        Slack Webhook Test","ts":"1681825485.602349","bot_id":"B04PDGJS4CC","blocks":[{"type":"rich_text","block_id":"mPp","elements":[{"type":"rich_text_section","elements":[{"type":"text","text":"#
        Slack Webhook Test"}]}]}],"attachments":[{"id":1,"color":"faab00","fallback":"_[Ticket#80002](<http:\/\/zammad.example.com\/#ticket\/zoom\/2%7CTicket#80002>):
        Created by - at 04\/18\/2023  1:44 pm (UTC)_\n\n* Group: Users\n* Owner: -\n*
        State: new","text":"_[Ticket#80002](<http:\/\/zammad.example.com\/#ticket\/zoom\/2%7CTicket#80002>):
        Created by - at 04\/18\/2023  1:44 pm (UTC)_\n\n* Group: Users\n* Owner: -\n*
        State: new","mrkdwn_in":["text"]}]},{"type":"message","subtype":"bot_message","text":"#
        A example ticket for testing","ts":"1681824183.238049","bot_id":"B04PDGJS4CC","blocks":[{"type":"rich_text","block_id":"NE7z","elements":[{"type":"rich_text_section","elements":[{"type":"text","text":"#
        A ex[...]
