---
http_interactions:
- request:
    method: post
    uri: "<SLACK_CI_WEBHOOK_URL>"
    body:
      encoding: UTF-8
      string: '{"mrkdwn":true,"text":"# Slack Webhook Test","attachments":[{"text":"_[Ticket#80002](http://zammad.example.com/#ticket/zoom/2|Ticket#80002):
        Created by - at 04/18/2023  1:44 pm (UTC)_\n\n* Group: Users\n* Owner: -\n*
        State: new\n\n","mrkdwn_in":["text"],"color":"#faab00"}]}'
    headers:
      X-Zammad-Trigger:
      - Test trigger 1
      X-Zammad-Delivery:
      - ca60aef4-6fb0-4cd2-a7c1-5db4689a65c1
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Unique-Id:
      - ZD6ezYKEyTGgD5CFscgOiAAAAAI
      X-Slack-Backend:
      - r
      Content-Type:
      - text/html
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-prvx
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: UTF-8
      string: ok
  recorded_at: Tue, 18 Apr 2023 13:44:45 GMT
- request:
    method: post
    uri: https://slack.com/api/auth.test
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <SLACK_CI_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 4ac9d2e556353946a94deb16bd9c423b
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - identify,channels:history,channels:read,chat:write
      X-Slack-Unique-Id:
      - ZD6ezQJLl_oJgKVkiGsx2gAAEDw
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-pcjt
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"url":"https:\/\/zammaddevelopment.slack.com\/","team":"Zammad
        Development","user":"development","team_id":"T04PAE1JDD1","user_id":"U04Q084V9QQ","is_enterprise_install":false}'
  recorded_at: Tue, 18 Apr 2023 13:44:45 GMT
- request:
    method: post
    uri: https://slack.com/api/conversations.list
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <SLACK_CI_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - f0b11d98043f6799673c422728d8ad9e
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Oauth-Scopes:
      - identify,channels:history,channels:read,chat:write
      X-Slack-Unique-Id:
      - ZD6ezpssrMb8pUARnuIWdQAAADY
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-zxkw
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C04P7MS4WPP","name":"<SLACK_CI_CHANNEL_NAME>","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1676287456,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"<SLACK_CI_CHANNEL_NAME>","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"context_team_id":"T04PAE1JDD1","updated":1676289623188,"parent_conversation":null,"creator":"U04Q084V9QQ","is_ext_shared":false,"shared_team_ids":["T04PAE1JDD1"],"pending_connected_team_ids":[],"is_member":true,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"Zammad
        CI - Test Channel","creator":"U04Q084V9QQ","last_set":1676287457},"previous_names":[],"num_members":2},{"id":"C04Q0850XFA","name":"general","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1676286228,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"context_team_id":"T04PAE1JDD1","updated":1681220820645,"parent_conversation":null,"creator":"U04Q084V9QQ","is_ext_shared":false,"shared_team_ids":["T04PAE1JDD1"],"pending_connected_team_ids":[],"is_member":true,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"This
        is the one channel that will always include everyone. It\u2019s a great spot
        for announcements and team-wide conversations.","creator":"U04Q084V9QQ","last_set":1676286228},"previous_names":[],"num_members":1}],"response_metadata":{"next_cursor":""}}'
  recorded_at: Tue, 18 Apr 2023 13:44:46 GMT
- request:
    method: post
    uri: https://slack.com/api/conversations.history
    body:
      encoding: UTF-8
      string: channel=C04P7MS4WPP
    headers:
      Authorization:
      - Bearer <SLACK_CI_OAUTH_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - bdf8f932b2a9ed14fa5ad1a61e7bf2b8
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:history,groups:history,mpim:history,im:history,read
      X-Oauth-Scopes:
      - identify,channels:history,channels:read,chat:write
      X-Slack-Unique-Id:
      - ZD6ezgdkdV1LfD8kkCXJcwAAED8
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-rvrt
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"messages":[{"type":"message","subtype":"bot_message","text":"#
        Slack Webhook Test","ts":"1681825485.602349","bot_id":"B04PDGJS4CC","blocks":[{"type":"rich_text","block_id":"xZOe=","elements":[{"type":"rich_text_section","elements":[{"type":"text","text":"#
        Slack Webhook Test"}]}]}],"attachments":[{"id":1,"color":"faab00","fallback":"_[Ticket#80002](<http:\/\/zammad.example.com\/#ticket\/zoom\/2%7CTicket#80002>):
        Created by - at 04\/18\/2023  1:44 pm (UTC)_\n\n* Group: Users\n* Owner: -\n*
        State: new","text":"_[Ticket#80002](<http:\/\/zammad.example.com\/#ticket\/zoom\/2%7CTicket#80002>):
        Created by - at 04\/18\/2023  1:44 pm (UTC)_\n\n* Group: Users\n* Owner: -\n*
        State: new","mrkdwn_in":["text"]}]},{"type":"message","subtype":"bot_message","text":"#
        A example ticket for testing","ts[...]
