---
http_interactions:
- request:
    method: post
    uri: "<SLACK_CI_WEBHOOK_URL>"
    body:
      encoding: UTF-8
      string: '{"mrkdwn":true,"text":"# Slack Webhook Test (Reminder reached)","attachments":[{"text":"_[Ticket#81002](http://zammad.example.com/#ticket/zoom/2):
        Reminder reached!_\n\nA ticket needs attention: reminder reached for (Slack
        Webhook Test (Reminder reached)) with customer \"*Thalia O''Hara*\".\n\n","mrkdwn_in":["text"],"color":"#faab00"}]}'
    headers:
      X-Zammad-Trigger:
      - Test trigger 1
      X-Zammad-Delivery:
      - f8f1b51e-89b1-49aa-b8c9-36ddceb5677e
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Unique-Id:
      - ZD-kJiPIIU1T1nhCgThwiQAAEBU
      X-Slack-Backend:
      - r
      Content-Type:
      - text/html
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-rswd
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: UTF-8
      string: ok
  recorded_at: Wed, 19 Apr 2023 08:19:50 GMT
- request:
    method: post
    uri: https://slack.com/api/auth.test
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <SLACK_CI_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - cb4ab1301235085c9834b8f2758bb2f9
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - identify,channels:history,channels:read,chat:write
      X-Slack-Unique-Id:
      - ZD-kJjk4AkEpgNY39L7a7wAAECs
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-gryp
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"url":"https:\/\/zammaddevelopment.slack.com\/","team":"Zammad
        Development","user":"development","team_id":"T04PAE1JDD1","user_id":"U04Q084V9QQ","is_enterprise_install":false}'
  recorded_at: Wed, 19 Apr 2023 08:19:50 GMT
- request:
    method: post
    uri: https://slack.com/api/conversations.list
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <SLACK_CI_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 12ce0af05740336b9c057064924397e3
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Oauth-Scopes:
      - identify,channels:history,channels:read,chat:write
      X-Slack-Unique-Id:
      - ZD-kJprfkmcUsddxEPYXBAAAIDo
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-ombu
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C04P7MS4WPP","name":"<SLACK_CI_CHANNEL_NAME>","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1676287456,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"<SLACK_CI_CHANNEL_NAME>","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"context_team_id":"T04PAE1JDD1","updated":1676289623188,"parent_conversation":null,"creator":"U04Q084V9QQ","is_ext_shared":false,"shared_team_ids":["T04PAE1JDD1"],"pending_connected_team_ids":[],"is_member":true,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"Zammad
        CI - Test Channel","creator":"U04Q084V9QQ","last_set":1676287457},"previous_names":[],"num_members":2},{"id":"C04Q0850XFA","name":"general","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1676286228,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"context_team_id":"T04PAE1JDD1","updated":1681220820645,"parent_conversation":null,"creator":"U04Q084V9QQ","is_ext_shared":false,"shared_team_ids":["T04PAE1JDD1"],"pending_connected_team_ids":[],"is_member":true,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"This
        is the one channel that will always include everyone. It\u2019s a great spot
        for announcements and team-wide conversations.","creator":"U04Q084V9QQ","last_set":1676286228},"previous_names":[],"num_members":1}],"response_metadata":{"next_cursor":""}}'
  recorded_at: Wed, 19 Apr 2023 08:19:50 GMT
- request:
    method: post
    uri: https://slack.com/api/conversations.history
    body:
      encoding: UTF-8
      string: channel=C04P7MS4WPP
    headers:
      Authorization:
      - Bearer <SLACK_CI_OAUTH_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 8b450ac74d449a4c3002f8acf5fca5df
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:history,groups:history,mpim:history,im:history,read
      X-Oauth-Scopes:
      - identify,channels:history,channels:read,chat:write
      X-Slack-Unique-Id:
      - ZD-kJlYKwcYgmw56LWfwGwAAEDY
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-dsif
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"messages":[{"type":"message","subtype":"bot_message","text":"#
        Slack Webhook Test (Reminder reached)","ts":"1681892390.086619","bot_id":"B04PDGJS4CC","blocks":[{"type":"rich_text","block_id":"IooOF","elements":[{"type":"rich_text_section","elements":[{"type":"text","text":"#
        Slack Webhook Test (Reminder reached)"}]}]}],"attachments":[{"id":1,"color":"faab00","fallback":"_[Ticket#81002](<http:\/\/zammad.example.com\/#ticket\/zoom\/2>):
        Reminder reached!_\n\nA ticket needs attention: reminder reached for (Slack
        Webhook Test (Reminder reached)) with customer \"*Thalia O''Hara*\".","text":"_[Ticket#81002](<http:\/\/zammad.example.com\/#ticket\/zoom\/2>):
        Reminder reached!_\n\nA ticket needs attention: reminder reached for (Slack
        Webhook Test (Reminder reached)) with customer \"*Thalia O''Hara*\".","mrkdwn_in":["text"]}]},{"type":"me[...]
