Sloučení jiného ticketu do (#{ticket.title})

<div>Dobrý den, #{recipient.firstname},</div>
<br>
<div>
Do ticketu (#{ticket.title}) byl sloučen jiný ticket uživatelem "<b>#{current_user.longname}</b>".
</div>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">View this in #{config.product_name}</a>
</div>
