Endnu en sag blev fusioneret med sag (#{ticket.title})

<div>Hej #{recipient.firstname},</div>
<br>
<div>
Endnu en sag blev fusioneret med sag (#{ticket.title}) af "<b>#{current_user.longname}</b>".
</div>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Se dette i #{config.product_name}</a>
</div>
