Un alt tichet a fuzionat cu tichetul (#{ticket.title})

<div>Bună #{recipient.firstname},</div>
<br>
<div>
Un alt tichet a fuzionat cu tichetul (#{ticket.title}) aparținând lui "<b>#{current_user.longname}</b>".
</div>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Vezi asta în #{config.product_name}</a>
</div>
