Другой тикет был слит с тикетом (#{ticket.title})

<div>Hi #{recipient.firstname},</div>
<br>
<div>
Другой тикет был слит с тикетом (#{ticket.title}) пользователем "<b>#{current_user.longname}</b>".
</div>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">#{t('View this in Zammad')}</a>
</div>
