Tiket je spojen sa tiketom (#{ticket.title})

<div>Hi #{recipient.firstname},</div>
<br>
<div>
Tiket je spojen sa tiketom (#{ticket.title}) od strane „<b>#{current_user.longname}</b>”.
</div>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Pogledaj u #{config.product_name}</a>
</div>
