ตั๋วอีกใบถูกรวมเข้ากับตั๋ว (#{ticket.title})<
div>Hi #{recipient.firstname},</div>
<br>
<div>
ตั๋วอีกใบถูกรวมเข้ากับตั๋ว (#{ticket.title}) โดย "<b>#{current_user.longname}</b>"
</div>
<br>
<div>
<a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket. id}" target="zammad_app">ดูสิ่งนี้ใน #{config.product_name}</a></div>
