Başka bir bilet (#{ticket.title}) biletiyle birleştirildi

<div>Merhaba #{recipient.firstname},</div>
<br>
<div>
Başka bir bilet (#{ticket.title}) biletiyle "<b>#{current_user.longname}</b>" tarafından birleştirildi.
</div>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Bunu #{config.product_name} içinde görüntüleyin</a>
</div>
