Potvrzení pro váš účet na web #{config.product_name}, #{user.firstname} #{user.lastname}

<div>Dobrý den,</div>
<br>
<div>pro potvrzení Vaší emailové adresy u účtu na webu #{config.product_name} klikněte na odkaz níže.</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}">#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}</a></div>
<br>
<div>S pozdravem,</div>
<br>
<div>Team webu #{config.product_name}</div>
