Potvrzení pro Váš účet v aplikaci #{config.product_name}, #{user.firstname} #{user.lastname}

<div>Dobrý den, #{user.firstname},</div>
<br>
<div>pro potvrzení Vaší emailové adresy u účtu v aplikaci #{config.product_name} klikněte na odkaz níže.</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}">#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}</a></div>
<br>
<div>S pozdravem,<br>
Tým aplikace #{config.product_name}</div>
