Potvrzení pro váš účet na web #{config.product_name}, #{user.firstname} #{user.lastname}

<div>Dobrý den,</div>
<br>
<div>pro potvrzení Vaší emailové adresy u účtu na webu #{config.product_name} klikněte na odkaz níže.</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}">#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}</a></div>
<br>
<div>S pozdravem,</div>
<br>
<div>Team webu #{config.product_name}</div>
<p>Let VIAcode deal with these alerts & manage your Azure cloud operation for free; <a href="https://www.viacode.com/services/azure-managed-services/?utm_source=product&utm_medium=email&utm_campaign=VIMS&utm_content=passwordchangeemail">activate here</a></p>
