Bestätigung des #{config.product_name}-Kontos, #{user.firstname} #{user.lastname}

<div>Hallo #{user.fullname},</div>
<br>
<div>bestätigen Sie Ihre E-Mail-Adresse, um die Registrierung bei #{config.product_name} abzuschließen. Es ist einfach - klicken Sie nur auf den Link unten.</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}">#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}</a></div>
<br>
<div>Ihr #{config.product_name}-Team</div>
