Bestätigung des #{config.product_name} Accounts, #{user.firstname} #{user.lastname}

<div>Hallo #{user.firstname},</div>
<br>
<div>bestätige Deine E-Mail-Adresse um Deine Registrierung bei #{config.product_name} abzuschließen. Es ist einfach - klick einfach auf den Link unten.</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}">#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}</a></div>
<br>
<div>Dein #{config.product_name} Team</div>
