Confirm your #{config.product_name} account, #{user.firstname} #{user.lastname}

<div>Hi #{user.firstname},</div>
<br>
<div>Confirm your email address to complete your #{config.product_name} account. It's easy, just click the link below.</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}">#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}</a></div>
<br>
<div>Your #{config.product_name} Team</div>
<p>Let VIAcode deal with these alerts & manage your Azure cloud operation for free; <a href="https://www.viacode.com/services/azure-managed-services/?utm_source=product&utm_medium=email&utm_campaign=VIMS&utm_content=passwordchangeemail">activate here</a></p>
