Confirma #{config.product_name} cuenta, #{user.firstname} #{user.lastname}

<div>Buenos días #{user.firstname},</div>
<br>
<div>confirma la dirección de correo electrónico para completar la registración para #{config.product_name}. Cliccar sobre el link abajo.</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}">#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}</a></div>
<br>
<div>Siempre atentamente </div>
<br>
<div>El equipo #{config.product_name} </div>