Confirma tu cuenta #{config.product_name}, #{user.firstname} #{user.lastname}

<div>Hola, #{user.firstname}:</div>
<br>
<div>Confirme la dirección de correo electrónico para completar su cuenta de #{config.product_name}. Es sencillo, no hay más que pinchar en el enlace siguiente:</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>El equipo de #{config.product_name}</div>
