#{user.firstname} #{user.lastname}, merci de confirmer de votre compte sur #{config.product_name} 

<div>Bonjour #{user.firstname},</div>
<br>
<div>Merci de confirmer votre adresse email pour compléter la création de votre compte sur #{config.product_name}. C'est très simple, il vous suffit de cliquer sur le lien ci-dessous.</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}">#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}</a></div>
<br>
<div>Votre équipe #{config.product_name}</div>
