#{user.firstname} #{user.lastname}, confirmez votre compte #{config.product_name}

<div>Bonjour #{user.firstname},</div>
<br>
<div>Merci de confirmer votre adresse email pour compléter la création de votre compte sur #{config.product_name}. C'est très simple, il vous suffit de cliquer sur le lien ci-dessous.</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>L'équipe #{config.product_name}</div>
