Potvrdite svoj #{config.product_name} račun, #{user.firstname} #{user.lastname}

<div>Bok #{user.firstname},</div>
<br>
<div>potvrdite svoju mail adresu za dovršetak #{config.product_name} postavljanja. Vrlo je jednostavno, samo kliknite na link ispod.</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Vaš #{config.product_name} tim</div>
