Erősítse meg a #{config.product_name} fiókját, #{user.firstname} #{user.lastname}

<div>Üdvözöljük #{user.firstname},</div>
<br>
<div>Erősítse meg e-mail címét, hogy elkészüljön a #{config.product_name} fiókja. Ez könnyű, csak kattintson az alábbi linkre.</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}">#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}</a></div>
<br>
<div>Az Ön #{config.product_name} csapata</div>
