Conferma #{config.product_name} account, #{user.firstname} #{user.lastname}

<div>Buongiorno #{user.firstname},</div>
<br>
<div>confermare l'indirizzo email per completare la registrazione su #{config.product_name}. Cliccare sul link riportato sotto.</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}">#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}</a></div>
<br>
<div>Sempre cordiali saluti</div>
<br>
<div>Il team #{config.product_name} </div>