Conferma #{config.product_name} account, #{user.firstname} #{user.lastname}

<div>Buongiorno #{user.firstname},</div>
<br>
<div>confermare l'indirizzo email per completare la registrazione su #{config.product_name}. È facile, basta cliccare il link riportato sotto.</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Il team #{config.product_name}</div>
