Patvirtinkite savo #{config.product_name} paskyrą, #{user.firstname} #{user.lastname}

<div>Sveiki #{user.firstname},</div>
<br>
<div>Patvirtinkite savo #{config.product_name} paskyros el. pašo adresą. Paspauskite žemiau esančią nuorodą.</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Jūsų #{config.product_name} komanda</div>
