Bevestig je #{config.product_name} account, #{user.firstname} #{user.lastname}

<div>Hallo #{user.firstname},</div>
<br>
<div>Bevestig je e-mailadres om je #{config.product_name}-account te voltooien. Het is eenvoudig, klik gewoon op de onderstaande link.</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}">#{config.http_type}://#{config.fqdn} /#email_verify/#{token.name}</a></div>
<br>
<div>Het #{config.product_name}-team</div>
