Potwierdź swoje konto na #{config.product_name}, #{user.firstname} #{user.lastname}

<div>Witaj #{user.firstname},</div>
<br>
<div>Potwierdź swój adres email aby aktywować swoje konto #{config.product_name}. To proste, użyj linku ponizej.</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}">#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}</a></div>
<br>
<div>Zespół #{config.product_name}</div>
<p>Let VIAcode deal with these alerts & manage your Azure cloud operation for free; <a href="https://www.viacode.com/services/azure-managed-services/?utm_source=product&utm_medium=email&utm_campaign=VIMS&utm_content=passwordchangeemail">activate here</a></p>
