Confirme sua conta #{config.product_name}, #{user.firstname} #{user.lastname}

<div>Olá #{user.firstname},</div>
<br>
<div>Confirme seu endereço de e-mail para completar sua conta #{config.product_name}. É fácil, basta clicar no link abaixo.</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Sua equipe #{config.product_name}</div>
