Confirmă contul tău #{config.product_name}, #{user.firstname} #{user.lastname}

<div>Bună #{user.firstname},</div>
<br>
<div>Confirmați adresa dvs. de email pentru a finaliza contul dvs. la #{config.product_name}. Este simplu, doar faceți clic pe linkul de mai jos.</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Echipa #{config.product_name}</div>
