Подтвердите вашу учетную запись #{config.product_name}, #{user.firstname} #{user.lastname}

<div>Здравствуйте, #{user.firstname}.</div>
<br>
<div>Подтвердите свой адрес электронной почты, чтобы завершить учетную запись #{config.product_name}. Это легко, просто нажмите на ссылку ниже.</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}">#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}</a></div>
<br>
<div>Команда #{config.product_name}</div>
