#{user.firstname} #{user.lastname}, потврдите свој #{config.product_name} налог

<div>Здраво #{user.firstname},</div>
<br>
<div>Потврдите своју имејл адресу за отварање #{config.product_name} налога. Врло је једноставно, само кликните на линк испод.</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}">#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}</a></div>
<br>
<div>Ваш #{config.product_name} тим</div>
