Bekräfta ditt #{config.product_name}-konto, #{user.firstname} #{user.lastname}

<div>Hej #{user.firstname},</div>
<br>
<div>bekräfta din mejladress för att slutföra registreringen av ditt #{config.product_name}-konto. Det går snabbt. Klicka på länken nedan.</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Dina #{config.product_name}-administratörer</div>
