Bekräfta ditt #{config.product_name}-konto, #{user.firstname} #{user.lastname}

<div>Hej #{user.firstname},</div>
<br>
<div>bekräfta din mejladress för att slutföra ditt #{config.product_name}-konto. Det går snabbt. Klicka på länken nedan.</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}">#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}</a></div>
<br>
<div>Dina #{config.product_name}-administratörer</div>
