#{config.product_name} hesabınızı onaylayın, #{user.firstname} #{user.lastname}

<div>Merhaba #{user.firstname},</div>
<br>
<div>#{config.product_name} kaydınızı tamamlamak için e-posta adresinizi onaylayın. Aşağıdaki bağlantıya tıklamanız yeterli.</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#email_verify/#{token.token}">#{config.http_type}://#{config.fqdn}/#email_verify/#{token.token}</a></div>
<br>
<div>#{config.product_name} Ekibiniz</div>
