#{config.product_name} hesabınızı onaylayın, #{user.firstname} #{user.lastname}

<div>Merhaba #{user.firstname},</div>
<br>
<div>#{config.product_name} hesabınızı tamamlamak için e-posta adresinizi onaylayın. Çok kolay, aşağıdaki bağlantıya tıklamanız yeterli.</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>#{config.product_name} Ekibiniz</div>
