确认您的#{config.product_name}帐户、#{user.firstname} #{user.lastname}

<div>你好#{user.firstname}，</div>
<br>
<div>确认您的电子邮件地址以完成您的 #{config.product_name} 帐户。很简单，只需点击下面的链接即可。</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>您的#{config.product_name}团队</div>
