檢驗你在 #{config.product_name} 登記的電郵地址

<div>你好, #{user.firstname}:</div>
<br>
<div>檢驗你在登記 #{config.product_name} 時所輸入的電郵地址, 請點擊下面的網址.</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}">#{config.http_type}://#{config.fqdn}/#email_verify/#{token.name}</a></div>
<br>
<div>你的 #{config.product_name} 團隊</div>
