Nový ticket (#{ticket.title})

<div>Dobrý den,</div>
<br>
<div>byl vytvořen nový ticket (#{ticket.title}) uživatelem "<b>#{current_user.longname}</b>".</div>
<br>
<div>
Skupina: #{ticket.group.name}<br>
Vlastník: #{ticket.owner.fullname}<br>
Stav: #{t(ticket.state.name)}<br>
</div>
<br>
<% if @objects[:article] %>
  <div>
  Informace:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Zobrazit v aplikaci #{config.product_name}</a></div>
