Novi ticket (#{ticket.title})

<div>Bok #{recipient.firstname},</div>
<br>
<div>novi ticket (#{ticket.title}) je stvoren od strane „<b>#{current_user.longname}</b>”.</div>
<br>
<div>
Grupa: #{ticket.group.name}<br>
Vlasnik/ca: #{ticket.owner.fullname}<br>
Status: #{t(ticket.state.name)}<br>
</div>
<br>
<% if @objects[:article] %>
  <div>
  Informacije:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Pogledaj u #{config.product_name}</a>
</div>
