Nuovo ticket (#{ticket.title})

<div>Buongiorno #{recipient.firstname},</div>
<br>
<div>Un nuovo ticket (#{ticket.title}) è stato creato da "<b>##{current_user.longname}</b>".</div>.
<br>
<div>
Gruppo: #{ticket.group.name}<br>
Proprietario: #{ticket.owner.fullname}<br>
Stato: #{t(ticket.state.name)}<br>
</div>
<br>
<% if @objects[:article] %>
  <div>
  #{t('Information')}:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Visualizza su #{config.product_name}</a>
</div>
