Nauja triktis (#{ticket.title})

<div>Sveiki #{recipient.firstname},</div>
<br>
<div>Nauja triktis (#{ticket.title}) buvo sukurta <b>#{current_user.longname}</b>.</div>
<br>
<div>
Grupė: #{ticket.group.name}<br>
Savininkas: #{ticket.owner.fullname}<br>
Būklė: #{t(ticket.state.name)}<br>
</div>
<br>
<% if @objects[:article] %>
  <div>
  Informacija:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Peržiūrėti #{config.product_name}</a>
</div>
