Novo ticket (#{ticket.title})

<div>Oi #{recipient.firstname},</div>
<br>
<div>Um novo ticket (#{ticket.title}) foi criado por "<b>#{current_user.longname}</b>".</div>
<br>
<div>
Grupo: #{ticket.group.name}<br>
Proprietário: #{ticket.owner.fullname}<br>
State: #{t(ticket.state.name)}<br>
</div>
<br>
<% if @objects[:article] %>
  <div>
  Detalhes:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Veja mais informações no Zammad</a>
</div>
