Nytt ärende (#{ticket.title})

<div>Hej #{recipient.firstname},</div>
<br>
<div>Ärende (#{ticket.title}) har skapats av "<b>#{current_user.longname}</b>".</div>
<br>
<div>
Grupp: #{ticket.group.name}<br>
Ägare: #{ticket.owner.fullname}<br>
Status: #{t(ticket.state.name)}<br>
</div>
<br>
<% if @objects[:article] %>
  <div>
  Information:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Visa ärendet i #{config.product_name}</a>
</div>
