#{config.product_name} login from a new device

<div>Здравейте, #{user.firstname},</div>
<br>
<div>Изглежда, че сте влезли в акаунта си <b> чрез ново устройство </b> на "#{user_device.created_at}":</div>
<br>
<div>
Вашето устройство: #{user_device.name}<br>
Местоположение (relative): #{user_device.location}<br>
Вашето IP: #{user_device.ip}<br>
</div>
<br>
<div>Вашето устройство е добавено към Вашия списък с известни устройства, които можете да видите тук:</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#profile/devices">#{config.http_type}://#{config.fqdn}/#profile/devices</a></div>
<br>
<div>Ако това не сте били Вие, моля, премахнете устройството, променете паролата на акаунта си и се свържете с Вашия администратор. Някой може да е получил неоторизиран достъп до вашия акаунт.</div>
<br>
<div>Поздрави, #{config.product_name} Team</div>
