#{config.product_name}-Anmeldung erfasst von einem neuen Gerät

<div>Hallo #{user.firstname} #{user.lastname},</div>
<br>
<div>es sieht so aus, als ob Sie sich mit <b>einem neuen Gerät</b> um "#{user_device.created_at}" angemeldet haben:</div>
<br>
<div>
Ihr Gerät: #{user_device.name}<br>
Ihr Lokation (relativ): #{user_device.location}<br>
Ihr IP: #{user_device.ip}<br>
</div>
<br>
<div>Das Gerät wurde zur Liste der bekannten Geräte hinzugefügt, diese Liste können Sie hier einsehen:</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#profile/devices">#{config.http_type}://#{config.fqdn}/#profile/devices</a></div>
<br>
<div>Wenn Ihnen diese Anmeldung unbekannt ist, sollten Sie die neue Lokation aus der Liste entfernen, Ihr Account-Passwort ändern und Ihren Administrator kontaktieren. Jemand könnte unberechtigten Zugriff auf Ihr Konto bekommen haben.</div>
<br>
<div>Ihr #{config.product_name} Team</div>
