#{config.product_name}-Anmeldung erfasst von einem neuen Gerät

<div>Hallo #{user.firstname},</div>
<br>
<div>es sieht aus, als ob Du Dich mit <b>einem neuen Gerät</b> um "#{user_device.created_at}" angemeldet hast:</div>
<br>
<div>
Dein Gerät: #{user_device.name}<br>
Deine Lokation (relativ): #{user_device.location}<br>
Deine IP: #{user_device.ip}<br>
</div>
<br>
<div>Das Gerät wurde in die Liste der bekannten Geräte hinzugefügt, diese Liste kannst Du hier einsehen:</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#profile/devices">#{config.http_type}://#{config.fqdn}/#profile/devices</a></div>
<br>
<div>Wenn dies nicht Du warst, entferne das Gerät aus der Liste, ändere Dein Account-Passwort und kontaktieren Deinen Administrator. Jemand könnte unberechtigten Zugriff auf Dein Konto bekommen haben.</div>
<br>
<div>Dein #{config.product_name} Team</div>
