#{config.product_name}-Anmeldung von einem neuen Gerät

<div>Hallo #{user.fullname},</div>
<br>
<div>es sieht aus, als ob Sie sich mit <b>einem neuen Gerät</b> um "#{user_device.created_at}" angemeldet haben:</div>
<br>
<div>
Ihr Gerät: #{user_device.name}<br>
Ihre Lokation (relativ): #{user_device.location}<br>
Ihre IP: #{user_device.ip}<br>
</div>
<br>
<div>Das Gerät wurde in die Liste der bekannten Geräte hinzugefügt, diese Liste können Sie hier einsehen:</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#profile/devices">#{config.http_type}://#{config.fqdn}/#profile/devices</a></div>
<br>
<div>Wenn dies nicht Sie waren, dann entfernen Sie bitte das Gerät aus der Liste, ändern Ihr Konto-Passwort und kontaktieren Ihren Administrator. Jemand könnte unberechtigten Zugriff auf Ihr Konto bekommen haben.</div>
<br>
<div>Ihr #{config.product_name}-Team</div>
