#{config.product_name} prijava sa novog uređaja

<div>Bok, #{user.firstname},</div>
<br>
<div>čini se, da ste se prijavili u vaš račun <b>sa novog uređaja</b> u „#{user_device.created_at}”:</div>
<br>
<div>
Vaš uređaj: #{user_device.name}<br>
Vaša lokacija (okvirna): #{user_device.location}<br>
Vaš IP: #{user_device.ip}<br>
</div>
<br>
<div>Uređaj je dodan na listu poznatih uređaja, koju možete pregledati ovdje:</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#profile/devices">#{config.http_type}://#{config.fqdn}/#profile/devices</a></div>
<br>
<div>Ukoliko ovo niste bili vi, molimo uklonite uređaj, promijenite vašu lozinku i kontaktirajte svog administratora. Postoji mogućnost da je neko neovlašteno pristupio vašem računu.</div>
<br>
<div>Vaš #{config.product_name} tim</div>
