#{config.product_name} Авторизация с нового устройства

<div>Здравствуйте #{user.firstname},</div>
<br>
<div>Похоже, вы вошли в свою учетную запись <b> с нового устройства </b> в "#{user_device.created_at}":</div>
<br>
<div>
Ваше устройство: #{user_device.name}<br>
Ваше местоположение (относительное): #{user_device.location}<br>
Ваш IP: #{user_device.ip}<br>
</div>
<br>
<div>Ваше устройство было добавлено в список известных устройств, который вы можете просмотреть здесь.:</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#profile/devices">#{config.http_type}://#{config.fqdn}/#profile/devices</a></div>
<br>
<div>Если это были не вы, удалите устройство, измените пароль учетной записи и обратитесь к своему администратору. Кто-то мог получить несанкционированный доступ к вашей учетной записи.</div>
<br>
<div>Команда #{config.product_name}</div>
