检测到在新的设备上登录 #{config.product_name}

<div>您好, #{user.firstname}:</div>
<br>
<div>看起来像是您在 "#{user_device.created_at}" 使用<b>新的设备</b>登录您的帐号:</div>
<br>
<div>
设备名: #{user_device.name}<br>
大致地址: #{user_device.location}<br>
IP 地址: #{user_device.ip}<br>
</div>
<br>
<div>您可以点击如下连接查看那些设备被添加到已知清单里:</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#profile/devices">#{config.http_type}://#{config.fqdn}/#profile/devices</a></div>
<br>
<div>如果这不是您的设备, 请删除该设备, 更改该帐号的密码, 并马上向系统管理员报告. 有可能是有人未经授权登录了您的帐号.</div>
<br>
<div>您的 #{config.product_name} 团队</div>
