偵測到在新的裝置上登入 #{config.product_name}

<div>你好, #{user.firstname}:</div>
<br>
<div>請確認你是否在 "#{user_device.created_at}" 使用<b>新的裝置</b>登入你的賬號:</div>
<br>
<div>
裝置名稱: #{user_device.name}<br>
大概位址: #{user_device.location}<br>
IP 位址: #{user_device.ip}<br>
</div>
<br>
<div>你可以登入下面的網址查看有那些裝置被添加到已知的清單里:</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#profile/devices">#{config.http_type}://#{config.fqdn}/#profile/devices</a></div>
<br>
<div>如果發現不是你熟悉的裝置, 請刪除這個裝置, 然后更改賬號密碼, 并立即向系統管理員報告, 有可能是別人未經許可登入了你的賬號.</div>
<br>
<div>你的 #{config.product_name} 團隊</div>
