---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Tweet+0%21+zammad_testing_0509d41afd66476fa52a1c3892f669eb
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_SEARCH_CONSUMER_KEY>", oauth_nonce="f2f7480b76a1b41adc6cec06c464674c",
        oauth_signature="qwfrr0o7KBQafb92RmeWB8fOM3s%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1669199729", oauth_token="<TWITTER_DM_RECIPIENT>-S6DmCAXC1hgOzAsdjK9UGiNHKpmB2L",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 23 Nov 2022 10:35:30 GMT
      X-Transaction:
      - f4649b9e85ed1472
      X-Access-Level:
      - read-write-directmessages
      X-Transaction-Id:
      - f4649b9e85ed1472
      Content-Disposition:
      - attachment; filename=json.json
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '182'
      X-Connection-Hash:
      - 72dbd346a344a254eed099a6705e5d4e3ca709a5d9e70bb59b646ed80755b798
    body:
      encoding: UTF-8
      string: '{"created_at":"Wed Nov 23 10:35:30 +0000 2022","id":1595365415265488898,"id_str":"1595365415265488898","text":"Tweet
        0! zammad_testing_0509d41afd66476fa52a1c3892f669eb","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"https:\/\/zammad.com\" rel=\"nofollow\"\u003eZammad CI Testing\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":<TWITTER_DM_RECIPIENT>,"id_str":"<TWITTER_DM_RECIPIENT>","name":"APITesting002","screen_name":"APITesting002","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":1,"listed_count":0,"created_at":"Wed
        Oct 05 07:04:47 +0000 2022","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":2,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1577555517483933696\/3daY6Q_E_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1577555517483933696\/3daY6Q_E_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"}'
  recorded_at: Wed, 23 Nov 2022 10:35:30 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=zammad_testing_0509d41afd66476fa52a1c3892f669eb&result_type=mixed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="8341fc9d8fa82bdb7410339ba98e85f3",
        oauth_signature="jzGBEZVbMCIvSAq%2BWvjpkLwbW%2B4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1669199730", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 23 Nov 2022 10:35:31 GMT
      X-Transaction:
      - ae0aa1a67ef03215
      X-Access-Level:
      - read-write-directmessages
      X-Transaction-Id:
      - ae0aa1a67ef03215
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Reset:
      - '1669200480'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '160'
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '131'
      X-Connection-Hash:
      - 864df168eb35df3d01f163396f78b01e309b824a4431874275814e8435b3e884
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.011,"max_id":1595365390514790400,"max_id_str":"1595365390514790400","query":"zammad_testing_0509d41afd66476fa52a1c3892f669eb","refresh_url":"?since_id=1595365390514790400&q=zammad_testing_0509d41afd66476fa52a1c3892f669eb&result_type=mixed&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Wed, 23 Nov 2022 10:35:31 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&include_entities=1&max_id=1595365415265488897&q=zammad_testing_0509d41afd66476fa52a1c3892f669eb&result_type=mixed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="72d4ab8e8026c82ef806ae18ba12417c",
        oauth_signature="yt4XZBIZiTHLmjtoFNM%2Fn7FViaU%3D", oauth_signature_method="HMAC-SHA1",
       [...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=200
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_SEARCH_CONSUMER_KEY>", oauth_nonce="565ffd3925df8b4aadc3135488768f66",
        oauth_signature="8oJeidiubB6P6ZNEnzsPlIAheO4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1669199762", oauth_token="<TWITTER_DM_RECIPIENT>-S6DmCAXC1hgOzAsdjK9UGiNHKpmB2L",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 23 Nov 2022 10:36:02 GMT
      X-Transaction:
      - 3683e1991abecb61
      X-Access-Level:
      - read-write-directmessages
      X-Transaction-Id:
      - 3683e1991abecb61
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Reset:
      - '1669200084'
      Content-Disposition:
      - attachment; filename=json.json
      X-App-Rate-Limit-Limit:
      - '100000'
      X-App-Rate-Limit-Reset:
      - '1669285618'
      X-Rate-Limit-Remaining:
      - '869'
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-App-Rate-Limit-Remaining:
      - '99985'
      X-Response-Time:
      - '158'
      X-Connection-Hash:
      - c901ce297276664e2ba3f227e9d0aa0224e4d03060d19931e7657330dae9d97e
    body:
      encoding: UTF-8
      string: '[{"created_at":"Wed Nov 23 10:35:30 +0000 2022","id":1595365418339901441,"id_str":"1595365418339901441","text":"Tweet
        2! zammad_testing_0509d41afd66476fa52a1c3892f669eb","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"htt[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/show/1595365418339901441.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_SEARCH_CONSUMER_KEY>", oauth_nonce="2f5a6abfa837ae7ffff1039abb3c58e1",
        oauth_signature="hcTFDBOSiN1h5U8GbPzAb9vwWW4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1669199762", oauth_token="<TWITTER_DM_RECIPIENT>-S6DmCAXC1hgOzAsdjK9UGiNHKpmB2L",[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/destroy/1595365418339901441.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_SEARCH_CONSUMER_KEY>", oauth_nonce="23dd58cbc1f46fbf8fa6826253b2aed3",
        oauth_signature="B%2BuxcY%2F4wf4kgUf%2BzpTmsDstZGs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1669199763", oauth_token="<TWITTER_DM_RECIPIENT>-S6DmCAXC1hgOzAsdjK9UGi[...]
[...]
