---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Zammad+is+amazing%21+zammad_testing_0509d41afd66476fa52a1c3892f669eb
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="a423373ab559a60f5d316eff30f353f6",
        oauth_signature="4bB2kUE%2Fj4kBF8F3cZicIICTels%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1669199585", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 23 Nov 2022 10:33:05 GMT
      X-Transaction:
      - d9533327fbd51a12
      X-Access-Level:
      - read-write-directmessages
      X-Transaction-Id:
      - d9533327fbd51a12
      Content-Disposition:
      - attachment; filename=json.json
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '241'
      X-Connection-Hash:
      - a84b0d7308aea64ecab16fcd1da4101d18c99afcc4ffffec517434d68560edb4
    body:
      encoding: UTF-8
      string: '{"created_at":"Wed Nov 23 10:33:05 +0000 2022","id":1595364808664023040,"id_str":"1595364808664023040","text":"Zammad
        is amazing! zammad_testing_0509d41afd66476fa52a1c3892f669eb","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"https:\/\/zammad.com\" rel=\"nofollow\"\u003eZammad Integration Test\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":<TWITTER_USER_ID>,"id_str":"<TWITTER_USER_ID>","name":"Test
        API Account","screen_name":"APITesting001","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":1,"listed_count":0,"created_at":"Fri
        Jun 25 07:21:40 +0000 2021","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":2,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1408343046731845632\/K56uhLP2_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1408343046731845632\/K56uhLP2_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"}'
  recorded_at: Wed, 23 Nov 2022 10:33:05 GMT
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/retweet/1595364808664023040.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_SEARCH_CONSUMER_KEY>", oauth_nonce="2752e1eafe09b06c632cd95d290d4e42",
        oauth_signature="1xSJtBqlP%2F2nzBOOjyUdTk1dxCI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1669199585", oauth_token="<TWITTER_DM_REAL_RECIPIENT>-S6DmCAXC1hgOzAsdjK9UGiNHKpmB2L",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 23 Nov 2022 10:33:05 GMT
      X-Transaction:
      - b5b0fdf5bd84f32e
      X-Access-Level:
      - read-write-directmessages
      X-Transaction-Id:
      - b5b0fdf5bd84f32e
      Content-Disposition:
      - attachment; filename=json.json
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '181'
      X-Connection-Hash:
      - 84daa816d4199d2683923065bd6f556b3a0b6db8a87ec48b0b9fcf7bb646e1dd
    body:
      encoding: UTF-8
      string: '{"created_at":"Wed Nov 23 10:33:05 +0000 2022","id":1595364810257989632,"id_str":"1595364810257989632","text":"RT
        @APITesting001: Zammad is amazing! zammad_testing_0509d41afd66476fa52a1c3892f669eb","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"APITesting001","name":"Test
        API Account","id":<TWITTER_USER_ID>,"id_str":"<TWITTER_USER_ID>","indices":[3,17]}],"urls":[]},"source":"\u003ca
        href=\"https:\/\/zammad.com\" rel=\"nofollow\"\u003eZammad CI Testing\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":<TWITTER_DM_REAL_RECIPIENT>,"id_str":"<TWITTER_DM_REAL_RECIPIENT>","name":"APITesting002","screen_name":"APITesting002","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"pr[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=zammad_testing_0509d41afd66476fa52a1c3892f669eb&result_type=mixed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="beea0ba9c60b01726f815e8696bea2ca",
        oauth_signature="jnIyn9AW7Zen5SrYKn3oUMrKuTQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1669199585", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 23 Nov 2022 10:33:06 GMT
      X-Transaction:
      - e5c0eabfec305d6f
      X-Access-Level:
      - read-write-directmessages
      X-Transaction-Id:
      - e5c0eabfec305d6f
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Reset:
      - '1669200480'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '176'
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '127'
      X-Connection-Hash:
      - 12e8bbe2888b837e2e70d960e0c677b952b60a7646a1f270b30679396685f258
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.008,"max_id":1595364787327639552,"max_id_str":"1595364787327639552","query":"zammad_testing_0509d41afd66476fa52a1c3892f669eb","refresh_url":"?since_id=1595364787327639552&q=zammad_testing_0509d41afd66476fa52a1c3892f669eb&result_type=mixed&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Wed, 23 Nov 2022 10:33:06 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&include_entities=1&max_id=1595364808664023039&q=zammad_testing_0509d41afd66476fa52a1c3892f669eb&result_type=mixed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="1dc2647c4e9998a2a6e04cf3d5056560",
        oauth_signature="EYvAXPwL4jeV8RfHlSpZrE6kbb4%3D", oauth_signature_method="HMAC-SHA1",
        o[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=200
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_SEARCH_CONSUMER_KEY>", oauth_nonce="65c3626a90a5b987628af2c068babf55",
        oauth_signature="GO%2FqUbNhNpTcWPd470wfIrf74XY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1669199617", oauth_token="<TWITTER_DM_REAL_RECIPIENT>-S6DmCAXC1hgOzAsdjK9UGiNHKpmB2L",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 23 Nov 2022 10:33:37 GMT
      X-Transaction:
      - 99799a3707206881
      X-Access-Level:
      - read-write-directmessages
      X-Transaction-Id:
      - 99799a3707206881
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Reset:
      - '1669200084'
      Content-Disposition:
      - attachment; filename=json.json
      X-App-Rate-Limit-Limit:
      - '100000'
      X-App-Rate-Limit-Reset:
      - '1669285618'
      X-Rate-Limit-Remaining:
      - '877'
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-App-Rate-Limit-Remaining:
      - '99989'
      X-Response-Time:
      - '169'
      X-Connection-Hash:
      - 82adb23e645433cdd3613e98dd672faa8aa202278a67f2ce706cb4db2b16bc39
    body:
      encoding: UTF-8
      string: '[{"created_at":"Wed Nov 23 10:33:05 +0000 2022","id":1595364810257989632,"id_str":"1595364810257989632","text":"RT
        @APITesting001: Zammad is amazing! zammad_testing_0509d41afd66476fa52a1c3892f669eb","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"APIT[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/show/1595364810257989632.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_SEARCH_CONSUMER_KEY>", oauth_nonce="b646266c024a0012ec83485df5b614be",
        oauth_signature="OgAQKlbv2fyA%2Bqtgo4a7SRnyDO8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1669199617", oauth_token="<TWITTER_DM_REAL_RECIPIENT>-S6DmCAXC1hgOzAsdjK9UGiNHK[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/destroy/1595364810257989632.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_SEARCH_CONSUMER_KEY>", oauth_nonce="706386c82418081cfda35d1df63be6a9",
        oauth_signature="ZdWLpVdl4vZcJUqWDQDbDqpejtk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1669199617", oauth_token="<TWITTER_DM_REAL_RECIPIENT>-S6DmCAXC1hgOzAsdjK9UGiN[...]
[...]
