---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=corona&result_type=mixed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="d8ee2cf4399878788237134d36d6aee4",
        oauth_signature="Vh%2Fne7B1YNQpJ8peNKeCo92hSQ0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1669199765", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 23 Nov 2022 10:36:06 GMT
      X-Transaction:
      - 4237bf6ec7650729
      X-Access-Level:
      - read-write-directmessages
      X-Transaction-Id:
      - 4237bf6ec7650729
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Reset:
      - '1669200480'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '156'
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '420'
      X-Connection-Hash:
      - 206527535aade8075adc295ce7d2abafd957e3eb69986f353b2f3dbad740c9ee
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Tue Nov 22 17:31:51 +0000 2022","id":1595107806012526592,"id_str":"1595107806012526592","text":"\ud83d\udc9a\ud83d\udd25
        @yosoy8a lo ataj\u00f3 en Qatar, pero lo celebramos en todos lados. \ud83c\uddf2\ud83c\uddfd\n\nAs\u00ed
        se vivi\u00f3 en el Fan Fest de @Corona_MX. https:\/\/t.co\/FO2OyMBZrQ","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"yosoy8a","name":"Guillermo
        Ochoa","id":145427893,"id_str":"145427893","indices":[3,11]},{"screen_name":"Corona_MX","name":"Corona
        MX","id":247046579,"id_str":"247046579","indices":[101,111]}],"urls":[],"media":[{"id":1595106271598088192,"id_str":"1595106271598088192","indices":[113,136],"media_url":"http:\/\/pbs.twimg.com\/amplify_video_thumb\/1595106271598088192\/img\/9cB1KysV59rzYcIO.jpg","media_url_https":"https:\/\/pbs.twimg.com\/amplify_video_thumb\/1595106271598088192\/img\/9cB1KysV59rzYcIO.jpg","url":"https:\/\/t.co\/FO2OyMBZrQ","display_url":"pic.twitter.com\/FO2OyMBZrQ","expanded_url":"https:\/\/twitter.com\/miseleccionmx\/status\/1595107806012526592\/video\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":675,"resize":"fit"},"small":{"w":680,"h":383,"resize":"fit"},"large":{"w":1280,"h":720,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1595106271598088192,"id_str":"1595106271598088192","indices":[113,136],"media_url":"http:\/\/pbs.twimg.com\/amplify_video_thumb\/1595106271598088192\/img\/9cB1KysV59rzYcIO.jpg","media_url_https":"https:\/\/pbs.twimg.com\/amplify_video_thumb\/1595106271598088192\/img\/9cB1KysV59rzYcIO.jpg","url":"https:\/\/t.co\/FO2OyMBZrQ","display_url":"pic.twitter.com\/FO2OyMBZrQ","expanded_url":"https:\/\/twitter.com\/miseleccionmx\/status\/1595107806012526592\/video\/1","type":"video","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":675,"resize":"fit"},"small":{"w":680,"h":383,"resize":"fit"},"large":{"w":1280,"h":720,"resize":"fit"}},"video_info":{"aspect_ratio":[16,9],"duration_millis":42050,"variants":[{"bitrate":288000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/amplify_video\/1595106271598088192\/vid\/480x270\/on2bB0gxNpWWTm8H.mp4?tag=14"},{"bitrate":832000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/amplify_video\/1595106271598088192\/vid\/640x360\/EEhDJ_Ziy7qGveRp.mp4?tag=14"},{"content_type":"application\/x-mpegURL","url":"https:\/\/video.twimg.com\/amplify_video\/1595106271598088192\/pl\/WWemzf_AI0Yuqald.m3u8?tag=14&container=fmp4"},{"bitrate":2176000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/amplify_video\/1595106271598088192\/vid\/1280x720\/pQKUeiD22Ruv3BjY.mp4?tag=14"}]},"additional_media_info":{"title":"","description":"","embeddable":true,"monetizable":false}}]},"metadata":{"result_type":"popular","iso_language_code":"es"},"source":"\u003ca
        href=\"https:\/\/studio.twitter.com\" rel=\"nofollow\"\u003eTwitter Media
        Studio\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":268361752,"id_str":"268361752","name":"Selecci\u00f3n
        Nacional","screen_name":"miseleccionmx","location":"Mexico","description":"Selecci\u00f3n
        Nacional de M\u00e9xico \ud83c\uddf2\ud83c\uddfd | #M\u00e9xicoDeMiVida |
        For English: @miseleccionmxEN | Contenido Exclusivo de Femenil: @MiSeleccionFem
        \ud83d\ude4b\ud83c\udffb\u200d\u2640\ufe0f","url":"https:\/\/t.co\/8yaIKkli1U","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/8yaIKkli1U","expanded_url":"https:\/\/miseleccion.mx","display_url":"miseleccion.mx","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":6578524,"friends_count":1178,"listed_count":5398,"created_at":"Fri
        Mar 18 16:26:00 +0000 2011","favourites_count":47507,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":139054,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1587326254088421376\/fXR-njVE_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1587326254088421376\/fXR-njVE_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/268361752\/1667283381","profile_link_color":"00833E","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"79E062","profile_text_color":"363636","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"regular","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":444,"favorite_count":2989,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"es"},{"created_at":"Mon
        Nov 21 19:35:05 +0000 2022","id":1594776429920718871,"id_str":"1594776429920718871","text":"Corona
        Capital, 2022.\n\n\ud83d\udcf8: Zachary Gray https:\/\/t.co\/e3ratOxPu4","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":1594775383689334808,"id_str":"1594775383689334808","indices":[39,62],"media_url":"http:\/\/pbs.twimg.com\/media\/FiHHwxFXEBgiJn2.jpg","media_url_https":"https:\/\/pbs.twimg.[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1587326254088421376/fXR-njVE_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Last-Modified:
      - Tue, 01 Nov 2022 06:08:44 GMT
      X-Transaction-Id:
      - 94ace2c47677aac0
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/4gKgSUNDX1BST0ZJTEUAAQEAAAKQbGNtcwQwAABtbnRyUkdCIFhZWiAAAAAAAAAAAAAAAABhY3NwQVBQTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA9tYAAQAAAADTLWxjbXMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAtkZXNjAAABCAAAADhjcHJ0AAABQAAAAE53dHB0AAABkAAAABRjaGFkAAABpAAAACxyWFlaAAAB0AAAABRiWFlaAAAB5AAAABRnWFlaAAAB+AAAABRyVFJDAAACDAAAACBnVFJDAAACLAAAACBiVFJDAAACTAAAACBjaHJtAAACbAAAACRtbHVjAAAAAAAAAA[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1570760024997117955/Pj0kk_Jd_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Last-Modified:
      - Fri, 16 Sep 2022 13:00:27 GMT
      X-Transaction-Id:
      - 85772c72d52d2bfd
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      st[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1329338986989572103/EqU5PqmQ_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Last-Modified:
      - Thu, 19 Nov 2020 08:19:27 GMT
      X-Transaction-Id:
      - c8a77e6eb1c2bfc6
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      st[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1194425352271122438/Zn7alHxj_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Last-Modified:
      - Wed, 13 Nov 2019 01:20:49 GMT
      X-Transaction-Id:
      - 3d1a1353b390b1a7
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      st[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/show/1595123431053611008.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="5a31d20fee1944ea564f568370d56cef",
        oauth_signature="q%2BVQaE%2BFf3WhFerJs2tOeW0PQ08%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1669199765", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
  response:
  [...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1589652080830070785/7tuIwyLG_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Last-Modified:
      - Mon, 07 Nov 2022 16:10:45 GMT
      X-Transaction-Id:
      - 736876186a4c1524
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      st[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1379346234868166657/We75WHtv_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Last-Modified:
      - Tue, 06 Apr 2021 08:10:24 GMT
      X-Transaction-Id:
      - 706212a748877d8e
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      st[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1581075285826572288/8Pv6mJCF_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Last-Modified:
      - Sat, 15 Oct 2022 00:09:37 GMT
      X-Transaction-Id:
      - edf0e7a167f14965
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      st[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1339247234446135303/jguzy6E0_bigger.png
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Last-Modified:
      - Wed, 16 Dec 2020 16:31:17 GMT
      X-Transaction-Id:
      - 0262b60ef2465f77
      Content-Type:
      - image/png
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      str[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1529904586970042368/f8tOFpua_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Last-Modified:
      - Thu, 26 May 2022 19:15:32 GMT
      X-Transaction-Id:
      - 26c793f3da1f6a52
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      st[...]
[...]
- request:
    method: get
    uri: http://pbs.twimg.com/profile_images/1467476224494682120/pV258GYi_bigger.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Last-Modified:
      - Sun, 05 Dec 2021 12:47:30 GMT
      X-Transaction-Id:
      - 836b078e3480481d
      Content-Type:
      - image/jpeg
      X-Tw-Cdn:
      - FT
    body:
      encoding: ASCII-8BIT
      st[...]
[...]
