---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Zammad+is+amazing%21+zammad_testing_0509d41afd66476fa52a1c3892f669eb
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_SEARCH_CONSUMER_KEY>", oauth_nonce="7e8e38b6309838d468212c96029bc646",
        oauth_signature="PyqoIlZxF1TO%2FZmyz29a2MFyfko%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1669199656", oauth_token="<TWITTER_DM_RECIPIENT>-S6DmCAXC1hgOzAsdjK9UGiNHKpmB2L",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 23 Nov 2022 10:34:16 GMT
      X-Transaction:
      - 592248486f5b6017
      X-Access-Level:
      - read-write-directmessages
      X-Transaction-Id:
      - 592248486f5b6017
      Content-Disposition:
      - attachment; filename=json.json
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '181'
      X-Connection-Hash:
      - 1d1bd6dc9400be120ec21bd005b8b239600b1b6c7b7ca3d7665bbc7f0c496a41
    body:
      encoding: UTF-8
      string: '{"created_at":"Wed Nov 23 10:34:16 +0000 2022","id":1595365106891866113,"id_str":"1595365106891866113","text":"Zammad
        is amazing! zammad_testing_0509d41afd66476fa52a1c3892f669eb","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"https:\/\/zammad.com\" rel=\"nofollow\"\u003eZammad CI Testing\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":<TWITTER_DM_RECIPIENT>,"id_str":"<TWITTER_DM_RECIPIENT>","name":"APITesting002","screen_name":"APITesting002","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":1,"listed_count":0,"created_at":"Wed
        Oct 05 07:04:47 +0000 2022","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":2,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1577555517483933696\/3daY6Q_E_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1577555517483933696\/3daY6Q_E_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"}'
  recorded_at: Wed, 23 Nov 2022 10:34:16 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=zammad_testing_0509d41afd66476fa52a1c3892f669eb&result_type=mixed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="354e75e260310a0ea39e61e6c643e51b",
        oauth_signature="GEdnnCCMeuueSATgzF%2FODN73G9M%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1669199657", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 23 Nov 2022 10:34:17 GMT
      X-Transaction:
      - 2637e65b3c9cc59b
      X-Access-Level:
      - read-write-directmessages
      X-Transaction-Id:
      - 2637e65b3c9cc59b
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Reset:
      - '1669200480'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '168'
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '124'
      X-Connection-Hash:
      - 46f1da6f0a23270cd9499c72456ab9a30cf84536086905f8805efe58c3936de4
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.01,"max_id":1595365086058917890,"max_id_str":"1595365086058917890","query":"zammad_testing_0509d41afd66476fa52a1c3892f669eb","refresh_url":"?since_id=1595365086058917890&q=zammad_testing_0509d41afd66476fa52a1c3892f669eb&result_type=mixed&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Wed, 23 Nov 2022 10:34:17 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&include_entities=1&max_id=1595365106891866112&q=zammad_testing_0509d41afd66476fa52a1c3892f669eb&result_type=mixed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="b243c06d887f6dab4f3f888e418d83cf",
        oauth_signature="vnGqSZ8zh5ec8sGFHkwowK3oPbM%3D", oauth_signature_method="HMAC-SHA1",
        o[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=200
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_SEARCH_CONSUMER_KEY>", oauth_nonce="051c2542749fa44fa67b5bf5399586cd",
        oauth_signature="7%2FhxcYTWRzh7TiuEM4yP%2FsC6njU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1669199688", oauth_token="<TWITTER_DM_RECIPIENT>-S6DmCAXC1hgOzAsdjK9UGiNHKpmB2L",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 23 Nov 2022 10:34:49 GMT
      X-Transaction:
      - 84fc36102ea4415c
      X-Access-Level:
      - read-write-directmessages
      X-Transaction-Id:
      - 84fc36102ea4415c
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Reset:
      - '1669200084'
      Content-Disposition:
      - attachment; filename=json.json
      X-App-Rate-Limit-Limit:
      - '100000'
      X-App-Rate-Limit-Reset:
      - '1669285618'
      X-Rate-Limit-Remaining:
      - '873'
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-App-Rate-Limit-Remaining:
      - '99986'
      X-Response-Time:
      - '156'
      X-Connection-Hash:
      - a25d1e53445de30e6bb997eb236ef19ebecf1acdf5b652d155e5128090e4f463
    body:
      encoding: UTF-8
      string: '[{"created_at":"Wed Nov 23 10:34:17 +0000 2022","id":1595365109890547712,"id_str":"1595365109890547712","text":"Need
        a helpdesk tool? Zammad &lt;3 zammad_testing_0509d41afd66476fa52a1c3892f669eb","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/show/1595365109890547712.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_SEARCH_CONSUMER_KEY>", oauth_nonce="c3dc4e1daedceee6588ec89aebaf3300",
        oauth_signature="So%2FFGuLZEHm3%2FaIgNk5lpwbAXwU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1669199688", oauth_token="<TWITTER_DM_RECIPIENT>-S6DmCAXC1hgOzAsdjK9UGiNHKpmB[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/destroy/1595365109890547712.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_SEARCH_CONSUMER_KEY>", oauth_nonce="f9b04f3139f1294283db5ea6741b1f3c",
        oauth_signature="stOW1Ptqrm1m4BHd%2B%2FOuODtBKCo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1669199689", oauth_token="<TWITTER_DM_RECIPIENT>-S6DmCAXC1hgOzAsdjK9UGiNH[...]
[...]
