#chat {
  position: fixed;
  bottom: 0;
  right: 0;
}

#chat .well-chat {
  padding: 8px 15px 0px 15px;
  margin: 0px;
}

.chat {
  padding: 0px 14px;
  width: 200px;
  margin-bottom: 0;
  z-index: 1040;
}

