.zammad-form {
  width: 100%;
}

.zammad-form h1,
.zammad-form h2 {
  margin-top: 0;
}

.zammad-form-group {
  margin-bottom: 15px;
}

.zammad-form-control {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.zammad-form .zammad-form-checkbox {
  margin-right: 4px;
}

.zammad-form-group--has-error .zammad-form-control {
  border-color: #a94442;
}

.zammad-form-group--has-error label {
  color: #a94442;
}

.zammad-form-thankyou {
  text-align: center;
}

.zammad-form-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 999;
  overflow: auto;
  overscroll-behavior: contain;
}

.zammad-form-modal::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.zammad-form-modal-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: gray;
}

.zammad-form-modal-body {
  text-align: left;
  background: white;
  border-radius: 5px;
  padding: 24px 24px 22px;
  width: 90%;
  max-width: 26em;
  margin: 20px auto;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  color: #949494;
}
