---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v19.0/<WHATSAPP_BUSINESS_ID>/phone_numbers?fields=id,is_official_business_account,display_phone_number,verified_name,account_mode,quality_rating,certificate,code_verification_status,eligibility_for_api_business_global_search,is_pin_enabled,name_status,new_name_status,status,search_visibility,messaging_limit_tier
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <WHATSAPP_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"4442d4de193a1817408afdbab098ded8c4c4d280"'
      Content-Type:
      - application/json; charset=UTF-8
      X-Business-Use-Case-Usage:
      - '{"<WHATSAPP_BUSINESS_ID>":[{"type":"whatsapp_business_management","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v19.0
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"<WHATSAPP_PHONE_NUMBER_ID>","is_official_business_account":false,"display_phone_number":"<WHATSAPP_PHONE_NUMBER>","verified_name":"Test
        Number","account_mode":"LIVE","quality_rating":"GREEN","code_verification_status":"NOT_VERIFIED","eligibility_for_api_business_global_search":"NON_ELIGIBLE_UNDEFINED_COUNTRY","is_pin_enabled":true,"name_status":"APPROVED","new_name_status":"NONE","status":"CONNECTED","search_visibility":"NON_VISIBLE","messaging_limit_tier":"TIER_1K"}],"paging":{"cursors":{"before":"QVFIUmJ2Wkt0MFp4dEpWMFFkSWhhSDJtV3V1OHFqSDMzSkpBRVd0Ul91aDJLX2JXcW0wTE9WdEpoV2JvMVl0eV9wdmYZD","after":"QVFIUmJ2Wkt0MFp4dEpWMFFkSWhhSDJtV3V1OHFqSDMzSkpBRVd0Ul91aDJLX2JXcW0wTE9WdEpoV2JvMVl0eV9wdmYZD"}}}'
  recorded_at: Fri, 16 Feb 2024 19:50:59 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v19.0/<WHATSAPP_PHONE_NUMBER_ID>?fields=id,is_official_business_account,display_phone_number,verified_name,account_mode,quality_rating,certificate,code_verification_status,eligibility_for_api_business_global_search,is_pin_enabled,name_status,new_name_status,status,search_visibility,messaging_limit_tier
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <WHATSAPP_ACCESS_TOKEN>
  respon[...]
