---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/oauth/access_token?client_id=123&client_secret=123&code&redirect_uri=http://zammad.example.com/api/v1/external_credentials/facebook/callback
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_client" "Error validating application.
        Cannot get application info due to a system error."
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Error validating application. Cannot get application
        info due to a system error.","type":"OAuthException","code":101,"fbtrace_id":"FEdFTInow6l"}}'
  recorded_at: Fri, 30 Nov 2018 12:50:48 GMT
recorded_with: VCR 4.0.0
