---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=<FACEBOOK_ADMIN_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"c74d1549500251fdcbe3e87746dbb3f2c9c91e51"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v9.0
      X-App-Usage:
      - '{"call_count":2,"total_cputime":0,"total_time":0}'
    body:
      encoding: UTF-8
      string: '{"name":"<FACEBOOK_ADMIN_FIRSTNAME> <FACEBOOK_ADMIN_LASTNAME>","id":"<FACEBOOK_ADMIN_USER_ID>"}'
  recorded_at: Thu, 18 Feb 2021 10:51:21 GMT
recorded_with: VCR 4.0.0
