---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=<FACEBOOK_PAGE_1_ACCCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"861755e903d7086e2efa081e780e9cc1849961b5"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v9.0
      X-Business-Use-Case-Usage:
      - '{"<FACEBOOK_PAGE_1_ID>":[{"type":"pages","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
    body:
      encoding: UTF-8
      string: '{"name":"<FACEBOOK_PAGE_1_NAME>","id":"<FACEBOOK_PAGE_1_ID>"}'
  recorded_at: Fri, 12 Feb 2021 06:19:32 GMT
recorded_with: VCR 4.0.0
