---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=<FACEBOOK_ADMIN_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"54792326a6e15374d264b1adce56bcde4e23b76c"'
      Content-Type:
      - application/json; charset=UTF-8
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Facebook-Api-Version:
      - v16.0
    body:
      encoding: UTF-8
      string: '{"name":"<FACEBOOK_ADMIN_FIRSTNAME> <FACEBOOK_ADMIN_LASTNAME>","id":"<FACEBOOK_ADMIN_USER_ID>"}'
  recorded_at: Tue, 09 May 2023 10:59:01 GMT
recorded_with: VCR 6.1.0
