---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=<FACEBOOK_PAGE_1_ACCCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"490d75cfcb87d779ff43b31ba6fb8410483c4b3c"'
      Content-Type:
      - application/json; charset=UTF-8
      X-Business-Use-Case-Usage:
      - '{"<FACEBOOK_PAGE_1_ID>":[{"type":"pages","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v16.0
    body:
      encoding: UTF-8
      string: '{"name":"<FACEBOOK_PAGE_1_NAME>","id":"<FACEBOOK_PAGE_1_ID>"}'
  recorded_at: Fri, 05 May 2023 12:07:50 GMT
recorded_with: VCR 6.1.0
