---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/direct_messages/events/new.json
    body:
      encoding: UTF-8
      string: '{"event":{"type":"message_create","message_create":{"target":{"recipient_id":<TWITTER_DM_RECIPIENT>},"message_data":{"text":"Please
        ignore this message."}}}}'
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="53083a369b6ee30242406a76960ae2b6",
        oauth_signature="rCryB%2Btxj%2Bvtp0P5IwTPymdd9rA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1625040244", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 30 Jun 2021 08:04:04 GMT
      X-Transaction:
      - 708f49cab46ff366
      X-Access-Level:
      - read-write-directmessages
      Content-Disposition:
      - attachment; filename=json.json
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Connection-Hash:
      - 1d616544d9ebcd87d8c8225b597043de2994ba32a52176afe63a7e39a4b36fd4
    body:
      encoding: UTF-8
      string: '{"event":{"type":"message_create","id":"1410147108624142341","created_timestamp":"1625040244619","message_create":{"target":{"recipient_id":"<TWITTER_DM_RECIPIENT>"},"sender_id":"<TWITTER_USER_ID>","message_data":{"text":"Please
        ignore this message.","entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]}}}}}'
  recorded_at: Wed, 30 Jun 2021 08:04:04 GMT
recorded_with: VCR 6.0.0
