---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/direct_messages/events/new.json
    body:
      encoding: UTF-8
      string: '{"event":{"type":"message_create","message_create":{"target":{"recipient_id":<TWITTER_DM_RECIPIENT>},"message_data":{"text":"Please
        ignore this message."}}}}'
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="38c9276a42d314eb2c6504a1585a56f2",
        oauth_signature="%2Bqoynn5ly%2BM%2F8h39yYuZx6%2B1euY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1625039834", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 30 Jun 2021 07:57:14 GMT
      X-Transaction:
      - '0979de2321a1e590'
      X-Access-Level:
      - read-write-directmessages
      Content-Disposition:
      - attachment; filename=json.json
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Connection-Hash:
      - 87f1635ceda56488ee072f5693ae9d8bd50ae5381b4a4cd81f9febfda6d6314d
    body:
      encoding: UTF-8
      string: '{"event":{"type":"message_create","id":"1410145389026676741","created_timestamp":"1625039834635","message_create":{"target":{"recipient_id":"<TWITTER_DM_RECIPIENT>"},"sender_id":"<TWITTER_USER_ID>","message_data":{"text":"Please
        ignore this message.","entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]}}}}}'
  recorded_at: Wed, 30 Jun 2021 07:57:14 GMT
recorded_with: VCR 6.0.0
