---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/direct_messages/events/new.json
    body:
      encoding: UTF-8
      string: '{"event":{"type":"message_create","message_create":{"target":{"recipient_id":<TWITTER_DM_RECIPIENT>},"message_data":{"text":"Please
        ignore this message."}}}}'
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="059956a1ece3b3a66c79a841a2b63373",
        oauth_signature="ktziTsboTa%2BF8wvC%2BH1%2BSr%2FLCl4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1625040245", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 30 Jun 2021 08:04:05 GMT
      X-Transaction:
      - e3208fd407c4eed3
      X-Access-Level:
      - read-write-directmessages
      Content-Disposition:
      - attachment; filename=json.json
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Connection-Hash:
      - 82d50f9badd633a8c1b3e0469fb921464cfdbc6a09f99332740f2b3e98b2f8d8
    body:
      encoding: UTF-8
      string: '{"event":{"type":"message_create","id":"1410147112021528582","created_timestamp":"1625040245429","message_create":{"target":{"recipient_id":"<TWITTER_DM_RECIPIENT>"},"sender_id":"<TWITTER_USER_ID>","message_data":{"text":"Please
        ignore this message.","entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]}}}}}'
  recorded_at: Wed, 30 Jun 2021 08:04:05 GMT
recorded_with: VCR 6.0.0
