---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/direct_messages/events/new.json
    body:
      encoding: UTF-8
      string: '{"event":{"type":"message_create","message_create":{"target":{"recipient_id":<TWITTER_DM_REAL_RECIPIENT>},"message_data":{"text":"Please
        ignore this message."}}}}'
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="0b1db1927762356a7c14cb418c4f18d5",
        oauth_signature="xnIjQbnP8745hEHw1lPZdflAh4o%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1665143732", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 07 Oct 2022 11:55:32 GMT
      X-Transaction:
      - 695c8d05760dad9c
      X-Access-Level:
      - read-write-directmessages
      X-Transaction-Id:
      - 695c8d05760dad9c
      Content-Disposition:
      - attachment; filename=json.json
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '143'
      X-Connection-Hash:
      - cbf86b10f4db9c6380dc329a9da2d1b916eba671305621de75b925618a02dfdd
    body:
      encoding: UTF-8
      string: '{"event":{"type":"message_create","id":"1578353327389147140","created_timestamp":"1665143732293","message_create":{"target":{"recipient_id":"<TWITTER_DM_REAL_RECIPIENT>"},"sender_id":"<TWITTER_USER_ID>","message_data":{"text":"Please
        ignore this message.","entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]}}}}}'
  recorded_at: Fri, 07 Oct 2022 11:55:32 GMT
recorded_with: VCR 6.1.0
