---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/direct_messages/events/new.json
    body:
      encoding: UTF-8
      string: '{"event":{"type":"message_create","message_create":{"target":{"recipient_id":<TWITTER_DM_REAL_RECIPIENT>},"message_data":{"text":"Please
        ignore this message."}}}}'
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="a44a2536570e00ceb12ac46e0a301adf",
        oauth_signature="fR4i9ihVCRVBR8td%2B63%2FMphQyok%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1665143732", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 07 Oct 2022 11:55:32 GMT
      X-Transaction:
      - f9c7c586b5254359
      X-Access-Level:
      - read-write-directmessages
      X-Transaction-Id:
      - f9c7c586b5254359
      Content-Disposition:
      - attachment; filename=json.json
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '156'
      X-Connection-Hash:
      - e9609c70e37e77e76e4145f2ed66436d0f2974c242c7778b7b6ce5b984addb26
    body:
      encoding: UTF-8
      string: '{"event":{"type":"message_create","id":"1578353329574477829","created_timestamp":"1665143732814","message_create":{"target":{"recipient_id":"<TWITTER_DM_REAL_RECIPIENT>"},"sender_id":"<TWITTER_USER_ID>","message_data":{"text":"Please
        ignore this message.","entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]}}}}}'
  recorded_at: Fri, 07 Oct 2022 11:55:32 GMT
recorded_with: VCR 6.1.0
