---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/direct_messages/events/new.json
    body:
      encoding: UTF-8
      string: '{"event":{"type":"message_create","message_create":{"target":{"recipient_id":<TWITTER_DM_RECIPIENT>},"message_data":{"text":"Please
        ignore this message."}}}}'
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="d53ac1110b5991c6f13e46ec6c66b5b6",
        oauth_signature="4l4w9Q00ibBHiHXAHeJqhQhgycQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1625001656", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Status:
      - 403 Forbidden
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 29 Jun 2021 21:20:56 GMT
      X-Transaction:
      - e3ed294bc3b0da31
      X-Access-Level:
      - read-write-directmessages
      Content-Disposition:
      - attachment; filename=json.json
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Connection-Hash:
      - b1a6e386025a844744ac567e0093bafe320dbbe4ebd7227f46a8951e0d7f4f19
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":349,"message":"You cannot send messages to this
        user."}]}'
  recorded_at: Tue, 29 Jun 2021 21:20:56 GMT
recorded_with: VCR 6.0.0
