---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/direct_messages/events/new.json
    body:
      encoding: UTF-8
      string: '{"event":{"type":"message_create","message_create":{"target":{"recipient_id":<TWITTER_DM_REAL_RECIPIENT>},"message_data":{"text":"Please
        ignore this message."}}}}'
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="0dc2798274fa81bf2cdbedfc319f8f73",
        oauth_signature="H%2B6mHXZyguAQstbfEQc4mEqFc90%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1665143733", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 07 Oct 2022 11:55:33 GMT
      X-Transaction:
      - 7fd8c405bdaa200e
      X-Access-Level:
      - read-write-directmessages
      X-Transaction-Id:
      - 7fd8c405bdaa200e
      Content-Disposition:
      - attachment; filename=json.json
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '147'
      X-Connection-Hash:
      - 9311f4ea72c0b04dcf59be95a154fad61095009c375647885889930ebddc5125
    body:
      encoding: UTF-8
      string: '{"event":{"type":"message_create","id":"1578353331696816138","created_timestamp":"1665143733320","message_create":{"target":{"recipient_id":"<TWITTER_DM_REAL_RECIPIENT>"},"sender_id":"<TWITTER_USER_ID>","message_data":{"text":"Please
        ignore this message.","entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]}}}}}'
  recorded_at: Fri, 07 Oct 2022 11:55:33 GMT
recorded_with: VCR 6.1.0
