---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: in_reply_to_status_id&status=%40zammadtesting+Don%E2%80%99t+mind+me%2C+just+testing+the+API
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="f77ac505b61754bfbde7a42892d72f74",
        oauth_signature="n5IyO1qHpjsXPTwt8lha%2BFgN3vM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1625040243", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 30 Jun 2021 08:04:03 GMT
      X-Transaction:
      - 7b7cb7bcda114d15
      X-Access-Level:
      - read-write-directmessages
      Content-Disposition:
      - attachment; filename=json.json
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Connection-Hash:
      - d439bbae23d92067b858b87ee3feba1ce08e9d4a6b2be570665475684729e051
    body:
      encoding: UTF-8
      string: '{"created_at":"Wed Jun 30 08:04:03 +0000 2021","id":1410147105210081287,"id_str":"1410147105210081287","text":"@zammadtesting
        Don\u2019t mind me, just testing the API","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"ZammadTesting","name":"Zammad
        Integration Test Account","id":<TWITTER_USER_ID>,"id_str":"<TWITTER_USER_ID>","indices":[0,14]}],"urls":[]},"source":"\u003ca
        href=\"https:\/\/zammad.com\" rel=\"nofollow\"\u003eZammad Integration Test\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":<TWITTER_USER_ID>,"in_reply_to_user_id_str":"<TWITTER_USER_ID>","in_reply_to_screen_name":"ZammadTesting","user":{"id":<TWITTER_USER_ID>,"id_str":"<TWITTER_USER_ID>","name":"Zammad
        Integration Test Account","screen_name":"ZammadTesting","location":"","description":"Zammad
        Integration Test Account","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Fri
        Jun 25 07:21:40 +0000 2021","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":131,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1408343046731845632\/K56uhLP2_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1408343046731845632\/K56uhLP2_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"}'
  recorded_at: Wed, 30 Jun 2021 08:04:03 GMT
recorded_with: VCR 6.0.0
