---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/direct_messages/events/new.json
    body:
      encoding: UTF-8
      string: '{"event":{"type":"message_create","message_create":{"target":{"recipient_id":<TWITTER_DM_RECIPIENT>},"message_data":{"text":"Please
        ignore this message."}}}}'
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="a0dd10935b94fcaba2455648ead26f8c",
        oauth_signature="Qpju0hloOH4ZKneTCkAgFeUID0M%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1665143731", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 07 Oct 2022 11:55:31 GMT
      X-Transaction:
      - 9575eb293d7c018b
      X-Access-Level:
      - read-write-directmessages
      X-Transaction-Id:
      - 9575eb293d7c018b
      Content-Disposition:
      - attachment; filename=json.json
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '158'
      X-Connection-Hash:
      - d3eaeb4c1fbf9d0683dbe8bb927491f835b92de5090c34ca52732aa1486b7bb7
    body:
      encoding: UTF-8
      string: '{"event":{"type":"message_create","id":"1578353325266931717","created_timestamp":"1665143731787","message_create":{"target":{"recipient_id":"<TWITTER_DM_RECIPIENT>"},"sender_id":"<TWITTER_USER_ID>","message_data":{"text":"Please
        ignore this message.","entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]}}}}}'
  recorded_at: Fri, 07 Oct 2022 11:55:31 GMT
recorded_with: VCR 6.1.0
