---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=<FACEBOOK_APPLICATION_ID>&client_secret=<FACEBOOK_APPLICATION_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v10.0
    body:
      encoding: UTF-8
      string: '{"access_token":"***","token_type":"bearer"}'
  recorded_at: Tue, 09 May 2023 11:00:03 GMT
recorded_with: VCR 6.1.0
