Zurücksetzen Deines #{config.product_name} Passworts

<div>Hallo #{user.firstname},</div>
<br>
<div>wir haben eine Anfrage zum Zurücksetzen des Passworts für #{config.product_name} Account <b>#{user.login}</b> erhalten.</div>
<br>
<div>Wenn Du Dein Passwort zurückzusetzen möchstest, klicke auf den unten stehenden Link (oder kopiere die URL in Deinen Browser):</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#password_reset_verify/#{token.name}">#{config.http_type}://#{config.fqdn}/#password_reset_verify/#{token.name}</a></div>
<br>
<div>Dieser Link führt Dich zu einer Seite, auf der Du Dein Passwort ändern kannst.</div>
<br>
<div>Wenn Du Dein Passwort nicht zurücksetzen möchtest, ignoriere diese Meldung. Das Passwort bleibt dadurch unverändert.</div>
<br>
<div>Dein #{config.product_name} Team</div>
