Zurücksetzen Ihres #{config.product_name} Passworts

<div>Hallo #{user.firstname} #{user.lastname},</div>
<br>
<div>wir haben eine Anfrage zum Zurücksetzen des Passworts für Ihren #{config.product_name} Account <b>#{user.login}</b> erhalten.</div>
<br>
<div>Wenn Sie Ihr Passwort zurücksetzen wollen, klicken Sie auf den unten stehenden Link (oder kopieren Sie die URL in Ihren Browser):</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#password_reset_verify/#{token.name}">#{config.http_type}://#{config.fqdn}/#password_reset_verify/#{token.name}</a></div>
<br>
<div>Dieser Link führt Sie zu einer Seite, auf der Sie Ihr Passwort ändern können.</div>
<br>
<div>Wenn Sie Ihr Passwort nicht zurücksetzen wollen, ignorieren Sie diese Meldung. In diesem Fall bleibt das Passwort unverändert.</div>
<br>
<div>Ihr #{config.product_name} Team</div>
