Reimposta la password di #{config.product_name}

<div>Buongiorno #{user.firstname},</div>
<br>
<div>abbiamo ricevuto una richiesta di reimpostazione password per il tuo account <b>#{user.login}</b> su #{config.product_name}.</div>
<br>
<div>Se desidera reimpostare la password, cliccare il collegamento sotto (o copiare e incollare l'URL nel browser):</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Questo link porta a una pagina nella quale è possibile modificare la password.</div>
<br>
<div>Se non si desidera reimpostare la password, ignorare questo messaggio. La password rimane invariata.</div>
<br>
<div>Il team #{config.product_name}</div>
