#{config.product_name} slaptažodžio atstatymas

<div>Sveiki #{user.firstname},</div>
<br>
<div>Gavome prašymą atstatyti jūsų #{config.product_name} paskyros <b>#{user.login}</b> slaptažodį.</div>
<br>
<div>Jei norite atstatyti slaptažodį, paspauskite arba nusikopijuokite į naršyklę nuorodą esančią žemiau:</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div> Ši nuoroda atidarys puslapį, kuriame galėsite atstatyti savo slaptažodį.</div>
<br>
<div>Jei nenorite atstatyti savo slaptažodžio, ignoruokite šį laišką. Jūsų slaptažodis nebus pakeistas.</div>
<br>
<div>Jūsų #{config.product_name} komanda</div>
