Resetează parola ta #{config.product_name}

<div>Bună #{user.firstname},</div>
<br>
<div>Am primit o solicitare pentru a reseta parola contului tău #{config.product_name} <b>#{user.login}</b>.</div>
<br>
<div>Dacă dorești resetarea parolei, apasă pe link-ul de mai jos (sau copiază și lipește URL-ul în browser-ul tău):</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Acest link deschide pagina unde vei reseta parola.</div>
<br>
<div>Dacă nu dorești resetarea parolei, ignoră acest mesaj. Parola ta nu va fi resetată.</div>
<br>
<div>Echipa #{config.product_name}</div>
