Изменение пароля учетной записи #{config.product_name}

<div>Здравствуйте #{user.firstname},</div>
<br>
<div>Мы получили запрос на изменение пароля для Вашей учетной записи #{config.product_name} <b>#{user.login}</b>.</div>
<br>
<div>Если Вы хотите изменить пароль, нажмите на ссылку ниже (или скопируйте и вставьте URL-адрес в Ваш браузер):</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Эта ссылка приведет Вас на страницу, где Вы сможете изменить Ваш пароль.</div>
<br>
<div>Если Вы не хотите изменять пароль, не обращайте внимания на это сообщение. Ваш пароль не будет изменён.</div>
<br>
<div>Команда #{config.product_name}</div>
