#{config.product_name} şifreni sıfırla.

<div>Merhaba #{user.firstname},</div>
<br>
<div>#{config.product_name} Şifrenizin sıfırlanması için bir talep aldık. Hesap: <b>#{user.login}</b>.</div>
<br>
<div>Şifrenizi sıfırlamak istiyorsanız aşağıdaki bağlantıya tıklayın (veya URL'yi kopyalayıp tarayıcınıza yapıştırın):</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Bu bağlantı sizi şifrenizi değiştirebileceğiniz bir sayfaya yönlendirir.</div>
<br>
<div>Şifrenizi sıfırlamak istemiyorsanız lütfen bu mesajı dikkate almayın ve tamamen sildiğinizden emin olun. Şifreniz sıfırlanmayacaktır.</div>
<br>
<div>#{config.product_name} Ekibi</div>
