---
http_interactions:
- request:
    method: put
    uri: https://web-test.dc.zammad.com/test/put/1
    body:
      encoding: US-ASCII
      string: submitted=some+value
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"75b1730e5ec8700d81189b25cac4edb4"
    body:
      encoding: ASCII-8BIT
      string: '{"remote_ip":"155.133.206.83","content_type_requested":"application/x-www-form-urlencoded","method":"put","submitted":"some
        value"}'
  recorded_at: Tue, 05 Jul 2022 08:53:13 GMT
recorded_with: VCR 6.1.0
