---
http_interactions:
- request:
    method: get
    uri: https://web-test.dc.zammad.com/test/get/1?submitted=123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"33d68db4e4b991c4fd349b5f7555563c"
    body:
      encoding: ASCII-8BIT
      string: '{"remote_ip":"155.133.206.83","content_type_requested":null,"method":"get","submitted":"123"}'
  recorded_at: Tue, 05 Jul 2022 08:53:02 GMT
recorded_with: VCR 6.1.0
