---
http_interactions:
- request:
    method: delete
    uri: https://web-test.dc.zammad.com/test/delete/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"35c36981e4280a2dfe7ee9d90304ed14"
    body:
      encoding: ASCII-8BIT
      string: '{"remote_ip":"155.133.206.83","content_type_requested":null,"method":"delete","submitted":null}'
  recorded_at: Tue, 05 Jul 2022 08:53:17 GMT
recorded_with: VCR 6.1.0
