---
http_interactions:
- request:
    method: get
    uri: https://web-test.dc.zammad.com/test/redirect
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://web-test.dc.zammad.com/test/get/1?submitted=abc
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://web-test.dc.zammad.com/test/get/1?submitted=abc">redirected</a>.</body></html>
  recorded_at: Tue, 05 Jul 2022 08:53:43 GMT
- request:
    method: get
    uri: https://web-test.dc.zammad.com/test/get/1?submitted=abc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"629e31f0f7d7a0d7a8c9cafa53e8c0be"
    body:
      encoding: ASCII-8BIT
      string: '{"remote_ip":"<ZAMMAD_PROXY_REMOTE_IP_CHECK>","content_type_requested":null,"method":"get","submitted":"abc"}'
  recorded_at: Tue, 05 Jul 2022 08:53:44 GMT
recorded_with: VCR 6.1.0
