---
http_interactions:
- request:
    method: put
    uri: https://web-test.dc.zammad.com/test_basic_auth/put/1
    body:
      encoding: US-ASCII
      string: submitted=some+value
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic YmFzaWNfYXV0aF91c2VyOnRlc3QxMjM=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"55fdbd0c21074daaa57e31a51ed10c8f"
    body:
      encoding: ASCII-8BIT
      string: '{"remote_ip":"<ZAMMAD_PROXY_REMOTE_IP_CHECK>","content_type_requested":"application/x-www-form-urlencoded","method":"put","submitted":"some
        value"}'
  recorded_at: Tue, 05 Jul 2022 08:53:39 GMT
recorded_with: VCR 6.1.0
