---
http_interactions:
- request:
    method: get
    uri: https://web-test.dc.zammad.com/test/get/1
    body:
      encoding: UTF-8
      string: '{"submitted":{"key":"some value"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"22c6aa00a1bf42bd731adc0edcefa610"
    body:
      encoding: ASCII-8BIT
      string: '{"remote_ip":"<ZAMMAD_PROXY_REMOTE_IP_CHECK>","content_type_requested":"application/json","method":"get","submitted":{"key":"some
        value"}}'
  recorded_at: Tue, 05 Jul 2022 08:53:30 GMT
recorded_with: VCR 6.1.0
