---
http_interactions:
- request:
    method: post
    uri: https://web-test.dc.zammad.com/test/post/1
    body:
      encoding: UTF-8
      string: '{"submitted":{"key":"some value"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b1f14e9eaf061566c8ba59cafbe71722"
    body:
      encoding: UTF-8
      string: '{"remote_ip":"<ZAMMAD_PROXY_REMOTE_IP_CHECK>","content_type_requested":"application/json","method":"post","submitted":{"key":"some
        value"}}'
  recorded_at: Tue, 05 Jul 2022 08:53:36 GMT
recorded_with: VCR 6.1.0
