---
http_interactions:
- request:
    method: post
    uri: https://web-test.dc.zammad.com/test_basic_auth/post/1
    body:
      encoding: US-ASCII
      string: submitted=some+value
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic YmFzaWNfYXV0aF91c2VyOnRlc3QxMjM=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"68030209b09005d2fcf4d14d840acdca"
    body:
      encoding: UTF-8
      string: '{"remote_ip":"<ZAMMAD_PROXY_REMOTE_IP_CHECK>","content_type_requested":"application/x-www-form-urlencoded","method":"post","submitted":"some
        value"}'
  recorded_at: Tue, 05 Jul 2022 08:53:34 GMT
recorded_with: VCR 6.1.0
