---
http_interactions:
- request:
    method: get
    uri: https://web-test.dc.zammad.com/test_basic_auth/redirect
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YmFzaWNfYXV0aF91c2VyOnRlc3QxMjM=
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://web-test.dc.zammad.com/test/get/1?submitted=abc
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://web-test.dc.zammad.com/test/get/1?submitted=abc">redirected</a>.</body></html>
  recorded_at: Tue, 05 Jul 2022 08:53:20 GMT
- request:
    method: get
    uri: https://web-test.dc.zammad.com/test/get/1?submitted=abc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YmFzaWNfYXV0aF91c2VyOnRlc3QxMjM=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11bb884b4f2b3479a6ff9f02b994ea37"
    body:
      encoding: ASCII-8BIT
      string: '{"remote_ip":"155.133.206.83","content_type_requested":null,"method":"get","submitted":"abc"}'
  recorded_at: Tue, 05 Jul 2022 08:53:21 GMT
recorded_with: VCR 6.1.0
