---
http_interactions:
- request:
    method: get
    uri: https://web-test.dc.zammad.com/test/get_accepted/1?submitted=123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"remote_ip":"155.133.206.83","content_type_requested":null,"method":"get","submitted":"123"}'
  recorded_at: Tue, 05 Jul 2022 08:53:03 GMT
recorded_with: VCR 6.1.0
