---
http_interactions:
- request:
    method: delete
    uri: https://web-test.dc.zammad.com/test_basic_auth/delete/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YmFzaWNfYXV0aF91c2VyOnRlc3QxMjM=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c371fbc4501157a24013c6404893c28d"
    body:
      encoding: ASCII-8BIT
      string: '{"remote_ip":"<ZAMMAD_PROXY_REMOTE_IP_CHECK>","content_type_requested":null,"method":"delete","submitted":null}'
  recorded_at: Tue, 05 Jul 2022 08:53:42 GMT
recorded_with: VCR 6.1.0
