---
http_interactions:
- request:
    method: get
    uri: https://web-test.dc.zammad.com/test_basic_auth/get/1?submitted=123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YmFzaWNfYXV0aF91c2VyOnRlc3QxMjM=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5237445bbd1b27ff683f301b3edc61e1"
    body:
      encoding: ASCII-8BIT
      string: '{"remote_ip":"<ZAMMAD_PROXY_REMOTE_IP_CHECK>","content_type_requested":null,"method":"get","submitted":"123"}'
  recorded_at: Tue, 05 Jul 2022 08:53:28 GMT
recorded_with: VCR 6.1.0
