Zgłoszenie (#{ticket.title}) zostało scalone z innym zgłoszeniem

<div>Cześć #{recipient.firstname},</div>
<br>
<div>
Zgłoszenie (#{ticket.title}) zostało scalone z innym zgłoszeniem przez <b>#{current_user.longname}</b>.
</div>
<br>
<div>
<a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Zobacz w #{config.product_name}</a>
</div>
