<style>
body {
  background-color: #191919;
}
#loading-app {
  display: flex;
  height: 100vh;
}
.loading-main {
  margin: auto
}
.loading-svg {
  fill: currentColor;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.loading-failed {
  display: none;
}
.loading-failed.active {
  display: block;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}
</style>
<div id="loading-app">
  <div class="loading-main">
    <svg xmlns="http://www.w3.org/2000/svg" width="80px" height="68px" viewBox="0 0 42 36" class="loading-svg">
      <g fill-rule="evenodd">
          <path fill="#CA2317" d="M28.337 12.6l9.383-2.88-5.557 3.532z"/>
          <path fill="#E84F83" d="M34.053 19.62l-1.89-6.368L37.72 9.72l-1.665 5.715z"/>
          <path fill="#CA2317" d="M40.465 7.987L39.43 9.72l-3.375 5.715L37.72 9.72z"/>
          <path fill="#E54011" d="M40.803 9.113l-2.61 2.677 1.237-2.07zM28.9 10.822l7.672-.764L31.24 11.7z"/>
          <path fill="#CA2317" d="M29.192 15.165l2.97-1.912 1.89 6.367-.99 2.025z"/>
          <path fill="#B7DFF2" d="M24.76 22.725L23.342 5.4l9.72 16.245z"/>
          <path fill="#E54011" d="M20.733 27.157l4.027-4.432 8.302-1.08z"/>
          <path fill="#FFCE33" d="M1.157 35.865l19.576-8.708 4.027-4.432-6.39-.652z"/>
          <path fill="#D6B12D" d="M1.9 28.755l10.057-1.53 3.128-2.52-1.53-.675z"/>
          <path fill="#FFDE85" d="M5.522 20.543l9.563 4.162 3.285-2.632z"/>
          <path fill="#009EC6" d="M22.622 11.678l-1.215.202-3.037 10.193 3.285-2.07z"/>
          <path fill="#5EAFCE" d="M24.4 18.247l-2.745 1.756L23.343 5.4z"/>
          <path fill="#045972" d="M14.027 13.05l8.595-1.373.383-3.397z"/>
          <path fill="#5A8591" d="M13.105 5.085l7.47 4.5 2.43-1.305.068-.472z"/>
          <path fill="#009EC6" d="M14.568.18l6.795 7.155 1.71.473.27-2.408z"/>
          <path fill="#F39804" d="M18.37 22.073l6.03-3.826.36 4.478z"/>
      </g>
    </svg>
    <div class="loading-failed"><!-- TODO: add correct styling -->
      Loading failed, please try again later.
    </div>
  </div>
</div>
<div id="app"></div>
