---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v19.0/<WHATSAPP_PHONE_NUMBER_ID>/messages
    body:
      encoding: UTF-8
      string: '{"messaging_product":"whatsapp","to":<WHATSAPP_RECIPIENT_NUMBER>,"recipient_type":"individual","type":"text","text":{"body":"Lorem
        ipsum dolor sit amet, consectetur adipiscing elit.\n"}}'
    headers:
      Authorization:
      - Bearer <WHATSAPP_ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Business-Use-Case-Usage:
      - '{"<WHATSAPP_BUSINESS_ID>":[{"type":"whatsapp","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v19.0
    body:
      encoding: UTF-8
      string: '{"messaging_product":"whatsapp","contacts":[{"input":"<WHATSAPP_RECIPIENT_NUMBER>","wa_id":"<WHATSAPP_RECIPIENT_NUMBER>"}],"messages":[{"id":"wamid.HBgMNDQ3Mzc3MTE0OTg5FQIAERgSNjA5ODU5MDREQTk0RjRCNjBDAA=="}]}'
  recorded_at: Thu, 22 Feb 2024 15:52:45 GMT
recorded_with: VCR 6.2.0
