Einladung zu #{config.product_name} über #{config.fqdn}

<div>Hallo #{user.fullname},</div>
<br>
<div>ich (#{current_user.firstname} #{current_user.lastname}) möchte Sie zu #{config.product_name} einladen - unserer Kundensupport-Plattform.</div>
<br>
<div>Um sich anzumelden kann <a href="#{config.http_type}://#{config.fqdn}/#password_reset_verify/#{token.name}">hier</a> das Password gesetzt werden.</div>
<br>
<div>Enjoy,</div>
<br>
<div>#{current_user.firstname} #{current_user.lastname}</div>
<br>
<div>Ihr #{config.product_name}-Team</div>
