Invitation sur #{config.product_name} de #{config.fqdn}

<div>Bonjour #{user.firstname},</div>
<br>
<div>Je (#{current_user.firstname} #{current_user.lastname}) vous invite à nous rejoindre sur #{config.product_name} - notre plateforme de support et de suivi.</div>
<br>
<div>Cliquez <a href="#{config.http_type}://#{config.fqdn}/#password_reset_verify/#{token.name}">ici</a> et choisissez votre mot de passe.</div>
<br>
<div>À très bientôt,</div>
<br>
<div>#{current_user.firstname} #{current_user.lastname}</div>
<br>
<div>Votre équipe #{config.product_name}</div>
