Pozivnica za #{config.product_name} na #{config.fqdn}

<div>Bok #{user.firstname},</div>
<br>
<div>Ja, (#{current_user.firstname} #{current_user.lastname}), pozivam Vas na #{config.product_name} - našu platformu za korisničku podršku.</div>
<br>
<div>Kliknite <a href="#{config.http_type}://#{config.fqdn}/#password_reset_verify/#{token.name}">ovdje</a> i postavite Vašu lozinku.</div>
<br>
<div>Lijep pozdrav,</div>
<br>
<div>#{current_user.firstname} #{current_user.lastname}</div>
<br>
<div>Vaš #{config.product_name} tim</div>
