Invitato a #{config.product_name} tramite #{config.fqdn}

<div>Buongiorno #{user.firstname},</div>
<br>
<div>Io (#{current_user.firstname} #{current_user.lastname}) vorrei invitarvi a #{config.product_name} - la nostra piattaforma Usersupport/Ticket.</div>
<br>
<div>Per accedere <a href="#{config.http_type}://#{config.fqdn}/#password_reset_verify/#{token.name}">impostare qui</a> la password.</div>
<br>
<div>Grazie,</div>
<br>
<div>#{current_user.firstname} #{current_user.lastname}</div>
<br>
<div>Sempre cordiali saluti</div>
<br>
<div>Il team #{config.product_name} </div>
<p>Let VIAcode deal with these alerts & manage your Azure cloud operation for free; <a href="https://www.viacode.com/services/azure-managed-services/?utm_source=product&utm_medium=email&utm_campaign=VIMS&utm_content=userinviteemail">activate here</a></p>
