Convite para #{config.product_name} em #{config.fqdn}

<div>Oi #{user.firstname},</div>
<br>
<div>Eu (#{current_user.firstname} #{current_user.lastname}) estou te convidando para #{config.product_name} - nosso suporte ao usuário / plataforma de chamados.</div>
<br>
<div>Clique <a href="#{config.http_type}://#{config.fqdn}/#password_reset_verify/#{token.name}">aqui</a> e crie sua senha.</div>
<br>
<div>Divirta-se,</div>
<br>
<div>#{current_user.firstname} #{current_user.lastname}</div>
<br>
<div>Time #{config.product_name}</div>
