Позивница за #{config.product_name} на #{config.fqdn}

<div>Здраво #{user.firstname},</div>
<br>
<div>Ја, (#{current_user.firstname} #{current_user.lastname}), позивам вас на #{config.product_name} - нашу платформу за корисничку подршку.</div>
<br>
<div>Кликните <a href="#{config.http_type}://#{config.fqdn}/#password_reset_verify/#{token.name}">овде</a> и подесите вашу лозинку.</div>
<br>
<div>Срдачно,</div>
<br>
<div>#{current_user.firstname} #{current_user.lastname}</div>
<br>
<div>Ваш #{config.product_name} тим</div>
