production:
  adapter: mysql2
  database: zammad_prod
  pool: 50
  timeout: 5000
  encoding: utf8
  username: some_user
  password: some_pass
  host: 127.0.0.1

development:
  adapter: mysql2
  database: zammad_development
  pool: 50
  timeout: 5000
  encoding: utf8
  username: some_user
  password: some_pass
  host: 127.0.0.1
