---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="https%3A%2F%2Fzammad.example.com%2Fapi%2Fv1%2Fexternal_credentials%2Ftwitter%2Fcallback",
        oauth_consumer_key="REDACTED", oauth_nonce="VRoBaTlqUNONRdoijJHa6EOqLUm3byplijFPiq89rk",
        oauth_signature="WdhBR4eYTroYsTDILrvXuI0XkiQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1584946494", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Last-Modified:
      - Mon, 23 Mar 2020 06:54:55 GMT
      Ml:
      - S
      Status:
      - 200 OK
      X-Connection-Hash:
      - 0024fe0912dac2a5dc844ca38452d061
      X-Response-Time:
      - '175'
      X-Transaction:
      - '0079b5ea00ca607b'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: oauth_token=ROuVpAAAAAAA9CNXAAABcQYsP_I&oauth_token_secret=DxU3Sug0XWisEguI1V1sKLCtagoN4H9n&oauth_callback_confirmed=true
  recorded_at: Mon, 23 Mar 2020 06:54:55 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account_activity/all/zammad/webhooks.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="REDACTED", oauth_nonce="4d73297b8c1c4b53c4da233d5c84450d",
        oauth_signature="jFTdr8438fxw6izLvwu%2B8vG71wY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1584946495", oauth_token="REDACTED",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 23 Mar 2020 06:54:56 GMT
      X-Connection-Hash:
      - d3cf054bb409d406e78f3eceb68dbc87
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '10'
      X-Rate-Limit-Reset:
      - '1584946869'
      X-Response-Time:
      - '120'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"id":"1241981813595049984","url":"https://other-twitter-consumer.example.com/api/v1/channels_twitter_webhook","valid":true,"created_timestamp":"2020-03-23
        06:50:00 +0000"}]'
  recorded_at: Mon, 23 Mar 2020 06:54:56 GMT
- request:
    method: delete
    uri: https://api.twitter.com/1.1/account_activity/all/zammad/webhooks/1241981813595049984.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="REDACTED", oauth_nonce="e01c43b32c7cc9a40ae38ed9160d4270",
        oauth_signature="TYA3fOVQFJaroBPv%2BxcexVsf0pA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1584946512", oauth_token="REDACTED",
        oauth_version="1.0"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Last-Modified:
      - Mon, 23 Mar 2020 06:55:13 GMT
      X-Connection-Hash:
      - 43d344188e5cd1359cc494ca68e3a148
      X-Response-Time:
      - '134'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 23 Mar 2020 06:55:13 GMT
- request:
    method: post
    uri: https://api.twitter.com/1.1/account_activity/all/zammad/webhooks.json
    body:
      encoding: UTF-8
      string: url=https%3A%2F%2Fzammad.example.com%2Fapi%2Fv1%2Fchannels_twitter_webhook
    headers:
      Authorization:
      - OAuth oauth_consumer_key="REDACTED", oauth_nonce="544efdb5ca2de8d67c7dc24824b454b1",
        oauth_signature="0InLZ8JHpAiDPZdmAHGXJSEGxiU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1584946513", oauth_token="REDACTED",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 23 Mar 2020 06:55:14 GMT
      X-Connection-Hash:
      - 3654669d75d05854cb54a51031c58246
      X-Response-Time:
      - '968'
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"id":"1241980494134145024","url":"https://zammad.example.com/api/v1/channels_twitter_webhook","valid":true,"created_timestamp":"2020-03-23
        06:55:14 +0000"}'
  recorded_at: Mon, 23 Mar 2020 06:55:14 GMT
recorded_with: VCR 4.0.0
