---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="https%3A%2F%2Fzammad.example.com%2Fapi%2Fv1%2Fexternal_credentials%2Ftwitter%2Fcallback",
        oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="5sZ6bgNjsG0UOIm2DPtYrKsF2QEXMSmigO5Vx8RJc7A",
        oauth_signature="PoUspiY%2FBF%2BfVWA34YH1Dog%2Bu1Q%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1624980871", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Ml:
      - A
      Status:
      - 200 OK
      Content-Type:
      - text/html;charset=utf-8
      Last-Modified:
      - Tue, 29 Jun 2021 15:34:31 GMT
      X-Transaction:
      - de18a14d586a1753
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Connection-Hash:
      - 95692f9fa956448d9c06a771af6b75b68fbf0c098ed1607bba0a484846f64eee
    body:
      encoding: ASCII-8BIT
      string: oauth_token=VQGK5AAAAAABRBl5AAABelhoWVE&oauth_token_secret=zFHhkWSZMaNHA4GDT5AvVLVHeVJio0pL&oauth_callback_confirmed=true
  recorded_at: Tue, 29 Jun 2021 15:34:31 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account_activity/all/foo/webhooks.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="fd376d91bdc1ee3d131f346bc16c01c4",
        oauth_signature="KAEtAb80QVAMwN22tnY2uuGBTOU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1624980871", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 29 Jun 2021 15:34:31 GMT
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Reset:
      - '1624981072'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '10'
      X-Connection-Hash:
      - f41675c1d1bad3b331eeb7d8e1f6eec4d8b31ff50ccbf41b63e88b324c599fa1
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":200,"message":"Forbidden."}]}'
  recorded_at: Tue, 29 Jun 2021 15:34:31 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account_activity/all/webhooks.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="3570e8302bb18a5fed6ff91dccf632de",
        oauth_signature="7ojwKji%2FVVQwLzUTm7wNWL6NhHQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1624980871", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 29 Jun 2021 15:34:32 GMT
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Reset:
      - '1624981262'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '13'
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Connection-Hash:
      - 2914f9b74a769f8dc45dfb3237aefba217f1e809741363b1d752fcdce64f29b8
    body:
      encoding: UTF-8
      string: '{"environments":[{"environment_name":"<TWITTER_DEV_ENVIRONMENT>","webhooks":[]}]}'
  recorded_at: Tue, 29 Jun 2021 15:34:32 GMT
recorded_with: VCR 6.0.0
