---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="https%3A%2F%2Fzammad.example.com%2Fapi%2Fv1%2Fexternal_credentials%2Ftwitter%2Fcallback",
        oauth_consumer_key="REDACTED", oauth_nonce="WEdVRwqANFvd88F7XT20hb9Gy2sX9SUOHO2OjuDy5s",
        oauth_signature="5FxCmPjUhhonf8z91c0zjdva17g%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1584946195", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Last-Modified:
      - Mon, 23 Mar 2020 06:49:56 GMT
      Ml:
      - S
      Status:
      - 200 OK
      X-Connection-Hash:
      - bf1be9b449b09c27118e03154030d2c1
      X-Response-Time:
      - '182'
      X-Transaction:
      - 0041a72a0055a246
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: oauth_token=Zh216AAAAAAA9CNXAAABcQYnsOw&oauth_token_secret=yo7psG4mpdPWyukpnmu1vWRt4Tz8WGtr&oauth_callback_confirmed=true
  recorded_at: Mon, 23 Mar 2020 06:49:56 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account_activity/all/zammad/webhooks.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="REDACTED", oauth_nonce="3e01a769626bdda6a2a486523c5ecc88",
        oauth_signature="ziL70P7MK8c1fQb48VDq90l7nVo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1584946196", oauth_token="REDACTED",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 23 Mar 2020 06:49:57 GMT
      X-Connection-Hash:
      - 0fb10d92512f1a9c56d292d6b53ae39d
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1584946869'
      X-Response-Time:
      - '127'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 23 Mar 2020 06:49:57 GMT
- request:
    method: post
    uri: https://api.twitter.com/1.1/account_activity/all/zammad/webhooks.json
    body:
      encoding: UTF-8
      string: url=https%3A%2F%2Fzammad.example.com%2Fapi%2Fv1%2Fchannels_twitter_webhook
    headers:
      Authorization:
      - OAuth oauth_consumer_key="REDACTED", oauth_nonce="30b043964594269685a4f012b7e8dee9",
        oauth_signature="2Cjq%2BkPsg9t16de7RxT%2BpSHd4Vs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1584946198", oauth_token="REDACTED",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 23 Mar 2020 06:50:00 GMT
      X-Connection-Hash:
      - 0adde24aa0bdba3982ff7fca82228752
      X-Response-Time:
      - '1002'
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"id":"1241980494134145024","url":"https://zammad.example.com/api/v1/channels_twitter_webhook","valid":true,"created_timestamp":"2020-03-23
        06:50:00 +0000"}'
  recorded_at: Mon, 23 Mar 2020 06:50:00 GMT
recorded_with: VCR 4.0.0
