---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="https%3A%2F%2Fzammad.example.com%2Fapi%2Fv1%2Fexternal_credentials%2Ftwitter%2Fcallback",
        oauth_consumer_key="REDACTED", oauth_nonce="csPRCe8Nu9cv8FNuxnLrInhnw96JjKTcZwK0HW8Njk",
        oauth_signature="snIl5z49RgjhAiQs%2FQxk3kA%2FXtk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1584946407", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Last-Modified:
      - Mon, 23 Mar 2020 06:53:28 GMT
      Ml:
      - S
      Status:
      - 200 OK
      X-Connection-Hash:
      - f86b366038f347fcd3bba565fd31387f
      X-Response-Time:
      - '174'
      X-Transaction:
      - '008597c000517be9'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: oauth_token=dMaNHgAAAAAA9CNXAAABcQYq7Hg&oauth_token_secret=d9QXHdi5FXmJjA1NZwKJBvvYh3tyv5IE&oauth_callback_confirmed=true
  recorded_at: Mon, 23 Mar 2020 06:53:28 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account_activity/all/zammad/webhooks.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="REDACTED", oauth_nonce="942e58699c99fd8bd9ba1cd69942f14f",
        oauth_signature="O3JqHZhT8NsLR7yAA1QHIyxFVBw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1584946408", oauth_token="REDACTED",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 23 Mar 2020 06:53:29 GMT
      X-Connection-Hash:
      - 3a297b509badf9dde9b3bd63225f2460
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '11'
      X-Rate-Limit-Reset:
      - '1584946869'
      X-Response-Time:
      - '129'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"id":"1241980494134145024","url":"https://zammad.example.com/api/v1/channels_twitter_webhook","valid":false,"created_timestamp":"2020-03-23
        06:50:00 +0000"}]'
  recorded_at: Mon, 23 Mar 2020 06:53:29 GMT
- request:
    method: put
    uri: https://api.twitter.com/1.1/account_activity/all/zammad/webhooks/1241980494134145024.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="REDACTED", oauth_nonce="0e68c87513ac6d73759d3d581842342a",
        oauth_signature="yJoLurGrHTs20uGEsm3uDEBgwUE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1584946414", oauth_token="REDACTED",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
      Last-Modified:
      - Mon, 23 Mar 2020 06:53:36 GMT
      X-Connection-Hash:
      - f79cb739010ea5fa189afc005a998ebd
      X-Response-Time:
      - '1192'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 23 Mar 2020 06:53:36 GMT
recorded_with: VCR 4.0.0
