---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth/request_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="https%3A%2F%2Fzammad.example.com%2Fapi%2Fv1%2Fexternal_credentials%2Ftwitter%2Fcallback",
        oauth_consumer_key="REDACTED", oauth_nonce="UUPB8XVJ1NuvAbj3aqyyiIKVMK7ko0BsJsgenHb1g",
        oauth_signature="w3x2Z7sLFUR0%2FEVnEUgY%2BjFxArQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1584863417", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Last-Modified:
      - Sun, 22 Mar 2020 07:50:18 GMT
      Ml:
      - S
      Status:
      - 200 OK
      X-Connection-Hash:
      - b8ec73ffd179fea5daaa30f3a077692a
      X-Response-Time:
      - '179'
      X-Transaction:
      - 00ba19ed00f1eba8
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: oauth_token=FKDDVQAAAAABCFc9AAABcQE4mLA&oauth_token_secret=K4EVN3HlKB5WevblF1xpn9kG89boaVVB&oauth_callback_confirmed=true
  recorded_at: Sun, 22 Mar 2020 07:50:18 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account_activity/all/foo/webhooks.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="REDACTED", oauth_nonce="d29100379bb6bac96644adacff4dca44",
        oauth_signature="CsldhuESW3DOtaCZulq3qA%2BflGs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1584863418", oauth_token="REDACTED",
        oauth_version="1.0"
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 22 Mar 2020 07:50:19 GMT
      X-Connection-Hash:
      - bed4902b98c59d385f9b8367c481a4dc
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1584864285'
      X-Response-Time:
      - '135'
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":200,"message":"Forbidden."}]}'
  recorded_at: Sun, 22 Mar 2020 07:50:19 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account_activity/all/webhooks.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="REDACTED", oauth_nonce="29b521a0e7f13264842b631dbf88ad3c",
        oauth_signature="WFtmIEjdyHHJdidWUh5KuocRDrg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1584863419", oauth_token="REDACTED",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 22 Mar 2020 07:50:20 GMT
      X-Connection-Hash:
      - 2866e6e58948a650df59bb1a35de93d9
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1584864320'
      X-Response-Time:
      - '125'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"environments":[{"environment_name":"zammad","webhooks":[]}]}'
  recorded_at: Sun, 22 Mar 2020 07:50:21 GMT
recorded_with: VCR 4.0.0
