---
http_interactions:
- request:
    method: post
    uri: "<SLACK_CI_WEBHOOK_URL>"
    body:
      encoding: US-ASCII
      string: payload=%7B%22channel%22%3A%22<SLACK_CI_CHANNEL_NAME>%22%2C%22username%22%3A%22zammad_agent%22%2C%22icon_url%22%3A%22https%3A%2F%2Fzammad.com%2Fassets%2Fimages%2Flogo-200x200.png%22%2C%22mrkdwn%22%3Atrue%2C%22text%22%3A%22%23+baz%22%2C%22attachments%22%3A%5B%7B%22text%22%3A%22_%5Cu003chttp%3A%2F%2Fzammad.example.com%2F%23ticket%2Fzoom%2F4%7CTicket%2346002%5Cu003e%3A+Created+by+-+at+02%2F14%2F2023++8%3A19+am+%28UTC%29_%5Cn*+Group%3A+Group+3%5Cn*+Owner%3A+-%5Cn*+State%3A+new%5Cn%5Cn%5Cnbaz%22%2C%22mrkdwn_in%22%3A%5B%22text%22%5D%2C%22color%22%3A%22%23faab00%22%7D%5D%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Slack-Unique-Id:
      - Y-tEEBkmSLiu1wVjjgJ1kwABADs
      Content-Type:
      - text/html
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-zgiu
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: ok
  recorded_at: Tue, 14 Feb 2023 08:19:28 GMT
- request:
    method: post
    uri: https://slack.com/api/auth.test
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <SLACK_CI_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Slack-Unique-Id:
      - Y-tEEJRqrr-3X1cBe6a5NwAAoA0
      X-Oauth-Scopes:
      - identify,channels:history,channels:read,chat:write
      X-Slack-Req-Id:
      - 104b36b41300953bc81808b05eeca831
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-kdyj
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"url":"https:\/\/zammaddevelopment.slack.com\/","team":"Zammad
        Development","user":"development","team_id":"T04PAE1JDD1","user_id":"U04Q084V9QQ","is_enterprise_install":false}'
  recorded_at: Tue, 14 Feb 2023 08:19:28 GMT
- request:
    method: post
    uri: https://slack.com/api/conversations.list
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <SLACK_CI_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Slack-Unique-Id:
      - Y-tEEPiTLGZxrF6UNfXnDwAA8Bw
      X-Oauth-Scopes:
      - identify,channels:history,channels:read,chat:write
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Slack-Req-Id:
      - c928d51f67a44257ba526984a58a3b0b
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-nrbp
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C04P7MS4WPP","name":"<SLACK_CI_CHANNEL_NAME>","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1676287456,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"<SLACK_CI_CHANNEL_NAME>","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"context_team_id":"T04PAE1JDD1","updated":1676289623188,"parent_conversation":null,"creator":"U04Q084V9QQ","is_ext_shared":false,"shared_team_ids":["T04PAE1JDD1"],"pending_connected_team_ids":[],"is_member":true,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"Zammad
        CI - Test Channel","creator":"U04Q084V9QQ","last_set":1676287457},"previous_names":[],"num_members":2},{"id":"C04Q0850XFA","name":"general","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1676286228,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"context_team_id":"T04PAE1JDD1","updated":1676286228292,"parent_conversation":null,"creator":"U04Q084V9QQ","is_ext_shared":false,"shared_team_ids":["T04PAE1JDD1"],"pending_connected_team_ids":[],"is_member":true,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"This
        is the one channel that will always include everyone. It\u2019s a great spot
        for announcements and team-wide conversations.","creator":"U04Q084V9QQ","last_set":1676286228},"previous_names":[],"num_members":1}],"response_metadata":{"next_cursor":""}}'
  recorded_at: Tue, 14 Feb 2023 08:19:28 GMT
- request:
    method: post
    uri: https://slack.com/api/conversations.history
    body:
      encoding: UTF-8
      string: channel=C04P7MS4WPP
    headers:
      Authorization:
      - Bearer <SLACK_CI_OAUTH_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Slack-Unique-Id:
      - Y-tEEHBhhjhSInn_QObBVwAA0As
      X-Oauth-Scopes:
      - identify,channels:history,channels:read,chat:write
      X-Accepted-Oauth-Scopes:
      - channels:history,groups:history,mpim:history,im:history,read
      X-Slack-Req-Id:
      - a215dbb06f71864a1a5c12518aca3f40
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-ubsp
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"messages":[{"type":"message","subtype":"bot_message","text":"#
        baz","ts":"1676362768.517869","bot_id":"B04PDGJS4CC","blocks":[{"type":"rich_text","block_id":"B=Tm","elements":[{"type":"rich_text_section","elements":[{"type":"text","text":"#
        baz"}]}]}],"attachments":[{"id":1,"color":"faab00","fallback":"_<http:\/\/zammad.example.com\/#ticket\/zoom\/4|Ticket#46002>:
        Created by - at 02\/14\/2023  8:19 am (UTC)_\n* Group: Group 3\n* Owner: -\n*
        State: new\n\n\nbaz","text":"_<http:\/\/zammad.example.com\/#ticket\/zoom\/4|Ticket#46002>:
        Created by - at 02\/14\/2023  8:19 am (UTC)_\n* Group: Group 3\n* Owner: -\n*
        State: new\n\n\nbaz","mrkdwn_in":["text"]}]}],"has_more":false,"pin_count":0,"channel_actions_ts":null,"channel_actions_count":0}'
  recorded_at: Tue, 14 Feb 2023 08:19:28 GMT
[...]
