---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/auth.test
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <SLACK_CI_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Slack-Unique-Id:
      - Y-tEDky5EpAa1AF1D1v9ygAA8AA
      X-Oauth-Scopes:
      - identify,channels:history,channels:read,chat:write
      X-Slack-Req-Id:
      - 055f06f51fb67ae6cc95c4786fb41e2b
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-tyiv
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"url":"https:\/\/zammaddevelopment.slack.com\/","team":"Zammad
        Development","user":"development","team_id":"T04PAE1JDD1","user_id":"U04Q084V9QQ","is_enterprise_install":false}'
  recorded_at: Tue, 14 Feb 2023 08:19:26 GMT
- request:
    method: post
    uri: https://slack.com/api/conversations.list
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <SLACK_CI_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Slack-Unique-Id:
      - Y-tEDosz8i6Sq4M-R0FyYQAA8Bo
      X-Oauth-Scopes:
      - identify,channels:history,channels:read,chat:write
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Slack-Req-Id:
      - af0855051f66c22ff78f29827b510824
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-akbu
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C04P7MS4WPP","name":"<SLACK_CI_CHANNEL_NAME>","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1676287456,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"<SLACK_CI_CHANNEL_NAME>","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"context_team_id":"T04PAE1JDD1","updated":1676289623188,"parent_conversation":null,"creator":"U04Q084V9QQ","is_ext_shared":false,"shared_team_ids":["T04PAE1JDD1"],"pending_connected_team_ids":[],"is_member":true,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"Zammad
        CI - Test Channel","creator":"U04Q084V9QQ","last_set":1676287457},"previous_names":[],"num_members":2},{"id":"C04Q0850XFA","name":"general","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1676286228,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"context_team_id":"T04PAE1JDD1","updated":1676286228292,"parent_conversation":null,"creator":"U04Q084V9QQ","is_ext_shared":false,"shared_team_ids":["T04PAE1JDD1"],"pending_connected_team_ids":[],"is_member":true,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"This
        is the one channel that will always include everyone. It\u2019s a great spot
        for announcements and team-wide conversations.","creator":"U04Q084V9QQ","last_set":1676286228},"previous_names":[],"num_members":1}],"response_metadata":{"next_cursor":""}}'
  recorded_at: Tue, 14 Feb 2023 08:19:26 GMT
- request:
    method: post
    uri: https://slack.com/api/conversations.history
    body:
      encoding: UTF-8
      string: channel=C04P7MS4WPP
    headers:
      Authorization:
      - Bearer <SLACK_CI_OAUTH_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Slack-Unique-Id:
      - Y-tEDiO43Kz2SKLWzR_6YgABAB8
      X-Oauth-Scopes:
      - identify,channels:history,channels:read,chat:write
      X-Accepted-Oauth-Scopes:
      - channels:history,groups:history,mpim:history,im:history,read
      X-Slack-Req-Id:
      - 0117d491f3401ac52045fb07b606634e
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-unid
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"messages":[],"has_more":false,"pin_count":0,"channel_actions_ts":null,"channel_actions_count":0}'
  recorded_at: Tue, 14 Feb 2023 08:19:26 GMT
[...]
- request:
    method: post
    uri: https://slack.com/api/conversations.history
    body:
      encoding: UTF-8
      string: channel=C04P7MS4WPP
    headers:
      Authorization:
      - Bearer <SLACK_CI_OAUTH_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Slack-Unique-Id:
      - Y-tED58ADUHTJH5H_BBYPwAA0BY
      X-Oauth-Scopes:
      - identify,channels:history,channels:read,chat:write
      X-Accepted-Oauth-Scopes:
      - channels:history,groups:history,mpim:history,im:history,read
      X-Slack-Req-Id:
      - e488a8a7dd751c60c517c74072ce9f39
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-vpqi
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"messages":[],"has_more":false,"pin_count":0,"channel_actions_ts":null,"channel_actions_count":0}'
  recorded_at: Tue, 14 Feb 2023 08:19:27 GMT
recorded_with: VCR 6.1.0
