---
http_interactions:
- request:
    method: post
    uri: "<SLACK_CI_WEBHOOK>"
    body:
      encoding: US-ASCII
      string: payload=%7B%22channel%22%3A%22<SLACK_CI_CHANNEL>%22%2C%22username%22%3A%22zammad+bot%22%2C%22icon_url%22%3A%22https%3A%2F%2Fzammad.com%2Fassets%2Fimages%2Flogo-200x200.png%22%2C%22mrkdwn%22%3Atrue%2C%22text%22%3A%22%23+cat...+53d106ed8a69abcff434%22%2C%22attachments%22%3A%5B%7B%22text%22%3A%22_%5Cu003chttp%3A%2F%2Fzammad.example.com%2F%23ticket%2Fzoom%2F23%7CTicket%2325002%5Cu003e%3A+Created+by+-+at+02%2F09%2F2023+11%3A02+am+%28UTC%29_%5Cn*+Group%3A+Group+1%5Cn*+Owner%3A+-%5Cn*+State%3A+new%5Cn%5Cn%5Cncat...+53d106ed8a69abcff434%22%2C%22mrkdwn_in%22%3A%5B%22text%22%5D%2C%22color%22%3A%22%23faab00%22%7D%5D%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Slack-Unique-Id:
      - Y-TSsxWzqmp39_O1vPXgzwAAEAQ
      Content-Type:
      - text/html
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-wgku
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: ok
  recorded_at: Thu, 09 Feb 2023 11:02:11 GMT
- request:
    method: post
    uri: https://slack.com/api/auth.test
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <SLACK_CI_CHECKER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Slack-Unique-Id:
      - Y-TSs-59dvdlZ1Xyeg338QAAEBA
      X-Oauth-Scopes:
      - identify,read,post,client,apps
      X-Slack-Req-Id:
      - 58c71ae64ba14508bda5b9b555942ac5
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-ynzw
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"url":"https:\/\/zammad.slack.com\/","team":"Zammad","user":"ci-checker","team_id":"T103PEN79","user_id":"U10M3DK0X","bot_id":"B10M26KLG","is_enterprise_install":false}'
  recorded_at: Thu, 09 Feb 2023 11:02:11 GMT
- request:
    method: post
    uri: https://slack.com/api/conversations.list
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <SLACK_CI_CHECKER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Slack-Unique-Id:
      - Y-TStNLyVO8kH7NYZZEBnwAAAAc
      X-Oauth-Scopes:
      - identify,read,post,client,apps
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Slack-Req-Id:
      - 8f9abc7ba0a6cf48ae6fc37a2b63a56c
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-zvcz
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C10289HBM","name":"general","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1460488227,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"context_team_id":"T103PEN79","updated":1558156973596,"parent_conversation":null,"creator":"U103NBQ5N","is_ext_shared":false,"shared_team_ids":["T103PEN79"],"pending_connected_team_ids":[],"is_member":false,"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"","last_set":0},"purpose":{"value":"This
        channel is for team-wide communication and announcements. All team members
        are in this channel.","creator":"","last_set":0},"previous_names":[],"num_members":1},{"id":"C103QLV45","name":"random","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1460488227,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"random","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"context_team_id":"T103PEN79","updated":1558156977435,"parent_conversation":null,"creator":"U103NBQ5N","is_ext_shared":false,"shared_team_ids":["T103PEN79"],"pending_connected_team_ids":[],[...]
- request:
    method: post
    uri: https://slack.com/api/conversations.history
    body:
      encoding: UTF-8
      string: channel=C10MW748J
    headers:
      Authorization:
      - Bearer <SLACK_CI_CHECKER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Slack-Unique-Id:
      - Y-TStCO2Lh8_OUG5DMb1ZgAAEDo
      X-Oauth-Scopes:
      - identify,read,post,client,apps
      X-Accepted-Oauth-Scopes:
      - channels:history,groups:history,mpim:history,im:history,read
      X-Slack-Req-Id:
      - f355ac712c9022506337ab9fa22224e3
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-kpto
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"messages":[{"type":"message","subtype":"bot_message","text":"#
        cat... 53d106ed8a69abcff434","ts":"1675940531.588119","username":"zammad bot","icons":{"image_48":"https:\/\/s3-us-west-2.amazonaws.com\/slack-files2\/bot_icons\/2016-10-20\/93982573744_48.png"},"bot_id":"B107JCEJ1","blocks":[{"type":"rich_text","block_id":"6wg","elements":[{"type":"rich_text_section","elements":[{"type":"text","text":"#
        cat... 53d106ed8a69abcff434"}]}]}],"attachments":[{"id":1,"color":"faab00","fallback":"_<http:\/\/zammad.example.com\/#ticket\/zoom\/23|Ticket#25002>:
        Created by - at 02\/09\/2023 11:02 am (UTC)_\n* Group: Group 1\n* Owner: -\n*
        State: new\n\n\ncat... 53d106ed8a69abcff434","text":"_<http:\/\/zammad.example.com\/#ticket\/zoom\/23|Ticket#25002>:
        Created by - at 02\/09\/2023 11:02 am (UTC)_\n* Group: Group 1\n* Owner: -\n*
        State: new\n\n\ncat... 53d106ed8a69abcff434","mrkdwn_in":["text"]}]},{"type":"message","subtype":"bot_message","text":"#
        invent new things... 3c44953dd09f760f73d9","ts":"1675939474.076669","username":"zammad
        bot","icons":{"image_48":"https:\/\/s3-us-west-2.amazonaws.com\/slack-files2\/bot_icons\/2016-10-20\/93982573744_48.png"},"bot_id":"B107JCEJ1","blocks":[{"type":"rich_text","block_id":"AlXq","elements":[{"type":"rich_text_section","elements":[{"type":"text","text":"#
        invent new things... 3c44953dd09f760f73d9"}]}]}],"attachm[...]
[...]
