---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/auth.test
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <SLACK_CI_CHECKER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Slack-Unique-Id:
      - Y-TNP364FFmIAWK76wahEQAAECA
      X-Oauth-Scopes:
      - identify,read,post,client,apps
      X-Slack-Req-Id:
      - 5fabaf6db54d3ed699ab697b11a05ea9
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-control-main-iad-cdmi
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"url":"https:\/\/zammad.slack.com\/","team":"Zammad","user":"ci-checker","team_id":"T103PEN79","user_id":"U10M3DK0X","bot_id":"B10M26KLG","is_enterprise_install":false}'
  recorded_at: Thu, 09 Feb 2023 10:38:55 GMT
- request:
    method: post
    uri: https://slack.com/api/conversations.list
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <SLACK_CI_CHECKER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Slack-Unique-Id:
      - Y-TNPzOeEg-mkNof8_NoOQAAEB0
      X-Oauth-Scopes:
      - identify,read,post,client,apps
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Slack-Req-Id:
      - e5f4bae13163105860ddd8c97c4820f4
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-hhgi
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C10289HBM","name":"general","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1460488227,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"context_team_id":"T103PEN79","updated":1558156973596,"parent_conversation":null,"creator":"U103NBQ5N","is_ext_shared":false,"shared_team_ids":["T103PEN79"],"pending_connected_team_ids":[],"is_member":false,"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"","last_set":0},"purpose":{"value":"This
        channel is for team-wide communication and announcements. All team members
        are in this channel.","creator":"","last_set":0},"previous_names":[],"num_members":1},{"id":"C103QLV45","name":"random","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1460488227,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"random","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"context_team_id":"T103PEN79","updated":1558156977435,"parent_conversation":null,"creator":"U103NBQ5N","is_ext_shared":false,"shared_team_ids":["T103PEN79"],"pending_connected_team_ids":[],"is_member":false,"topic":{"value":"Non-work
        banter and water cooler conversation","creator":"","last_set":0},"purpose":{"value":"A
        place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber
        you''d prefer to keep out of more focused work-related channels.","creator":"","last_set":0},"previous_names":[],"num_members":1},{"id":"C10MW748J","name":"<SLACK_CI_CHANNEL>","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1460645699,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"<SLACK_CI_CHANNEL>","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"context_team_id":"T103PEN79","updated":1558157054309,"parent_conversation":null,"creator":"U103NBQ5N","is_ext_shared":false,"shared_team_ids":["T103PEN79"],"pending_connected_team_ids":[],"is_member":true,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"ci","creator":"U103NBQ5N","last_set":1460645700},"previous_names":[],"num_members":2},{"id":"C2EBS4XS7","name":"discussion","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1474491034,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"discussion","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"context_team_id":"T103PEN79","updated":1558158292905,"parent_conversation":null,"creator":"U103NBQ5N","is_ext_shared":false,"shared_team_ids":["T103PEN79"],"pending_connected_team_ids":[],"is_member":false,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"Let''s
        talk about Zammad","creator":"U103NBQ5N","last_set":1474491035},"previous_names":[],"num_members":1}],"response_metadata":{"next_cursor":""}}'
  recorded_at: Thu, 09 Feb 2023 10:38:55 GMT
- request:
    method: post
    uri: https://slack.com/api/conversations.history
    body:
      encoding: UTF-8
      string: channel=C10MW748J
    headers:
      Authorization:
      - Bearer <SLACK_CI_CHECKER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Slack-Unique-Id:
      - Y-TNQE-ksHvjhFqHlCuOHwAAEBw
      X-Oauth-Scopes:
      - identify,read,post,client,apps
      X-Accepted-Oauth-Scopes:
      - channels:history,groups:history,mpim:history,im:history,read
      X-Slack-Req-Id:
      - dae424a0668f00e26716d211f6bdbec2
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-rmya
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"messages":[{"type":"message","subtype":"bot_message","text":"#
        cat... fba86b87207a059add19","ts":"1675939096.216419","username":"zammad bot","icons":{"image_48":"https:\/\/s3-us-west-2.amazonaws.com\/slack-files2\/bot_icons\/2016-10-20\/93982573744_48.png"},"bot_id":"B107JCEJ1","blocks":[{"type":"rich_text","block_id":"FO7","elements":[{"type":"rich_text_section","elements":[{"type":"text","text":"#
        cat... fba86b87207a059add19"}]}]}],"attachments":[{"id":1,"color":"faab00","fallback":"_<http:\/\/zammad.example.com\/#ticket\/zoom\/18|Ticket#25002>:
        Created by - at 02\/09\/2023 10:38 am (UTC)_\n* Group: Group 2\n* Owner: -\n*
        State: new\n\n\ncat... fba86b87207a059add19","text":"_<http:\/\/zammad.example.com\/#ticket\/zoom\/18|Ticket#25002>:
        Created by - at 02\/09\/2023 10:38 am (UTC)_\n* Group: Group 2\n* Owner: -\n*
        State: new\n\n\ncat... fba86b87207a059add19","mrkdwn_in":["text"]}]},{"type":"message","subtype":"bot_message","text":"#
        cat... fba86b87207a059add19","ts":"1675939000.192679","username":"zammad bot","icons":{"image_48":"https:\/\/s3-us-west-2.amazonaws.com\/slack-files2\/bot_icons\/2016-10-20\/93982573744_48.png"},"bot_id":"B107JCEJ1","blocks":[{"type":"rich_text","block_id":"Wxvx\/","elements":[{"type":"rich_text_section","elements":[{"type":"text","text":"#
        cat... fba86b87207a059add19"}]}]}],"attachments":[{"id":1,"color":"faab00","f[...]
[...]
