---
http_interactions:
- request:
    method: get
    uri: "<IMPORT_FRESHDESK_ENDPOINT>/time_entries"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <IMPORT_FRESHDESK_ENDPOINT_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Freshdesk-Api-Version:
      - latest=v2; requested=v2
      X-Fw-Ratelimiting-Managed:
      - 'true'
      X-Ratelimit-Total:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Used-Currentrequest:
      - '1'
      X-Trace-Id:
      - 00-e7013f12292102c9ac9e92b6a82f7f91-28e0beb4c0be8500-01
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Fri, 24 Nov 2023 16:14:06 GMT
- request:
    method: get
    uri: "<IMPORT_FRESHDESK_ENDPOINT>/groups?page=1&per_page=100"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <IMPORT_FRESHDESK_ENDPOINT_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Freshdesk-Api-Version:
      - latest=v2; requested=v2
      X-Fw-Ratelimiting-Managed:
      - 'true'
      X-Ratelimit-Total:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Used-Currentrequest:
      - '1'
      X-Trace-Id:
      - 00-5fcd86e8db85e1820c13dec30f8bd486-47fd20ac35966ce2-00
    body:
      encoding: ASCII-8BIT
      string: '[{"id":80000374754,"name":"Account managers","description":"Account
        managers","escalate_to":null,"unassigned_for":null,"business_hour_id":null,"group_type":"support_agent_group","created_at":"2021-04-09T13:29:45Z","updated_at":"2021-04-09T13:29:45Z"},{"id":80000374717,"name":"Billing","description":"Members
        of the Billing team belong to this group","escalate_to":null,"unassigned_for":null,"business_hour_id":null,"group_type":"support_agent_group","created_at":"2021-04-09T13:23:59Z","updated_at":"2021-04-09T13:23:59Z"},{"id":80000374751,"name":"Customer
        Support","description":"Customer Support","escalate_to":null,"unassigned_for":null,"business_hour_id":null,"group_type":"support_agent_group","created_a[...]
- request:
    method: get
    uri: "<IMPORT_FRESHDESK_ENDPOINT>/company_fields?page=1&per_page=100"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <IMPORT_FRESHDESK_ENDPOINT_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Freshdesk-Api-Version:
      - latest=v2; requested=v2
      X-Fw-Ratelimiting-Managed:
      - 'true'
      X-Ratelimit-Total:
      - '100'
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-Used-Currentrequest:
      - '1'
      X-Trace-Id:
      - 00-a5e4ac791025f33e795ba103eda1c482-92b585c2bb895de1-01
    body:
      encoding: ASCII-8BIT
      string: '[{"id":80000382712,"name":"name","label":"Company Name","position":1,"required_for_agents":true,"type":"default_name","default":true,"created_at":"2021-04-09T13:23:59Z","updated_at":"2021-04-09T13:23:59Z"},{"id":80000382713,"name":"description","label":"Description","position":2,"required_for_agents":false,"type":"default_description","default":true,"created_at":"2021-04-09T13:24:02Z","updated_at":"2021-04-09T13:24:02Z"},{"id":80000382714,"name":"note","label":"Notes","position":3,"required_for_agents":false,"type":"default_note","default":true,"created_at":"2021-04-09T13:24:02Z","updated_at":"2021-04-09T13:24:02Z"},{"id":80000382715,"name":"domains","label":"Domains
        for this company","position":4,"required_for_agents":false,"type":"default_domains","default":true,"created_at":"2021-04-09T13:24:02Z","updated_at":"2021-04-09T13:24:02Z"},{"id":80000382716,"name":"health_score","label":"Health
        score","position":5,"required_for_agents":false,"type":"default_health_score","default":true,"created_at":"2021-04-09T13:24:02Z","updated_at":"2021-04-09T13:24:02Z","choices":["At
        risk","Doing okay","Happy"]},{"id":80000382717,"name":"account_tier","label":"Account
        tier","position":6,"required_for_agents":false,"type":"default_account_tier","default":true,"created_at":"2021-04-09T13:24:02Z","updated_at":"2021-04-09T13:24:02Z","choices":["Basic","Premium","Enterprise"]},{"id":80000382718,"name":"renewal_date","label":"Renewal
        date","position":7,"required_for_agents":false,"type":"default_renewal_date","default":true,"created_at":"2021-04-09T13:[...]
- request:
    method: get
    uri: "<IMPORT_FRESHDESK_ENDPOINT>/companies?page=1&per_page=100"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <IMPORT_FRESHDESK_ENDPOINT_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Freshdesk-Api-Version:
      - latest=v2; requested=v2
      X-Fw-Ratelimiting-Managed:
      - 'true'
      X-Ratelimit-Total:
      - '100'
      X-Ratelimit-Remaining:
      - '96'
      X-Ratelimit-Used-Currentrequest:
      - '1'
      X-Trace-Id:
      - 00-896db6885ff545c4465da7119baddef7-aaf47b62ee4dfcf7-00
    body:
      encoding: ASCII-8BIT
      string: '[{"id":80000602705,"name":"Zammad Foundation","description":null,"note":null,"domains":["acmecorp.com"],"created_at":"2021-04-09T13:24:00Z","updated_at":"2021-04-12T20:25:36Z","custom_fields":{"custom_dropdown":null},"health_score":null,"account_tier":"Basic","renewal_date":null,"industry":null}]'
  recorded_at: Fri, 24 Nov 2023 16:14:07 GMT
- request:
    method: get
    uri: "<IMPORT_FRESHDESK_ENDPOINT>/agents?page=1&per_page=100"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <IMPORT_FRESHDESK_ENDPOINT_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Freshdesk-Api-Version:
      - latest=v2; requested=v2
      X-Fw-Ratelimiting-Managed:
      - 'true'
      X-Ratelimit-Total:
      - '100'
      X-Ratelimit-Remaining:
      - '95'
      X-Ratelimit-Used-Currentrequest:
      - '1'
      X-Trace-Id:
      - 00-857e151a4073a999e5e1d86fe7015f9b-14e73da0f5ec127f-00
    body:
      encoding: ASCII-8BIT
      string: '[{"available":false,"occasional":false,"id":80014400475,"ticket_scope":1,"created_at":"2021-04-09T13:23:58Z","updated_at":"2023-11-24T13:24:17Z","last_active_at":"2023-11-24T13:24:17Z","available_since":null,"type":"support_agent","contact":{"active":true,"email":"info@<IMPORT_FRESHDESK_ENDPOINT_SUBDOMAIN>.org","job_title":null,"language":"en","last_login_at":"2023-11-22T12:44:09Z","mobile":null,"name":"Thorsten
        Eckel","phone":null,"time_zone":"Eastern Time (US & Canada)","created_at":"2021-04-09T13:23:58Z","updated_at":"2022-01-12T09:06:31Z"},"deactivated":false,"signature":null}]'
  recorded_at: Fri, 24 Nov 2023 16:14:07 GMT
- request:
    method: get
    uri: "<IMPORT_FRESHDESK_ENDPOINT>/agents/me"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <IMPORT_FRESHDESK_ENDPOINT_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Freshdesk-Api-Version:
      - latest=v2; requested=v2
      X-Fw-Ratelimiting-Managed:
      - 'true'
      X-Ratelimit-Total:
      - '100'
      X-Ratelimit-Remaining:
      - '94'
      X-Ratelimit-Used-Currentrequest:
      - '1'
      X-Trace-Id:
      - 00-6ccac928a606fd2706685711ff2387d8-71ae15a2d1b747f2-00
    body:
      encoding: ASCII-8BIT
      string: '{"available":false,"occasional":false,"id":80014400475,"ticket_scope":1,"signature":null,"group_ids":[],"role_ids":[80000198826],"skill_ids":[],"available_since":null,"contact":{"active":true,"email":"info@<IMPORT_FRESHDESK_ENDPOINT_SUBDOMAIN>.org","job_title":null,"language":"en","mobile":null,"name":"Thorsten
        Eckel","phone":null,"time_zone":"Eastern Time (US & Canada)","created_at":"2021-04-09T13:23:58Z","updated_at":"2022-01-12T09:06:31Z","last_login_at":"2023-11-22T12:44:09Z"},"created_at":"2021-04-09T13:23:58Z","updated_at":"2023-11-24T13:24:17Z","type":"support_agent"}'
  recorded_at: Fri, 24 Nov 2023 16:14:07 GMT
- request:
    method: get
    uri: "<IMPORT_FRESHDESK_ENDPOINT>/contact_fields?page=1&per_page=100"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <IMPORT_FRESHDESK_ENDPOINT_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Freshdesk-Api-Version:
      - latest=v2; requested=v2
      X-Fw-Ratelimiting-Managed:
      - 'true'
      X-Ratelimit-Total:
      - '100'
      X-Ratelimit-Remaining:
      - '93'
      X-Ratelimit-Used-Currentrequest:
      - '1'
      X-Trace-Id:
      - 00-7aa5d1ce00c9ea52a25a87b3fa0d268d-c9731c595fe34c89-00
    body:
      encoding: ASCII-8BIT
      string: '[{"editable_in_signup":true,"id":80000766829,"name":"name","label":"Full
        name","position":1,"required_for_agents":true,"type":"default_name","default":true,"customers_can_edit":true,"label_for_customers":"Full
        name","required_for_customers":true,"displayed_for_customers":true,"created_at":"2021-04-09T13:23:59Z","updated_at":"2021-04-09T13:23:59Z"},{"editable_in_signup":false,"id":80000766830,"name":"job_title","label":"Title","position":2,"required_for_agents":false,"type":"default_job_title","default":true,"customers_can_edit":true,"label_for_customers":"Title","required_for_customers":false,"displayed_for_customers":true,"created_at":"2021-04-09T13:23:59Z","updated_at":"2021-04-09T13:23:59Z"},{"editable_in_signup":true,"id":80000766831,"name":"email","label":"[...]
- request:
    method: get
    uri: "<IMPORT_FRESHDESK_ENDPOINT>/contacts?page=1&per_page=100"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <IMPORT_FRESHDESK_ENDPOINT_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Freshdesk-Api-Version:
      - latest=v2; requested=v2
      X-Fw-Ratelimiting-Managed:
      - 'true'
      X-Ratelimit-Total:
      - '40'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Used-Currentrequest:
      - '1'
      X-Trace-Id:
      - 00-09376f97c067cb7e721ff70aacbfc1f5-6b352b083810279c-00
    body:
      encoding: ASCII-8BIT
      string: '[{"active":false,"address":null,"description":null,"email":"bob.tree@freshdesk.com","id":80014400482,"job_title":null,"language":"en","mobile":null,"name":"Bob
        Tree","phone":null,"time_zone":"Eastern Time (US & Canada)","twitter_id":null,"custom_fields":{"custom_dropdown":null},"facebook_id":null,"created_at":"2021-04-09T13:24:01Z","updated_at":"2021-04-09T13:24:01Z","csat_rating":null,"preferred_source":"email","company_id":null},{"active":false,"address":null,"description":null,"email":"clboone@freshdesk.com","id":80014400496,"job_title":null,"language":"en","mobile":null,"name":"Clarice
        Boone","phone":null,"time_zone":"Eastern Time (US & Canada)","twitter_id":null,"custom_fields":{"custom_dropdown":null},"facebook_id":null,"created_at":"2021-04-09T13:24:04Z","updated_at":"2021-04-09T13:24:04Z","csat_rating":null,"preferred_source":"email","company_id":null},{"active":false,"address":"25,
        Sispal St[...]
- request:
    method: get
    uri: "<IMPORT_FRESHDESK_ENDPOINT>/contacts?page=1&per_page=100&state=blocked"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <IMPORT_FRESHDESK_ENDPOINT_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Freshdesk-Api-Version:
      - latest=v2; requested=v2
      X-Fw-Ratelimiting-Managed:
      - 'true'
      X-Ratelimit-Total:
      - '40'
      X-Ratelimit-Remaining:
      - '38'
      X-Ratelimit-Used-Currentrequest:
      - '1'
      X-Trace-Id:
      - 00-04ed589326254e92f095581df2434878-10a0c5d4a774fcb8-00
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Fri, 24 Nov 2023 16:14:08 GMT
- request:
    method: get
    uri: "<IMPORT_FRESHDESK_ENDPOINT>/contacts?page=1&per_page=100&state=deleted"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <IMPORT_FRESHDESK_ENDPOINT_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Freshdesk-Api-Version:
      - latest=v2; requested=v2
      X-Fw-Ratelimiting-Managed:
      - 'true'
      X-Ratelimit-Total:
      - '40'
      X-Ratelimit-Remaining:
      - '37'
      X-Ratelimit-Used-Currentrequest:
      - '1'
      X-Trace-Id:
      - 00-daaefc353b4727e9a9d21a11ee7ecc40-91dd33cea14be0ad-00
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Fri, 24 Nov 2023 16:14:09 GMT
- request:
    method: get
    uri: "<IMPORT_FRESHDESK_ENDPOINT>/ticket_fields?page=1&per_page=100"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <IMPORT_FRESHDESK_ENDPOINT_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Freshdesk-Api-Version:
      - latest=v2; requested=v2
      X-Fw-Ratelimiting-Managed:
      - 'true'
      X-Ratelimit-Total:
      - '100'
      X-Ratelimit-Remaining:
      - '89'
      X-Ratelimit-Used-Currentrequest:
      - '1'
      X-Trace-Id:
      - 00-d9c7ea99aa589efdf4e29d8e6b1c9d26-f6426d87382f78cb-00
    body:
      encoding: ASCII-8BIT
      string: '[{"id":80000554368,"name":"requester","label":"Search a requester","description":"Ticket
        requester","position":1,"required_for_closure":false,"required_for_agents":true,"type":"default_requester","default":true,"customers_can_edit":true,"customers_can_filter":false,"label_for_customers":"Requester","required_for_customers":true,"displayed_to_customers":true,"created_at":"2021-04-09T13:23:59Z","updated_at":"2021-04-09T13:23:59Z","portal_cc":false,"portal_cc_to":"company"},{"id":80000554369,"name":"subject","label":"Subject","description":"Ticket
        subject","position":2,"required_for_closure":false,"required_for_agents":true,"type":"default_subject","default":true,"customers_can_edit":true,"customers_can_filter":false,"label_for_customers":"Subject","required_for_customers":true,"displayed_to_customers":true,"created_at":"2021-04-09T13:23:59Z","updated_at":"2021-04-09T13:23:59Z"},{"id":80000554370,"name":"ticket_type","label":"Type","description":"Ticket
        type","position":3,"required_for_closure":false,"required_for_agents":false,"type":"default_ticket_type","default":true,"customers_can_edit":false,"customers_can_filter":false,"label_for_customers":"Type","required_for_customers":false,"displayed_to_customers":false,"created_at":"2021-04-09T13:23:59Z","updated_at":"2021-04-09T13:23:59Z","choices":["Question","Incident","Problem","Feature
        Request","Refunds and Returns","Bulk orders","Refund","Request"]},{"id":80000554371,"name":"source","label":"Source","description":"Ticket
        source","position":4,"required_for_closure":false,"required_for_agents":false,"type":"default_source","default":true,"customers_can_edit":false,"customers_can_filter":false,"label_for_customers":"Source","required_for_customers":false,"displayed_to_customers":false,"created_at":"2021-04-09T13:23:59Z","updated_at":"2021-04-09T13:23:59Z","choices":{"Email":1,"Portal":2,"Phone":3,"Forum":4,"Twitter":5,"Facebook":6,"Chat":7,"MobiHelp":8,"Feedback
        Widget":9,"Outbound Email":10,"Ecommerce":11,"Bot":12,"Whatsapp":13,"Chat
        - Internal Task":14}},{"id":80000554372,"name":"status","label":"Status","description":"Ticket
        status","position":5,"required_for_closure":false,"required_for_agents":true,"type":"default_status","default":true,"customers_can_edit":false,"customers_can_filter":false,"label_for_customers":"Status","required_for_customers":false,"displayed_to_customers":true,"created_at":"2021-04-09T13:23:59Z","updated_at":"2021-04-09T13:23:59Z","choices":{"2":["Open","Being
        Processed"],"3":["Pending","Awaiting your Reply"],"4":["Resolved","This ticket
        has been Resolved"],"5":["Closed","This ticket has been Closed"],"6":["Waiting
        on Customer","Awaiting your Reply"],"7":["Waiting on Third Party","Being Processed"]}},{"id":80000554373,"name":"priority","label":"Priority","description":"Ticket
        priority","position":6,"required_for_closure":false,"required_for_agents":true,"type":"default_priority","default":true,"customers_can_edit":false,"customers_can_filter":false,"label_for_customers":"Priority","required_for_customers":false,"displayed_to_customers":false,"created_at":"2021-04-09T13:23:59Z","updated_at":"2021-04-09T13:23:59Z","choices":{"Low":1,"Medium":2,"High":3,"Urgent":4}},{"id":80000554374,"name":"group","label":"Group","description":"Ticket
        group","position":7,"required_for_closure":false,"required_for_agents":false,"type":"default_group","default":true,"customers_can_edit":false,"customers_can_filter":false,"label_for_customers":"Group","required_for_customers":false,"displayed_to_customers":false,"created_at":"2021-04-09T13:23:59Z","updated_at":"2021-04-09T13:23:59Z","choices":{"Account
        managers":80000374754,"Billing":80000374717,"Customer Support":80000374751,"Development":80000374753,"Escalations":80000374718,"Login
        and security":80000374752,"Product Management":80000374714,"QA":80000374715,"Sales":80000374716}},{"id":80000554375,"name":"agent","label":"Agent","description":"Agent","position":8,"required_for_closure":false,"required_for_agents":false,"type":"default_agent","default":true,"customers_can_edit":false,"customers_can_filter":false,"label_for_customers":"Assigned
        to","required_for_customers":false,"displayed_to_customers":true,"created_at":"2021-04-09T13:23:59Z","updated_at":"2021-04-09T13:23:59Z","choices":{"Thorsten
        Eckel":80014400475}},{"id":80000554377,"name"[...]
- request:
    method: get
    uri: "<IMPORT_FRESHDESK_ENDPOINT>/tickets?order_by=updated_at&order_type=asc&page=1&per_page=100&updated_since=1970-01-01"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <IMPORT_FRESHDESK_ENDPOINT_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Freshdesk-Api-Version:
      - latest=v2; requested=v2
      X-Fw-Ratelimiting-Managed:
      - 'true'
      X-Ratelimit-Total:
      - '40'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Used-Currentrequest:
      - '1'
      X-Trace-Id:
      - 00-4acf717dd2f61d437b6ff553a6ef5661-71a9494cb70f7fe7-00
    body:
      encoding: ASCII-8BIT
      string: '[{"cc_emails":[],"fwd_emails":[],"reply_cc_emails":[],"ticket_cc_emails":[],"fr_escalated":false,"spam":false,"email_config_id":null,"group_id":null,"priority":3,"requester_id":80014400478,"responder_id":null,"source":1,"company_id":80000602705,"status":5,"subject":"Mary
        Jane shoes in Size 8?","association_type":null,"support_email":null,"to_emails":null,"product_id":null,"id":2,"type":"Question","due_by":"2021-04-13T08:24:00Z","fr_due_by":"2021-04-12T09:24:00Z","is_escalated":false,"custom_fields":{"cf_test_checkbox":null,"cf_custom_integer":null,"cf_custom_dropdown":null,"cf_custom_decimal":null,"cf_custom_date":null},"created_at":"2021-04-09T13:23:56Z","updated_at":"2021-04-09T13:24:01Z","associated_tickets_count":null,"tags":[]},{"cc_emails":[],"fwd_emails":[],"reply_cc_emails":[],"ticket_cc_emails":[],"fr_escalated":false,"spam":false,"email_config_id":null,"group_id":80000374717,"priority":3,"requester_id":80014400483,"responder_id":null,"source":1,"company_id":null,"status":3,"subject":"My
        return was not picked up","association_type":null,"support_email":null,"to_emails":null,"product_id":null,"id":5,"type":"Refunds
        and Returns","due_by":"2021-04-13T08:24:08Z","fr_due_by":"2021-04-12T09:24:08Z","i[...]
- request:
    method: get
    uri: "<IMPORT_FRESHDESK_ENDPOINT>/tickets/2"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <IMPORT_FRESHDESK_ENDPOINT_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Freshdesk-Api-Version:
      - latest=v2; requested=v2
      X-Fw-Rateli[...]
- request:
    method: get
    uri: "<IMPORT_FRESHDESK_ENDPOINT>/tickets/2/time_entries?page=1&per_page=100"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <IMPORT_FRESHDESK_ENDPOINT_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Freshdesk-Api-Version:
      - latest=v2; requested=v2
      X-Fw-Ratelimiting-Managed:
      - 'true'
      X-Ratelimit-Total:
      - '40'
      X-Ratelimit-Remaining:
      - '37'
      X-Ratelimit-Used-Currentrequest:
      - '1'
      X-Trace-Id:
      - 00-4dfb637a17c1d500408c379f78880786-cffd681a78855606-00
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Fri, 24 Nov 2023 16:14:10 GMT
- request:
    method: get
    uri: "<IMPORT_FRESHDESK_ENDPOINT>/tickets/2/conversations?page=1&per_page=100"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <IMPORT_FRESHDESK_ENDPOINT_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Freshdesk-Api-Version:
      - latest=[...]
[...]
- request:
    method: get
    uri: "<IMPORT_FRESHDESK_ENDPOINT>/tickets/7"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <IMPORT_FRESHDESK_ENDPOINT_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Freshdesk-Api-Version:
      - latest=v2; requested=v2
      X-Fw-Ratelimiting-Managed:
      - 'true'
      X-Ratelimit-Total:
      - '40'
      X-Ratelimit-Remaining:
      - '23'
      X-Ratelimit-Used-Currentrequest:
      - '1'
      X-Trace-Id:
      - 00-b6b09d8dcec26735639e7ef5621f24dc-8e3a42c764581048-00
    body:
      encoding: ASCII-8BIT
      string: '{"cc_emails":null,"fwd_emails":null,"reply_cc_emails":null,"ticket_cc_emails":null,"fr_escalated":true,"spam":false,"email_config_id":null,"group_id":80000374718,"priority":1,"requester_id":80014400481,"responder_id":null,"source":1,"company_id":null,"status":2,"subject":"How
        can I get a refund for my order?","association_type":null,"support_email":null,"to_emails":null,"product_id":null,"id":7,"type":"Refunds
        and Returns","due_by":"2021-04-14T13:23:56Z","fr_due_by":"2021-04-12T13:23:56Z","is_escalated":true,"description":"<p>Hi
        there,</p><br /><p>I need a refund for the headphones that I purchased last
        week. My order ID is #53467. The product was damaged when I received it. Can
        you please tell me how I can get a refund?</p><br /><p>Best,\n<br />Matt.</p>","description_text":"Hi
        there,\n\n\nI need a refund for the headphones that I purchased last week.
        My order ID is #53467. The product was damaged when I received it. Can you
        please tell me how I can get a refund?\n\n\nBest,\nMatt.","custom_fields":{"cf_test_checkbox":null,"cf_custom_integer":null,"cf_custom_dropdown":null,"cf_custom_decimal":null,"cf_custom_date":null},"created_at":"2021-04-09T13:23:56Z","updated_at":"2021-04-14T16:59:46Z","tags":[],"attachments":[],"source_additional_info":null}'
  recorded_at: Fri, 24 Nov 2023 16:14:13 GMT
[...]
- request:
    method: get
    uri: "<IMPORT_FRESHDESK_ENDPOINT>/tickets/13"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <IMPORT_FRESHDESK_ENDPOINT_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Freshdesk-Api-Version:
      - latest=v2; requested=v2
      X-Fw-Ratelimiting-Managed:
      - 'true'
      X-Ratelimit-Total:
      - '40'
      X-Ratelimit-Remaining:
      - '20'
      X-Ratelimit-Used-Currentrequest:
      - '1'
      X-Trace-Id:
      - 00-df49f6ae754028c9e0abdebb8c08233d-72d0ff16ec29b364-01
    body:
      encoding: ASCII-8BIT
      string: '{"cc_emails":[],"fwd_emails":[],"reply_cc_emails":[],"ticket_cc_emails":[],"fr_escalated":false,"spam":false,"email_config_id":null,"group_id":80000374718,"priority":1,"requester_id":80014400819,"responder_id":80014400475,"source":3,"company_id":null,"status":2,"subject":"Inline
        Images Failing?","association_type":null,"support_email":null,"to_emails":null,"product_id":null,"id":13,"type":null,"due_by":"2021-05-17T12:29:27Z","fr_due_by":"2021-05-15T12:29:27Z","is_escalated":false,"description":"<div
        style=\"font-family:-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica
        Neue, Arial, sans-serif; font-size:14px\">\n<div dir=\"ltr\">Inline images
        in the first article might not be working, see following:</div>\n<div dir=\"ltr\"><img
        src=\"https://eucattachment.freshdesk.com/inline/attachment?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpZCI6ODAwMTIyMjY0NzksImRvbWFpbiI6InphbW1hZC5mcmVzaGRlc2suY29tIiwiYWNjb3VudF9pZCI6MTg5MDU2MH0.cdYIOOSi7ckCFIZlQ9eynELMzJp1ECVeTLlQMCDgKo4\"
        style=\"width: auto\" class=\"fr-fil fr-dib\" data-id=\"80012226479\"></div>\n</div>","description_text":"Inline
        images in the first article might not be working, see following:","custom_fields":{"cf_test_checkbox":false,"cf_custom_integer":null,"cf_custom_dropdown":null,"cf_custom_decimal":null,"cf_custom_date":null},"created_at":"2021-05-14T12:29:27Z","updated_at":"2021-05-17T15:02:00Z","tags":[],"attachments":[{"id":80012226688,"content_type":"image/png","size":11447,"name":"standalone_attachment.png","attachment_url":"https://s3.eu-central-1.amazonaws.com/euc-cdn.freshdesk.com/data/helpdesk/attachments/production/80012226688/original/standalone_attachment.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAS6FNSMY2XLZULJPI%2F20231124%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-Date=20231124T161414Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Signature=36ff9e53c2eee7748e858a8a36695487a9476bfb429504e08c41331ec97ea3f9","created_at":"2021-05-14T12:29:16Z","updated_at":"2021-05-14T12:29:27Z"}],"source_additional_info":null}'
  recorded_at: Fri, 24 Nov 2023 16:14:14 GMT
[...]
- request:
    method: get
    uri: https://eucattachment.freshdesk.com/inline/attachment?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpZCI6ODAwMTIyMjY0NzksImRvbWFpbiI6InphbW1hZC5mcmVzaGRlc2suY29tIiwiYWNjb3VudF9pZCI6MTg5MDU2MH0.cdYIOOSi7ckCFIZlQ9eynELMzJp1ECVeTLlQMCDgKo4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 302 Found
      Location:
      - https://<IMPORT_FRESHDESK_ENDPOINT_SUBDOMAIN>.freshdesk.com/inline/attachment?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpZCI6ODAwMTIyMjY0NzksImRvbWFpbiI6InphbW1hZC5mcmVzaGRlc2suY29tIiwiYWNjb3VudF9pZCI6MTg5MDU2MH0.cdYIOOSi7ckCFIZlQ9eynELMzJp1ECVeTLlQMCDgKo4
      X-Fw-Ratelimiting-Managed:
      - 'false'
      X-Trace-Id:
      - 00-2915597b91f77e0a05ece7f3cb9aacab-59d048b864b8c509-00
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://<IMPORT_FRESHDESK_ENDPOINT_SUBDOMAIN>.freshdesk.com/inline/attachment?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpZCI6ODAwMTIyMjY0NzksImRvbWFpbiI6InphbW1hZC5mcmVzaGRlc2suY29tIiwiYWNjb3VudF9pZCI6MTg5MDU2MH0.cdYIOOSi7ckCFIZlQ9eynELMzJp1ECVeTLlQMCDgKo4">redirected</a>.</body></html>
  recorded_at: Fri, 24 Nov 2023 16:14:15 GMT
- request:
    method: get
[...]
