---
http_interactions:
- request:
    method: post
    uri: https://ai.zammad.com/api/v1/features/embed
    body:
      encoding: UTF-8
      string: '{"input":["What to do when your password reset link has expired\n\nPassword
        reset links are only valid for a limited time after they are sent, typically
        a set number of hours, as a security measure. If you wait too long before
        clicking the link, it will show an ''expired'' message instead of letting
        you choose a new password - this is expected behavior and does not mean anything
        is wrong with your account.If your link has expired, simply go back to the
        login page and click ''Forgot password'' again to request a brand new one;
        the old, expired link cannot be reactivated or extended. Use the newest email
        you receive and click its link promptly this time. If you request several
        reset emails in a row, only the link in the most recently sent email will
        work - all earlier ones become invalid the moment a new one is requested,
        not just after their own timeout."],"llm":"bge-m3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <ZAMMAD_AI_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ac01471701e9cc05dc2694abdbe2b4f4"
    body:
      encoding: ASCII-8BIT
      string: '[{"model":"bge-m3","created_at":"2026-07-14 11:38:52 UTC","embeddings":[[-0.03790987,0.029563097,-0.025407204,0.021118519999999998,-0.038317878,-0.051037673,0.052193884,0.014993012,-0.021865178,-0.007965687,0.00057762495,0.009535624,-0.030876685,0.023405896,0.0028552576,0.018858712,0.019678134,0.0065470417,0.009646136,0.03408775,-0.0083069205,-0.007015324,0.019479956,-0.015799126,-0.014728225,0.0066749887,-0.032655522,-0.012969519,0.031488784,-0.0009544966,-0.018062474,-0.015569567,0.055380467,-0.019650063,-0.022955699,-0.0066930973,-0.00997726,-0.025256256,-0.0164[...]
[...]
