---
http_interactions:
- request:
    method: post
    uri: https://ai.zammad.com/api/v1/features/embed
    body:
      encoding: UTF-8
      string: '{"input":["Resetting your password\n\nTo reset your password, open
        the login page and click the ''Forgot password'' link. Enter your email address
        and follow the reset link we send you to choose a new password."],"llm":"nomic-embed-text"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <ZAMMAD_AI_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3c2a7755bb2569761ec62d129f111220"
    body:
      encoding: ASCII-8BIT
      string: '[{"model":"nomic-embed-text","created_at":"2026-07-07 21:35:38 UTC","embeddings":[[0.025167821,0.04224236,-0.15372351,0.016040092,0.077082306,-0.031394392,-0.0032715935,0.04197946,0.04857671,-0.04895006,-0.09729481,0.07436338,0.017011458,0.016927494,0.023430752,0.03039094,0.053503726,-0.055622365,-0.0108285975,-0.018611176,-0.023566158,-0.08117112,-0.02732504,-0.018417388,0.023650195,0.046998553,-0.020174723,0.055118006,-0.07464137,0.023783375,0.07897131,-0.005647835,0.0086890105,-0.0126636345,-0.029613791,-0.027304687,-0.026731027,0.0031044183,-0.007485027,-0.0040405663,0.0[...]
[...]
