---
http_interactions:
- request:
    method: post
    uri: https://ai.zammad.com/api/v1/features/embed
    body:
      encoding: UTF-8
      string: '{"input":["Auto-replying to the customer the moment a ticket is closed\n\nSet
        this up as a condition-based rule that watches for the state change itself,
        rather than anything running on a timer. Create a new rule with the condition
        ''ticket state changed to closed'', and give it a notification action that
        emails the customer with your resolution message. Because the rule reacts
        to the change happening on that individual ticket, the customer gets the email
        within moments of the agent clicking ''closed'' - there''s no delay, no batching
        with other tickets, and nothing to wait for at a particular time of day.One
        thing to watch for: if your closing message could itself cause another status
        change (rare, but possible with some automation chains), add a guard so the
        same ticket doesn''t re-trigger the rule and send duplicate emails. Otherwise
        this is a five-minute setup - condition on the state, action to notify, done.
        The same mechanism works for any other state change too, not just ''closed''
        - just swap the condition to whichever state you want to react to."],"llm":"bge-m3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <ZAMMAD_AI_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e8884f43791dfa79abaa500df0958da1"
    body:
      encoding: ASCII-8BIT
      string: '[{"model":"bge-m3","created_at":"2026-07-14 11:39:01 UTC","embeddings":[[-0.020138586,-0.019178575,-0.008912341,0.018320555,-0.013285791,-0.041986704,0.020832589,0.040411483,0.0044681733,0.014735028,0.015037019,0.005995492,0.009490972,0.021948943,-0.018872349,0.012060571,-0.012471663,0.009918456,-0.023114352,-0.022829715,-0.047829513,-0.01217903,-0.0027782277,-0.02695558,0.018692067,0.024414046,-0.015018511,0.011826914,-0.020824503,0.047676068,0.01559397,-0.030521544,-0.041978702,-0.04216669,-0.016677994,-0.004528175,-0.0014141423,-0.05196911,-0.038135696,0.0490049[...]
[...]
- request:
    method: post
    uri: https://ai.zammad.com/api/v1/features/embed
    body:
      encoding: UTF-8
      string: '{"input":["Applying a set of changes to several tickets at once with
        one click\n\nWhen an agent needs to apply the same set of changes to a handful
        of tickets right now - for example setting a state, adding a note, and changing
        the owner all in one go - a saved shortcut lets them select the tickets and
        apply everything with a single click, instead of clicking through each field
        on every ticket individually. This only runs when an agent deliberately chooses
        to apply it to a specific selection; it never fires on its own in reaction
        to a ticket changing, and it isn''t tied to any schedule either.To create
        one: define the exact set of field changes you want applied (state, owner,
        tags, a note text, and so on), give it a clear name describing what it does,
        and make it available to the relevant Groups. Agents can then select one or
        more tickets from an overview and apply it whenever they choose to - the timing
        and the decision to run it are always manual, which is the key difference
        from anything that reacts automatically to a condition or runs on a timer."],"llm"[...]
[...]
