---
http_interactions:
- request:
    method: post
    uri: https://ai.zammad.com/api/v1/features/embed
    body:
      encoding: UTF-8
      string: '{"input":["Requesting a refund for a duplicate or accidental charge\n\nIf
        you were charged more than once for the same order, this is usually caused
        by a temporary network issue or a page reload during checkout, which can submit
        the payment request twice even though you only clicked ''Pay'' once. Duplicate
        charges are not intentional and are always eligible for a full refund of the
        extra amount.To request a refund for a duplicate charge: 1) Locate the order
        number and the exact amount and date of both charges on your bank or card
        statement. 2) Contact support with this information, ideally including a screenshot
        of the statement. 3) Our billing team will verify that both charges reference
        the same order and, once confirmed, issue a refund for the duplicate amount
        back to the original payment method. 4) Refunds are typically visible on your
        statement within 5-10 business days, depending on your bank''s processing
        time.If the two charges are for genuinely different orders (different order
        numbers or different amounts), this is not a duplicate charge and the refund
        process described here does not apply - please contact support separately
        for that case."],"llm":"bge-m3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <ZAMMAD_AI_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9a25cbe035533aa8b8f35e5b88d10112"
    body:
      encoding: ASCII-8BIT
      string: '[{"model":"bge-m3","created_at":"2026-07-14 11:38:48 UTC","embeddings":[[-0.02080856,0.0066080606,-0.029302103,0.009620545,0.00053652434,-0.0059883953,-0.0043894127,0.018230192,-0.026115526,0.0140313655,0.020372596,0.020464499,-0.010815804,0.05807892,-0.05085412,0.00133413,-0.03550706,-0.008910064,0.007936546,-0.0025888083,0.025905155,0.017291734,0.0134526715,-0.031670295,-0.036969945,0.018932404,-0.04485402,0.016549926,0.036691688,-0.0075628413,-0.0032694659,-0.045855835,0.07596289,-0.039403565,-0.026803302,-0.021125546,-0.04009177,0.008334418,-0.016370542,0.02330[...]
[...]
