---
http_interactions:
- request:
    method: post
    uri: https://ai.zammad.com/api/v1/features/embed
    body:
      encoding: UTF-8
      string: '{"input":["Requesting a refund for a duplicate or accidental charge\n\nIf
        you were charged more than once for the same order, this is usually caused
        by a temporary network issue or a page reload during checkout, which can submit
        the payment request twice even though you only clicked ''Pay'' once. Duplicate
        charges are not intentional and are always eligible for a full refund of the
        extra amount.To request a refund for a duplicate charge: 1) Locate the order
        number and the exact amount and date of both charges on your bank or card
        statement. 2) Contact support with this information, ideally including a screenshot
        of the statement. 3) Our billing team will verify that both charges reference
        the same order and, once confirmed, issue a refund for the duplicate amount
        back to the original payment method. 4) Refunds are typically visible on your
        statement within 5-10 business days, depending on your bank''s processing
        time.If the two charges are for genuinely different orders (different order
        numbers or different amounts), this is not a duplicate charge and the refund
        process described here does not apply - please contact support separately
        for that case."],"llm":"nomic-embed-text"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <ZAMMAD_AI_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d467fb83e0de1236517cd60e13ad5b3"
    body:
      encoding: ASCII-8BIT
      string: '[{"model":"nomic-embed-text","created_at":"2026-07-07 21:35:34 UTC","embeddings":[[0.078393996,0.07082011,-0.16660787,0.0047899126,0.0661163,-0.06145879,0.022752305,-0.02165756,0.039514184,0.037456844,-0.07832456,0.019709786,-0.005578923,0.013138965,0.0027176396,-0.013466243,0.059787873,-0.04642317,-0.032950886,0.0132721905,-0.011959969,0.0062458455,-0.027110748,-0.04623264,-0.021247081,0.026614632,-0.017790059,0.033532944,-0.08855929,0.012743054,0.020146033,0.012160326,0.0015876358,-0.064792655,-0.070332915,0.000037262427,0.04317617,-0.06478482,-0.025050066,0.003230414,0.04[...]
[...]
