---
http_interactions:
- request:
    method: post
    uri: https://ai.zammad.com/api/v1/features/embed
    body:
      encoding: UTF-8
      string: '{"input":["Resetting your password\n\nTo reset your password, open
        the login page and click the ''Forgot password'' link. Enter your email address
        and follow the reset link we send you to choose a new password."],"llm":"bge-m3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <ZAMMAD_AI_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7a98f69fe48db8f5498cb44d31c852a4"
    body:
      encoding: ASCII-8BIT
      string: '[{"model":"bge-m3","created_at":"2026-07-14 11:38:54 UTC","embeddings":[[-0.00529184,0.036142897,-0.03653409,-0.013428124,-0.048754342,-0.025553718,0.07008996,0.010536793,0.003535006,-0.019511286,-0.003626541,-0.0017881534,-0.040131018,0.0025035248,0.015363198,-0.010533047,0.021903733,0.00557212,0.027497364,0.008225426,0.01585986,-0.016186597,0.03239935,-0.02336312,-0.012106355,0.008814761,-0.01462581,-0.016882738,0.013856259,-0.019293716,-0.010591903,-0.018468844,0.009693981,-0.029900271,-0.017664483,0.0035158477,-0.011038834,-0.044942144,-0.040481977,0.027475882,[...]
[...]
