---
http_interactions:
- request:
    method: post
    uri: https://ai.zammad.com/api/v1/features/embed
    body:
      encoding: UTF-8
      string: '{"input":["Passwort zurücksetzen\n\nWenn Sie Ihr Passwort für das Kundenportal
        vergessen haben, klicken Sie auf der Login-Seite auf ''Passwort vergessen''.
        Geben Sie anschließend Ihre E-Mail-Adresse ein - Sie erhalten dann eine E-Mail
        mit einem Link, über den Sie ein neues Passwort vergeben können. Der Link
        ist aus Sicherheitsgründen nur für eine begrenzte Zeit gültig.Falls Sie keine
        E-Mail erhalten, prüfen Sie bitte zuerst Ihren Spam-Ordner. Kommt dort ebenfalls
        keine E-Mail an, stellen Sie sicher, dass Sie die E-Mail-Adresse verwenden,
        mit der Ihr Konto ursprünglich angelegt wurde."],"llm":"nomic-embed-text"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <ZAMMAD_AI_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"30701edbe35087b16e4753acc865be5a"
    body:
      encoding: ASCII-8BIT
      string: '[{"model":"nomic-embed-text","created_at":"2026-07-07 21:35:41 UTC","embeddings":[[0.010105624,0.026094422,-0.13455303,-0.027217204,0.034311164,-0.033644173,-0.015589263,0.007859668,0.038227502,0.012918,-0.03765383,0.060662605,0.025105188,0.018652536,-0.0050667087,-0.008969083,0.03637584,-0.059583094,-0.035113007,-0.010698402,0.03266032,0.018972946,-0.049386237,-0.0692436,0.081752665,0.0480028,0.016669858,0.00092733075,-0.059729982,-0.020871567,0.002582875,-0.018823365,-0.071804464,0.02871335,-0.035130624,-0.04835437,-0.02455798,0.023238758,-0.071239695,0.0038652127,0.071623[...]
[...]
