---
http_interactions:
- request:
    method: post
    uri: https://ai.zammad.com/api/v1/features/embed
    body:
      encoding: UTF-8
      string: '{"input":["Why a new agent sees an empty overview even with the Agent
        role assigned\n\nThis is almost always a missing Group membership, not a Role
        problem. Every ticket in Zammad belongs to exactly one Group (think of a Group
        as a queue, mailbox, or department - ''Support'', ''Sales'', ''Billing'',
        and so on), and an overview only ever shows tickets from Groups the logged-in
        agent is actually a member of. Having the ''Agent'' role just marks someone
        as agent-type staff in general; it says nothing about which of the many Groups
        in the system they''re allowed into.Open the Support Group''s settings page
        and check its member list - a freshly created user is very often not added
        to any Group at all by default, which is exactly why their overviews come
        back empty no matter how many tickets exist. Add the person there, tick at
        least ''read'' access (add ''create'' and ''change'' too if they should be
        able to reply and update tickets), and save. There''s no need to touch Roles
        at all for this - the fix lives entirely on the Group side, and it takes effect
        the next time the agent''s overview refreshes."],"llm":"nomic-embed-text"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <ZAMMAD_AI_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e3019969fff095e7396490957525fdb4"
    body:
      encoding: ASCII-8BIT
      string: '[{"model":"nomic-embed-text","created_at":"2026-07-07 21:35:30 UTC","embeddings":[[-0.009571798,0.03667452,-0.18242478,-0.030222736,0.09040725,-0.012534636,0.06215304,0.009823231,0.060989264,0.0072652902,-0.020796075,0.028425228,0.032516606,0.039714318,0.02954105,-0.023272807,-0.02612883,-0.026313165,-0.0083204135,0.0030265271,-0.010939253,-0.013243759,0.020940471,0.018886559,0.060869973,0.05216113,0.007749514,-0.025832446,-0.0119037805,0.007917189,0.07972221,0.060482193,0.0034050476,0.009340897,0.029586842,-0.035695672,0.046693802,0.06075326,-0.05424182,-0.002985108,0.02025[...]
[...]
