---
http_interactions:
- request:
    method: post
    uri: https://ai.zammad.com/api/v1/features/embed
    body:
      encoding: UTF-8
      string: '{"input":["Passwort zurücksetzen\n\nWenn Sie Ihr Passwort für das Kundenportal
        vergessen haben, klicken Sie auf der Login-Seite auf ''Passwort vergessen''.
        Geben Sie anschließend Ihre E-Mail-Adresse ein - Sie erhalten dann eine E-Mail
        mit einem Link, über den Sie ein neues Passwort vergeben können. Der Link
        ist aus Sicherheitsgründen nur für eine begrenzte Zeit gültig.Falls Sie keine
        E-Mail erhalten, prüfen Sie bitte zuerst Ihren Spam-Ordner. Kommt dort ebenfalls
        keine E-Mail an, stellen Sie sicher, dass Sie die E-Mail-Adresse verwenden,
        mit der Ihr Konto ursprünglich angelegt wurde."],"llm":"bge-m3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <ZAMMAD_AI_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d0e158067d8d6a23470b5f96e9a3f7b1"
    body:
      encoding: ASCII-8BIT
      string: '[{"model":"bge-m3","created_at":"2026-07-14 11:38:57 UTC","embeddings":[[-0.047647648,0.031437404,-0.047266733,-0.015939763,-0.026706396,-0.05524998,0.0679415,-0.010415216,-0.0027544713,-0.0066627534,0.02110948,0.026539687,-0.025462555,0.010550789,0.006971336,0.016505143,0.013726789,-0.0050904914,0.012886304,-0.02115338,0.024468435,-0.0016817055,0.01693547,-0.01841986,0.0070938515,-0.025002254,-0.011680155,-0.0032550064,-0.00013516059,-0.008560703,-0.028136222,-0.006983319,0.018839054,-0.0318763,-0.006271444,0.015557863,-0.02637156,-0.014850438,-0.0391764,0.0377826[...]
[...]
