---
http_interactions:
- request:
    method: post
    uri: https://ai.zammad.com/api/v1/features/embed
    body:
      encoding: UTF-8
      string: '{"input":["Fixing an IMAP mailbox that stops receiving new mail in
        a desktop client\n\nWhen a mailbox suddenly stops receiving new messages in
        a desktop email client (Outlook, Thunderbird, Apple Mail, etc.) while mail
        still arrives correctly on other devices or in webmail, the most common cause
        is that the client''s stored password no longer matches the current account
        password - for example after a routine password reset or a forced security
        update. Sendin[...]
- request:
    method: post
    uri: https://ai.zammad.com/api/v1/features/embed
    body:
      encoding: UTF-8
      string: '{"input":["Clearing your browser cache to fix a login page that won''t
        load correctly\n\nIf a login page in your browser looks broken, shows outdated
        content, or repeatedly fails to submit even with the correct username and
        password, a corrupted browser cache is a common cause. Clearing the cache
        forces the browser to download a fresh copy of the login page instead of reusing
        a stale, possibly broken, cached version.To clear your cache: 1) Open your
        browser''s settings menu and find the privacy or history section. 2) Choose
        to clear browsing data, selecting ''Cached images and files'' (you do not
        need to clear saved passwords or cookies for this). 3) Restart the browser
        completely, not just the tab. 4) Try loading the login page again in a fresh
        tab.If clearing the cache does not help, try logging in from a private/incognito
        window, which starts with no cache or extensions at all - if that works, a
        browser extension may be interfering with the normal page instead of the cache
        being the issue."],"llm":"bge-m3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <ZAMMAD_AI_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cfb89cec952091c17e5d48511c654c9b"
    body:
      encoding: ASCII-8BIT
      string: '[{"model":"bge-m3","created_at":"2026-07-14 11:38:42 UTC","embeddings":[[0.0028002278,0.015478,-0.05446389,-0.009958568,0.0057142256,-0.002087846,0.04992787,0.03822287,-0.024128146,-0.016384032,0.017173426,-0.01619486,-0.031471472,0.02405254,-0.043989275,-0.015027555,-0.030905377,-0.0037142036,-0.0046447758,0.030578742,0.011619393,-0.008923493,0.035467368,-0.0446409,0.018685227,0.013352266,-0.021897357,-0.0094858995,0.017371802,-0.02443139,0.00023070318,-0.016874794,0.008017735,-0.0072742687,-0.0032946495,-0.030108705,-0.007736033,-0.02365527,-0.012879178,0.0214912[...]
- request:
    method: post
    uri: https://ai.zammad.com/api/v1/features/embed
    body:
      encoding: UTF-8
      string: '{"input":["Setting up a forwarding rule to copy incoming mail to another
        address\n\nA forwarding rule automatically sends a copy of every incoming
        message from your mailbox to a second address you choose, which is useful
        for sharing a mailbox with a colleague or archiving mail externally. This
        is a deliberate, ongoing copy of everything from that point forward - it does
        not affect whether mail arrives in the original mailbox at all, and it has
        nothing to do with troubleshooting missing or delayed messages.To set one
        up: 1) Open the mail rules section of your webmail settings. 2) Create a new
        rule with no conditions (so it applies to every message) or a specific condition
        if you only want certain mail forwarded. 3) Choose the ''Forward to'' action
        and enter the destination address. 4) Save the rule - it takes effect for
        new mail arriving from that point on; it will not retroactively forward anything
        already delivered."],"llm":"bge-m3"}'
    headers:
      Content-Type:
  [...]
[...]
