---
http_interactions:
- request:
    method: post
    uri: "<SLACK_CI_WEBHOOK_URL>"
    body:
      encoding: UTF-8
      string: '{"channel":"<SLACK_CI_CHANNEL_NAME>","username":"zammad_agent","icon_url":"https://zammad.com/assets/images/logo-200x200.png","mrkdwn":true,"text":"#
        New article","attachments":[{"text":"_\u003chttp://zammad.example.com/#ticket/zoom/292|Ticket#67002\u003e:
        Updated by - at 04/06/2023  7:53 am (UTC)_\n\n  \n  * Title: Another Slack
        Webhook Test -\u003e New article\n  \n\n\n\nsome message 123","mrkdwn_in":["text"],"color":"#faab00"}]}'
    headers:
      X-Zammad-Trigger:
      - Test trigger 2
      X-Zammad-Delivery:
      - aa867e5a-b19b-4268-a0ec-e0bdefa7f4fa
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Unique-Id:
      - ZC56YxDRFJk4CkiK8us1DgAAEBs
      X-Slack-Backend:
      - r
      Content-Type:
      - text/html
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-rlyl
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: UTF-8
      string: ok
  recorded_at: Thu, 06 Apr 2023 07:53:07 GMT
- request:
    method: post
    uri: https://slack.com/api/auth.test
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <SLACK_CI_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 723a3e95456e3472b607e8afd523b08c
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - identify,channels:history,channels:read,chat:write
      X-Slack-Unique-Id:
      - ZC56Y5SNkzsEw6SrqeyrsgAAAAU
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-qxlb
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"url":"https:\/\/zammaddevelopment.slack.com\/","team":"Zammad
        Development","user":"development","team_id":"T04PAE1JDD1","user_id":"U04Q084V9QQ","is_enterprise_install":false}'
  recorded_at: Thu, 06 Apr 2023 07:53:07 GMT
- request:
    method: post
    uri: https://slack.com/api/conversations.list
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <SLACK_CI_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 30bbacbf3b26df0f32b8c9724884ffb2
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Oauth-Scopes:
      - identify,channels:history,channels:read,chat:write
      X-Slack-Unique-Id:
      - ZC56Y2eU9uIpkYD_ZCfz5QAAEDw
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-mzxg
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C04P7MS4WPP","name":"<SLACK_CI_CHANNEL_NAME>","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1676287456,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"<SLACK_CI_CHANNEL_NAME>","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"context_team_id":"T04PAE1JDD1","updated":1676289623188,"parent_conversation":null,"creator":"U04Q084V9QQ","is_ext_shared":false,"shared_team_ids":["T04PAE1JDD1"],"pending_connected_team_ids":[],"is_member":true,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"Zammad
        CI - Test Channel","creator":"U04Q084V9QQ","last_set":1676287457},"previous_names":[],"num_members":2},{"id":"C04Q0850XFA","name":"general","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1676286228,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"context_team_id":"T04PAE1JDD1","updated":1676286228292,"parent_conversation":null,"creator":"U04Q084V9QQ","is_ext_shared":false,"shared_team_ids":["T04PAE1JDD1"],"pending_connected_team_ids":[],"is_member":true,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"This
        is the one channel that will always include everyone. It\u2019s a great spot
        for announcements and team-wide conversations.","creator":"U04Q084V9QQ","last_set":1676286228},"previous_names":[],"num_members":1}],"response_metadata":{"next_cursor":""}}'
  recorded_at: Thu, 06 Apr 2023 07:53:07 GMT
- request:
    method: post
    uri: https://slack.com/api/conversations.history
    body:
      encoding: UTF-8
      string: channel=C04P7MS4WPP
    headers:
      Authorization:
      - Bearer <SLACK_CI_OAUTH_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 2b76f5647a2c745882d3ab2b09ad64c2
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:history,groups:history,mpim:history,im:history,read
      X-Oauth-Scopes:
      - identify,channels:history,channels:read,chat:write
      X-Slack-Unique-Id:
      - ZC56ZLS47v64PQ0kOnFN9wAAACw
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-ompj
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"messages":[{"type":"message","subtype":"bot_message","text":"#
        New article","ts":"1680767587.268599","bot_id":"B04PDGJS4CC","blocks":[{"type":"rich_text","block_id":"I2tO","elements":[{"type":"rich_text_section","elements":[{"type":"text","text":"#
        New article"}]}]}],"attachments":[{"id":1,"color":"faab00","fallback":"_<http:\/\/zammad.example.com\/#ticket\/zoom\/292|Ticket#67002>:
        Updated by - at 04\/06\/2023  7:53 am (UTC)_\n\n  \n  * Title: Another Slack
        Webhook Test -&gt; New article\n  \n\n\n\nsome message 123","text":"_<http:\/\/zammad.example.com\/#ticket\/zoom\/292|Ticket#67002>:
        Updated by - at 04\/06\/2023  7:53 am (UTC)_\n\n  \n  * Title: Another Slack
        Webhook Test -&gt; New article\n  \n\n\n\nsome message 123","mrkdwn_in":["text"]}]},{"type":"message","subtype":"bot_message","text":"#
        Slack Webhook Test","ts":"1680767585.854659","bot_id":"B04PDGJS4CC","blocks":[{"type":"rich_text","block_id":"vTL","elements":[{"type":"rich_text_section","elements":[{"type":"text","text":"#
        Slack Webhook Test"}]}]}],"attachments":[{"id":1,"color":"faab00","fallback":"_<http:\/\/zammad.example.com\/#ticket\/zoom\/291|Ticket#67002>:
        Created by - at 04\/06\/2023  7:53 am (UTC)_\n* Group: Users\n* Owner: -\n*
        State: new","text":"_<http:\/\/zammad.example.com\/#ticket\/zoom\/291|Ticket#67002>:
        Created by - at 04\/06\/2023  7:53 am (UTC)_\n* Group: Users\n* Owner: -\n*
        State: new","mrkdwn_in":["text"]}]}],"has_more":false,"pin_count":0,"channel_actions_ts":null,"channel_actions_count":0}'
  recorded_at: Thu, 06 Apr 2023 07:53:08 GMT
recorded_with: VCR 6.1.0
