#{config.product_name} slaptažodžio atstatymas

<div>Sveiki #{user.firstname},</div>
<br>
<div>Jūs arba kas nors kitas bandė užsiregistruoti su šiuo el. pašto adresu. Tačiau šis el. pašto adresas jau naudojamas.</div>
<br>
<div>Jei norite atstatyti slaptažodį, paspauskite arba nusikopijuokite į naršyklę nuorodą esančią žemiau:</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div> Ši nuoroda atidarys puslapį, kuriame galėsite pasikeisti slaptažodį.</div>
<br>
<div>Jei nenorite atstatyti slaptažodžio, ignoruokite šį laišką. Jūsų slaptažodis nebus pakeistas.</div>
<br>
<div>Jūsų #{config.product_name} komanda</div>
