Wachtwoord opnieuw instellen #{config.product_name}

<div>Hoi #{user.firstname},</div>
<br>
<div>Jij of iemand anders heeft geprobeerd je aan te melden met dit e-mailadres. Dit adres wordt echter al gebruikt.</div>
<br>
<div>Als jij je wachtwoord opnieuw wilt instellen, klik dan op de onderstaande link (of kopieer en plak de URL in je browser):</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Deze link brengt jou naar een pagina waar jij je wachtwoord kunt wijzigen.</div>
<br>
<div>Als jij je wachtwoord niet opnieuw wilt instellen, negeer dan dit bericht. Je wachtwoord zal niet worden gereset.</div>
<br>
<div>Uw #{config.product_name} Team</div>
