#{config.product_name} şifrenizi sıfırlayın

<div>Merhaba #{user.firstname},</div>
<br>
<div>Siz veya bir başkası bu e-posta adresiyle kaydolmayı denediniz. Ancak bu e-posta zaten kullanılıyor.</div>
<br>
<div>Şifrenizi sıfırlamak istiyorsanız aşağıdaki bağlantıya tıklayın (veya URL'yi kopyalayıp tarayıcınıza yapıştırın):</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Bu bağlantı sizi şifrenizi değiştirebileceğiniz bir sayfaya yönlendirir.</div>
<br>
<div>Şifrenizi sıfırlamak istemiyorsanız lütfen bu mesajı dikkate almayın ve tamamen sildiğinizden emin olun. Şifreniz sıfırlanmayacak.</div>
<br>
<div>#{config.product_name} Ekibiniz</div>
