重置您的#{config.product_name}密码

<div>你好#{user.firstname}，</div>
<br>
<div>您或其他人尝试使用此电子邮件地址注册。但是，该电子邮件已被使用。</div>
<br>
<div>如果您想重置密码，请点击下面的链接（或将网址复制并粘贴到浏览器中）：</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>此链接会将您带到可以更改密码的页面。</div>
<br>
<div>如果您不想重置密码，请忽略此消息。您的密码不会被重置。</div>
<br>
<div>您的#{config.product_name}团队</div>
