<div style="position: absolute; clip: rect(0, 0, 0, 0); z-index: -1;">
  <%= inline_svg('icons.svg') %>
</div>
<div id="app"></div>
<div class="splash">
  <svg class="icon icon-logo"><use xlink:href="#icon-logo"/></svg>
  <div class="splash-title">Loading...</div>
</div>