<div style="height: 0; width: 0; position: absolute; visibility: hidden">
  <%= inline_svg('icons.svg') %>
</div>
<div id="app" class="fit horizontal"></div>
<div id="splash">
  <div class="logo">booting...</div>
</div>