<div id="app">
  <nav></nav>
  <section></section>
  <footer></footer>
</div>
<div id="splash">
  <div class="logo">booting...</div>
</div>
<script type="text/javascript">
  jQuery(function(){
    new App.Run();
  })
</script>
