
<div id="app">
  <div id="navigation"></div>
  <div id="notify"></div>
  <div id="content"></div>
  <div id="chat"></div>
</div>

<div class="container">
  <footer class="footer">
<!--      <p class="pull-right">Powered by <a href="" target="_blank">xxx</a></p>-->
      <p class="pull-right"><a href="javascript:window.scrollTo(0,0);">Back to top</a></p>
      <p>Designed and built with all the love in the world <a href="http://twitter.com/zammad_org">@zammad_org</a></p>
  </footer>
</div>

<script type="text/javascript">
  jQuery(function(){
    new App.Run();
  })
</script>