Zkušební ticket!

<div>Dobrý den, #{agent.firstname},</div>
<br>
<div>Toto je <b>zkušební ticket</b>. Jsem zákazník a potřebuji od Vás pomoc! :)</div>
<br>
<div>#{customer.fullname}</div>
<br>
<div>S pozdravem,<br>Tým aplikace #{config.product_name}</div>
