Testovací Ticket!

<div>Ahoj,</div>
<br>
<div>Toto je <b>testovací ticket</b>. Jsem zákazník a potřebuji s něčím pomoct! :)</div>
<br>
<div>#{customer.fullname}</div>
<br>
<div>The Zammad Project</div>
