Test Ticket!

<p>Hallo <%= d 'agent.firstname' %>,</p>
<br>
<p>dies ist ein <b>Test Ticket</b>. Ich bin ein Kunde und benötige Hilfe! :)</p>
<br>
<p><%= d 'customer.fullname' %></p>
<br>
<p>Das Zammad Projekt</p>
