Test Ticket!

<div>Hallo #{agent.fullname},</div>
<br>
<div>dies ist ein <b>Test Ticket</b>. Ich bin ein Kunde und benötige Hilfe! :)</div>
<br>
<div>#{customer.fullname}</div>
<br>
<div>Ihr #{config.product_name}-Team</div>
