Test Ticket!

<div>Hallo <%= d 'agent.firstname' %>,</div>
<br>
<div>dies ist ein <b>Test Ticket</b>. Ich bin ein Kunde und benötige Hilfe! :)</div>
<br>
<div><%= d 'customer.fullname' %></div>
<br>
<div>Das Zammad Projekt</div>
