Test Ticket!

<div>Hallo #{agent.firstname},</div>
<br>
<div>dies ist ein <b>Test Ticket</b>. Ich bin ein Kunde und benötige Hilfe! :)</div>
<br>
<div>#{customer.fullname}</div>
<br>
<div>Das Zammad Projekt</div>
