Test Ticket!

<div>Dear #{agent.firstname},</div>
<br>
<div>This is a <b>test ticket</b>. I'm a customer and I need some help! :)</div>
<br>
<div>#{customer.fullname}</div>
<br>
<div>The Zammad Project</div>
