Test Ticket!

<p>Dear <%= d 'agent.firstname' %>,</p>
<br>
<p>This is a <b>test ticket</b>. I'm a customer and I need some help! :)</p>
<br>
<p><%= d 'customer.fullname' %></p>
<br>
<p>The Zammad Project</p>
