¡Ticket de prueba!

<div>Buenos días, #{agent.firstname}:</div>
<br>
<div>Este es un <b>ticket de prueba </b>. ¡Soy un cliente y necesito ayuda! :)</div>
<br>
<div>#{customer.fullname}</div>
<br>
<div>El equipo de #{config.product_name}</div>
