Ticket de Test!

<div>Cher #{agent.firstname},</div>
<br>
<div>Ceci est un <b>ticket de test</b>. Je suis un client et j'ai besoin d'aide! :)</div>
<br>
<div>#{customer.fullname}</div>
<br>
<div>Le projet Zammad</div>
