Testni ticket!

<div>Dragi #{agent.firstname},</div>
<br>
<div>Ovo je <b>testni ticket</b>. Ja sam klijent i treba mi pomoć! :)</div>
<br>
<div>#{customer.fullname}</div>
<br>
<div>Vaš #{config.product_name} tim</div>
