Teszt Jegy!

<div>Tisztelt #{agent.firstname},</div>
<br>
<div>Ez egy <b>teszt jegy</b>. Én egy ügyfél vagyok, és egy kis segítségre lenne szükségem! :)</div>
<br>
<div>#{customer.fullname}</div>
<br>
<div>Az Ön #{config.product_name} csapata</div>
