Ticket di prova!

<div>Cear #{agent.firstname},</div>,</div>.
<br>
<div>Questo è un <b>test ticket</b>. Sono un cliente e ho bisogno di aiuto! :)</div>
<br>
<div>#{customer.fullname}</div></div>
<br>
<div>Il Progetto Zammad</div>
