Ticket di prova!

<div>Gentile #{agent.firstname},</div>,</div>.
<br>
<div>Questo è un <b>ticket di prova</b>. Sono un cliente e ho bisogno di aiuto! :)</div>
<br>
<div>#{customer.fullname}</div></div>
<br>
<div>Il team #{config.product_name}</div>
