Bandomoji triktis!

<div>Sveiki #{agent.firstname},</div>
<br>
<div>Tai yra <b>bandomoji triktis</b>. Esu klientas ir man reikia pagalbos! :)</div>
<br>
<div>#{customer.fullname}</div>
<br>
<div>Jūsų #{config.product_name} komanda</div>
