Test Ticket!

<div>Beste #{agent.firstname},</div>
<br>
<div>Dit is een <b>testticket</b>. Ik ben een klant en heb hulp nodig! :)</div>
<br>
<div>#{customer.fullname}</div>
<br>
<div>Het #{config.product_name}-team</div>
