Testowe zgłosznie!

<div>Drogi #{agent.firstname},</div>
<br>
<div>To jest <b>testowe zgłoszenie</b>. Jestem twoim pierwszym klientem i potrzebuję twojej pomocy! :)</div>
<br>
<div>#{customer.fullname}</div>
<br>
<div>The Zammad Project</div>
