Testowe zgłoszenie!

<div>Drogi #{agent.firstname},</div>
<br>
<div>To jest <b>testowe zgłoszenie</b>. Jestem twoim pierwszym klientem i potrzebuję twojej pomocy! :)</div>
<br>
<div>#{customer.fullname}</div>
<br>
<div>Zespół #{config.product_name}</div>
