Teste de chamado!

<div>Prezado #{agent.firstname},</div>
<br>
<div>Este é um <b>chamado de teste</b>. Eu sou um usuário e preciso de ajuda ! :)</div>
<br>
<div>#{customer.fullname}</div>
<br>
<div>O projeto Zammad</div>
