Ticket de teste!

<div>Prezado #{agent.firstname},</div>
<br>
<div>Este é um <b>ticket de teste</b>. Sou cliente e preciso de ajuda! :)</div>
<br>
<div>#{customer.fullname}</div>
<br>
<div>Time #{config.product_name}</div>
