Tichet de test!

<div>Dragă #{agent.firstname},</div>
<br>
<div>Acesta este un <b>tichet de test</b>. Sunt un client și am nevoie de ajutor! :)</div>
<br>
<div>#{customer.fullname}</div>
<br>
<div>Echipa #{config.product_name}</div>
