Тестовая заявка! 
 
<div>Уважаемый #{agent.firstname}.</div> 
<br> 
<div>Это<b>тестовая заявка</b>. Я клиент, и мне нужна помощь! :)</div> 
<br> 
<div>#{customer.fullname}</div> 
<br> 
<div>Ваша Команда #{config.product_name}</div>
