Тестовый тикет!

<div>Уважаемый #{agent.firstname},</div>
<br>
<div>Это<b>тестовый тикет</b>. Я клиент, и мне нужна помощь! :)</div>
<br>
<div>#{customer.fullname}</div>
<br>
<div>Проект Zammad</div>
