Пробни тикет!

<div>Драги #{agent.firstname},</div>
<br>
<div>Ово је <b>пробни тикет</b>. Ја сам клијент и треба ми помоћ! :)</div>
<br>
<div>#{customer.fullname}</div>
<br>
<div>Ваш #{config.product_name} тим</div>
