Testärende!

<div>Bästa #{agent.firstname},</div>
<br>
<div>Detta är ett <b>Testärende</b>. Jag är en kund som behöver hjälp! :)</div>
<br>
<div>#{customer.fullname}</div>
<br>
<div>Ditt #{config.product_name} Team</div>
