Deneme Bileti!

<div>Sayın #{agent.firstname},</div>
<br>
<div>Bu bir <b>test biletidir</b>. Ben bir müşteriyim ve yardıma ihtiyacım var! :)</div>
<br>
<div>#{customer.fullname}</div>
<br>
<div>#{config.product_name} Ekibiniz</div>
