---
http_interactions:
- request:
    method: get
    uri: https://ai.zammad.com/api/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ZAMMAD_AI_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b7e6f07008b737e1ee45b7215fa4b363"
    body:
      encoding: UTF-8
      string: '{"current_user":{"id":"\u003cID\u003e","email":"\u003cEMAIL\u003e"}}'
  recorded_at: Tue, 09 Jun 2026 14:38:43 GMT
recorded_with: VCR 6.4.0
