---
http_interactions:
- request:
    method: get
    uri: https://AZURE.HOST/openai/v1/models
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AZURE_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - 2022-12-01,2023-03-15-preview,2023-05-15,2023-06-01-preview,2023-07-01-preview,2023-08-01-preview,2023-09-01-preview,2023-10-01-preview,2023-12-01-preview,2024-02-01,2024-02-15-preview,2024-03-01-preview,2024-04-01-preview,2024-04-15-preview,2024-05-01-preview,2024-06-01,2024-07-01-preview,2024-08-01-preview,2024-09-01-preview,2024-10-01-preview,2024-10-21,2024-11-01-preview,2024-12-01-preview,2025-01-01-preview,2025-02-01-preview,2025-03-01-preview,2025-04-01-preview,2025-04-28,1
      X-Ms-Region:
      - East US 2
    body:
      encoding: UTF-8
      string: |-
        {
          "data": [
            {
              "status": "succeeded",
              "capabilities": {
                "fine_tune": false,
                "inference": true,
                "completion": false,
                "chat_completion": false,
                "embeddings": false,
                "global_fine_tune": false,
                "devtier_fine_tune": false
              },
              "lifecycle_status": "deprecated",
              "deprecation": {
                "inference": 1772582400
              },
              "id": "dall-e-3-3.0",
              "created_at": 1691712000,
              "object": "model"
            },
            {
              "status": "succeeded",
              "capabilities": {
                "fine_tune": false,
                "inference": true,
                "completion": false,
                "chat_completion": false,
                "embeddings": false,
                "global_fine_tune": false,
                "devtier_fine_tune": false
              },
              "lifecycle_status": "deprecated",
              "deprecation": {
                "inferen[...]
