---
http_interactions:
- request:
    method: get
    uri: https://ai.zammad.com/api/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ZAMMAD_AI_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5bdbeba07fdbf4c76ad71a9049b85bbe"
    body:
      encoding: ASCII-8BIT
      string: '{"current_user":{"id":2,"email":"me@zammad.com","firstname":"Martin","lastname":"Edenhofer","login_failed_count":0,"login_at":"2025-10-18T12:10:10.962Z","platform_admin":true,"organization_admin":false,"active":true,"created_by_id":1,"created_at":"2025-08-21T09:38:47.872Z","updated_at":"2025-10-18T12:10:10.985Z","organization_id":null}}'
  recorded_at: Mon, 27 Oct 2025 10:06:41 GMT
recorded_with: VCR 6.3.1
