.icon-archived-modifier { width: 9px; height: 9px; }
.icon-arrow-down { width: 13px; height: 7px; }
.icon-arrow-left { width: 7px; height: 13px; }
.icon-arrow-right { width: 7px; height: 13px; }
.icon-arrow-up { width: 13px; height: 7px; }
.icon-bell { width: 33px; height: 32px; }
.icon-bold { width: 12px; height: 12px; }
.icon-caret-down { width: 24px; height: 24px; }
.icon-chain { width: 16px; height: 16px; }
.icon-chat { width: 24px; height: 24px; }
.icon-check { width: 24px; height: 24px; }
.icon-checkbox-checked { width: 11px; height: 11px; }
.icon-checkbox-indeterminate { width: 11px; height: 11px; }
.icon-checkbox { width: 11px; height: 11px; }
.icon-checked-no { width: 24px; height: 24px; }
.icon-checked-yes { width: 24px; height: 24px; }
.icon-checkmark { width: 16px; height: 14px; }
.icon-chevron-down { width: 24px; height: 24px; }
.icon-chevron-left { width: 24px; height: 24px; }
.icon-chevron-right { width: 24px; height: 24px; }
.icon-chevron-up { width: 24px; height: 24px; }
.icon-clipboard { width: 16px; height: 16px; }
.icon-clock { width: 16px; height: 16px; }
.icon-close-small { width: 24px; height: 24px; }
.icon-cloud { width: 16px; height: 16px; }
.icon-cog { width: 20px; height: 20px; }
.icon-crown { width: 62px; height: 27px; }
.icon-danger { width: 16px; height: 16px; }
.icon-dashboard { width: 24px; height: 24px; }
.icon-diagonal-cross { width: 13px; height: 13px; }
.icon-document { width: 16px; height: 16px; }
.icon-download { width: 14px; height: 13px; }
.icon-draft-modifier { width: 9px; height: 9px; }
.icon-draggable { width: 16px; height: 16px; }
.icon-dropdown-list { width: 19px; height: 14px; }
.icon-email-button { width: 29px; height: 24px; }
.icon-email { width: 17px; height: 17px; }
.icon-external { width: 16px; height: 16px; }
.icon-eye-off { width: 24px; height: 24px; }
.icon-eye { width: 24px; height: 24px; }
.icon-eyedropper { width: 17px; height: 17px; }
.icon-facebook-button { width: 29px; height: 24px; }
.icon-facebook { width: 17px; height: 17px; }
.icon-file-archive { width: 24px; height: 31px; }
.icon-file-calendar { width: 24px; height: 31px; }
.icon-file-code { width: 24px; height: 31px; }
.icon-file-email { width: 24px; height: 31px; }
.icon-file-excel { width: 24px; height: 31px; }
.icon-file-pdf { width: 24px; height: 31px; }
.icon-file-powerpoint { width: 24px; height: 31px; }
.icon-file-text { width: 24px; height: 31px; }
.icon-file-unknown { width: 24px; height: 31px; }
.icon-file-word { width: 24px; height: 31px; }
.icon-form { width: 17px; height: 17px; }
.icon-forward { width: 16px; height: 17px; }
.icon-full-logo { width: 175px; height: 50px; }
.icon-github-button { width: 29px; height: 24px; }
.icon-github-logo { width: 24px; height: 24px; }
.icon-gitlab-button { width: 29px; height: 24px; }
.icon-gitlab-logo { width: 24px; height: 24px; }
.icon-google-button { width: 29px; height: 24px; }
.icon-group { width: 24px; height: 24px; }
.icon-hashtag { width: 28px; height: 28px; }
.icon-help { width: 16px; height: 16px; }
.icon-home { width: 22px; height: 23px; }
.icon-horizontal-rule { width: 12px; height: 12px; }
.icon-important { width: 16px; height: 16px; }
.icon-in-process { width: 64px; height: 64px; }
.icon-inactive-organization { width: 16px; height: 16px; }
.icon-inactive-user { width: 16px; height: 16px; }
.icon-info { width: 5px; height: 11px; }
.icon-internal-modifier { width: 9px; height: 9px; }
.icon-italic { width: 12px; height: 12px; }
.icon-knowledge-base-answer { width: 16px; height: 16px; }
.icon-knowledge-base { width: 24px; height: 24px; }
.icon-line-left-arrow { width: 34px; height: 7px; }
.icon-line-right-arrow { width: 34px; height: 7px; }
.icon-linkedin-button { width: 29px; height: 24px; }
.icon-list { width: 16px; height: 16px; }
.icon-loader { width: 24px; height: 24px; }
.icon-loading { width: 16px; height: 16px; }
.icon-lock-open { width: 16px; height: 17px; }
.icon-lock { width: 16px; height: 17px; }
.icon-logo { width: 42px; height: 36px; }
.icon-logotype { width: 91px; height: 15px; }
.icon-long-arrow-down { width: 11px; height: 11px; }
.icon-long-arrow-right { width: 11px; height: 11px; }
.icon-low-priority { width: 16px; height: 16px; }
.icon-magnifier { width: 15px; height: 15px; }
.icon-marker { width: 17px; height: 19px; }
.icon-message { width: 24px; height: 24px; }
.icon-microsoft-button { width: 29px; height: 24px; }
.icon-minus-small { width: 16px; height: 16px; }
.icon-minus { width: 20px; height: 20px; }
.icon-mood-bad { width: 60px; height: 59px; }
.icon-mood-good { width: 60px; height: 59px; }
.icon-mood-ok { width: 60px; height: 59px; }
.icon-mood-sad { width: 60px; height: 59px; }
.icon-mood-superbad { width: 60px; height: 59px; }
.icon-mood-supergood { width: 60px; height: 59px; }
.icon-mute { width: 16px; height: 16px; }
.icon-new-customer { width: 24px; height: 24px; }
.icon-new-organization { width: 24px; height: 24px; }
.icon-not-signed { width: 14px; height: 14px; }
.icon-note { width: 16px; height: 16px; }
.icon-oauth2-button { width: 29px; height: 24px; }
.icon-one-ticket { width: 48px; height: 10px; }
.icon-organization { width: 16px; height: 16px; }
.icon-outbound-calls { width: 17px; height: 17px; }
.icon-overflow-button { width: 3px; height: 13px; }
.icon-overviews { width: 24px; height: 24px; }
.icon-package { width: 16px; height: 16px; }
.icon-paperclip { width: 28px; height: 28px; }
.icon-pen { width: 16px; height: 16px; }
.icon-person { width: 24px; height: 24px; }
.icon-phone { width: 17px; height: 17px; }
.icon-plus-small { width: 16px; height: 16px; }
.icon-plus { width: 20px; height: 20px; }
.icon-printer { width: 24px; height: 24px; }
.icon-radio-checked { width: 11px; height: 11px; }
.icon-radio { width: 11px; height: 11px; }
.icon-rearange { width: 16px; height: 16px; }
.icon-received-calls { width: 17px; height: 17px; }
.icon-reload { width: 16px; height: 16px; }
.icon-reopening { width: 68px; height: 47px; }
.icon-reply-all { width: 16px; height: 17px; }
.icon-reply { width: 16px; height: 17px; }
.icon-report { width: 20px; height: 20px; }
.icon-search { width: 24px; height: 24px; }
.icon-searchdetail { width: 18px; height: 14px; }
.icon-signed { width: 14px; height: 14px; }
.icon-signout { width: 15px; height: 19px; }
.icon-small-dot { width: 16px; height: 16px; }
.icon-sms { width: 17px; height: 17px; }
.icon-spinner-small { width: 15px; height: 15px; }
.icon-split { width: 16px; height: 17px; }
.icon-sso-button { width: 29px; height: 24px; }
.icon-stack { width: 24px; height: 24px; }
.icon-state-closed { width: 24px; height: 24px; }
.icon-state-escalated { width: 24px; height: 24px; }
.icon-state-open { width: 24px; height: 24px; }
.icon-state-waiting-for-closure { width: 24px; height: 24px; }
.icon-state-waiting-for-reminder { width: 24px; height: 24px; }
.icon-status-modified-outer-circle { width: 16px; height: 16px; }
.icon-status { width: 16px; height: 16px; }
.icon-stopwatch { width: 77px; height: 83px; }
.icon-strikethrough { width: 12px; height: 12px; }
.icon-switchView { width: 19px; height: 18px; }
.icon-task-state { width: 16px; height: 16px; }
.icon-team { width: 16px; height: 16px; }
.icon-telegram { width: 17px; height: 17px; }
.icon-templates { width: 24px; height: 24px; }
.icon-tools { width: 24px; height: 24px; }
.icon-total-tickets { width: 48px; height: 83px; }
.icon-trash { width: 16px; height: 16px; }
.icon-twitter-button { width: 29px; height: 24px; }
.icon-twitter { width: 17px; height: 17px; }
.icon-underline { width: 12px; height: 12px; }
.icon-unmute { width: 16px; height: 16px; }
.icon-unordered-list { width: 12px; height: 12px; }
.icon-user { width: 16px; height: 16px; }
.icon-web { width: 17px; height: 17px; }
.icon-weibo-button { width: 29px; height: 24px; }
.icon-zoom-in { width: 20px; height: 20px; }
.icon-zoom-out { width: 20px; height: 20px; }