body {
  padding-top:50px;
  font-size: 13px;
}

label, input, button, select, textarea {
  font-size: 13px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  margin-bottom: 1px;
}


.spinner {
  float: left;
  background:url("/assets/spinner.gif") no-repeat;
  background-position: center center;
  padding: 12px;
  width: 10px;
  height: 14px;
  display: none;
}

table {
  table-layout: fixed;
}
table th, table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.max-size-scroll {
  max-height: 240px;
  overflow-y: scroll;
}

/*
#content > *:not(.active) {
  display: none !important;
}
*/

[class^="icon-"],
[class*=" icon-"] {
  background-image: url("../assets/glyphicons-halflings.png");
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 8px;
}

h1 {
  font-size: 34px;
  line-height: 38px;
}
h2 {
  font-size: 22px;
  line-height: 32px;
}
h3 {
  font-size: 18px;
  line-height: 26px;
}
h4 {
  font-size: 14px;
  line-height: 20px;
}
.navbar .nav > li > a {
  padding: 10px 12px 10px;
}

/*
 * bootstrap changes
 */
/* improve pagination if only one page is shown */
.pagination li:only-child a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* improved spacing */
.pagination {
  padding-top: 2px;
  margin: 0px 4px;
  height: 30px;
}

.pagination .count {
  padding: 6px 6px;
  float: left;
  color: #999;
  border: none;
  line-height: 17px;
}

.page-header {
  margin: 20px 0 20px
}

.dropdown-menu {
/*
  min-width: 270px;
*/
}

.dropdown-menu .count {
  padding-top: 1px;
  margin-left: 10px;
}

.form-horizontal .help-inline, .form-horizontal .help-block {
  font-size: 12px;
  margin-top: 4px;
}

.form-horizontal .control-label {
  width: 130px;
}
.form-horizontal .controls {
  margin-left: 150px;
}

/* replace music icon with attachment */
.icon-attachment {
  background-position: -24px 0;
}
 
/*
 * 
 */
.hero-unit p {
  font-size: 16px;
  font-weight: 200;
  line-height: 22px;
}

.hero-unit .small {
  font-size: 12px;
  line-height: 20px;
  color: #999999;
}

/*
 * removed margin of forms to not break the layout with submit buttons within <form></form> area e. g. for modal dialogs
 */
form {
  margin: 0 0 0 0;
}

.edit {
  min-height:30px;
}

.edit:focus {
  color: #000000;
  outline: 0;
}

.delete {
  background:url("../assets/close.png") no-repeat;
  text-indent: -9999em;
  border: 0;
  width: 40px;
  height: 40px;
  cursor:pointer;
  float: right;
  position: relative;
  top: -15px;
  left: 30px; 
  margin: 4px;
  clear: right;
}

footer {
  padding-top: 17px;
  border-top: 1px solid #EEE;
}

.search-query {
  width: 160px;
}

.can-move {
  cursor: move;
}

.can-move-placeholder {
    border: 1px dashed #DDD;
    background: #EEE;
    margin-top: 5px;
    margin-bottom: 5px;
}


.ticket-answer .avatar {
  margin-left: 10px;
}
.ticket-answer .span8 {
  width: 558px;
}

.ticket-answer .span9 {
  width: 710px;
}
.ticket-answer .span3 {
  width: 200px;
}

.article {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-left: 0;
  margin-top: 0px;
  margin-bottom: 10px;

  padding-top: 0px;
  padding-bottom: 2px;
  padding-right: 0px;
  
  background-color: #ffffff;
}

.article-message {
  
  margin-top: 0px;
  margin-bottom: 6px;
  margin-left: 10px;

  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 10px;
  
  width: 580px;
}

.article-message hr {
  margin: 6px 0px 6px -10px;
}

.article .span8 {
  width: 602px;
}

.show_toogle {
  font-size: 10px;
  line-height: 12px;
  color: #999999;
}

.well-muted {
  background-color: whiteSmoke;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); 
}

.internal {
  background-color: #f2dede;
  border-color: #eed3d7;
  border: 1px solid #fbeed5;
}

.merged, .merge:hover {
  text-decoration: line-through;
}

.not-active {
  text-decoration: line-through;
}
.not-active a {
  color: #bbb;
}

.nav.nav-tabs.nav-stacked > li > a > span {
  visibility: hidden;
}
.nav.nav-tabs.nav-stacked > li > a:hover > span {
  visibility: visible;
}

.customer-info {
  width:86%;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 10px;
}

.inline-edit {
  padding: 4px;
}
.inline-edit:hover {
  padding: 3px;
  border: 1px dotted #F92;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.translation {
  border: 1px dotted #F92;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.translation:hover {
}

.translation .icon-edit {
  display: none;
}

.translation:hover .icon-edit {
  display: inline-block;
}

/*
 * noty changes
 */
.noty_bar.noty_layout_top {
  top: 48px;
  position: fixed;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.noty_bar.noty_theme_twitter {
  font-size: 14px;
  line-height: 14px;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.9;
}

.qq-upload-icon {
  margin: 6px 20px 0px 0px;
  height: 18px;
}

.qq-upload-button {
    display: block;
    /*or inline-block*/
    width: 40px;
    padding: 7px 0;
    text-align: center;
}

.qq-upload-list {
  text-align: left;
  margin: 5px 10px 0px;
  padding: 0;
  list-style: disc;
}

.qq-upload-list li {
  font-size: 14px;
  padding: 5px;
  background-color: transparent;
}



.sub_attribute .control-label {
  width: 60px;
}
.sub_attribute .controls {
  margin-left: 80px;
}