body {
  padding-top:78px;
/*
  font-size: 13px;
*/
  font-weight: 200;
  font-size: 13px;
}

.glyphicon {
  font-size: 13px;
}

.btn {
  font-size: 12px;
  font-weight: 400;
}

label, input, button, select, textarea {
  font-size: 13px;
  font-weight: 200;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
/*
  margin-bottom: 1px;
*/
}


.spinner {
  float: left;
  background:url("/assets/spinner.gif") no-repeat;
  background-position: center center;
  padding: 46px 10px 0 10px;
  width: 10px;
  height: 14px;
  display: none;
}

table {
  table-layout: fixed;
}
table th, table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table {
  display: table;
}
.table .table-row {
  display: table-row;
}
.table .table-cell{
  vertical-align: top;
  display: table-cell;
  border-bottom: 1px solid #eeeeee;
}

.content-two {
  top: 80px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
  z-index: -5000;
}

.content-two .sidebar {
  padding: 8px 10px;
  width: 200px;
  height: 100%;
  float: left;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
}
.content-two .sidebar.nav-manage {
  padding-left: 16px;
}

.content-two .sidebar .nav > li > a {
  padding: 8px 13px;
}

.content-two .sidebar .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.content-two .sidebar input,
.content-two .sidebar select {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
}

.content-two .main {
  width: 600px;
  height: 100%;
  float: left;
  margin-left: 204px;
  padding-bottom: 10px;
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
}
.content-two .main > .nav {
  margin-top: 12px;
}
.content-two .meta {
  display: none;
}
@media (min-width: 800px) {
  .content-two .sidebar {
    width: 240px;
  }
  .content-two .main {
    width: 660px;
    margin-left: 244px;
  }
  .content-two .meta {
    display: none;
  }
}
@media (min-width: 1024px) {
  .content-two .sidebar {
    width: 260px;
  }
  .content-two .main {
    width: 760px;
    margin-left: 264px;
  }
  .content-two .meta {
    display: none;
  }
}
@media (min-width: 1200px) {
  .content-two .sidebar {
    width: 280px;
  }
  .content-two .main {
    width: 800px;
    margin-left: 284px;
  }
  .content-two .meta {
    width: 140px;
    display: table-cell;
  }
}

.content-cols {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-spacing: 0px;
}
.content-cols .row {
  margin: 0px;
}
.content-cols .row2 > div {
  display: table-cell;
  vertical-align: top;
  padding: 0px 12px 0px 12px;
}
.content-cols .row2 .sidebar {
  border-right: 1px solid #eeeeee;
  width: 160px;
}
.content-cols .sidebar input,
.content-cols .sidebar select {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
}
.content-cols .sidebar .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.content-cols .row2 .main {
  width: 600px;
}
.content-cols .row2 .meta {
  display: none;
}

@media (min-width: 800px) {
  .content-cols .row2 .sidebar {
    width: 200px;
  }
  .content-cols .row2 .main {
    width: 750px;
  }
  .content-cols .row2 .meta {
    display: none;
  }
}
@media (min-width: 1024px) {
  .content-cols .row2 .sidebar {
    width: 220px;
  }
  .content-cols .row2 .main {
    width: 900px;
  }
  .content-cols .row2 .meta {
    display: none;
  }
}
@media (min-width: 1200px) {
  .content-cols .row2 .sidebar {
    width: 240px;
  }
  .content-cols .row2 .main {
    width: 900px;
  }
  .content-cols .row2 .meta {
    width: 200px;
    display: table-cell;
  }
}

.content-cols .nav-bar-stacked {
  background-color: #f7f5fa;
}
.content-cols .nav-bar-stacked .active a {
  border-right: 1px solid #563d7c;
}

#task {
  position: fixed;
  display: table;
  width: 100%;
  top: 48px;
}

#task > .taskbar {
  display: table-row;
  z-index: 1040;
}

#task > .taskbar > div {
  padding: 0px 4px 4px 4px;
  display: table-cell;
}

#task .task {
  display: inline-block;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#task .task > a,
#task .task > a:hover {
  color: #ffffff;
  text-decoration: none;
}

#task .btn-default .task > a,
#task .btn-default .task > a:hover {
  color: #333333;
}

#task .taskbar .btn-small {
  padding: 5px 10px;
  margin-top: 2px;
  font-size: 11px;
  font-weight: 300;
}

#task .taskbar .btn-default {
  background-color: #c3c3c3;
  border-color: #c3c3c3;
}

#task [data-type="close"] {
  margin-left: 5px;
  font-size: 10px;
}

#task .taskbar-items {
}

#task .taskbar-new {
  text-align: right;
  padding-right: 12px;
}

.max-size-scroll {
  max-height: 240px;
  overflow-y: scroll;
}

/*
#content > *:not(.active) {
  display: none !important;
}
*/

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

h1 {
  font-size: 36px;
  margin-top: 15px;
}
h2 {
  font-size: 24px;
  margin-top: 10px;
}
h3 {
  font-size: 22px;
  margin-top: 10px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}

.form-group .help-message {
  float: right;
  margin-right: -23px;
  margin-top: -23px;
}
.form-control {
  height: 33px;
  font-size: 13px;
}

.form-large {
  width: 85%;
}
.form-normal {
  width: 70%;
}
.form-small {
  width: 50%;
}
.form-normal fieldset {
  margin-bottom: 10px;
}
.sidebar fieldset {
  margin-bottom: 10px;
}

.form-horizontal label {
  text-align: right;
  float: left;
  margin-left: 0px;
  margin-right: 0px;
  width: 130px;
  margin-top: 7px;
}

/*
 * bootstrap changes
 */
/* improve pagination if only one page is shown */
.pagination li:only-child a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* improved spacing */

.pagination .count {
  padding: 6px 6px;
  float: left;
  color: #999;
  border: none;
  line-height: 17px;
}

.page-header {
  margin: 0 0 12px
}

.page-header-title {
  float: left;
}
.page-header-meta {
  float: right;
  padding-top: 20px;
}
.page-header .page-header-meta ul.pagination {
  margin: 0 0 0 0;
}

.dropdown-menu {
/*
  min-width: 270px;
*/
}

.dropdown-menu .count {
  padding-top: 1px;
  margin-left: 10px;
}

.form-horizontal .help-inline, .form-horizontal .help-block {
  font-size: 12px;
  margin-top: 4px;
}

.form-horizontal .control-label {
  width: 130px;
}
.form-horizontal .controls {
  margin-left: 150px;
}

/* replace music icon with attachment */
.icon-attachment {
  background-position: -24px 0;
}

/*
 *
 */

.hero-unit {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  padding: 50px 60px 60px 60px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.hero-unit p {
  font-size: 16px;
  font-weight: 200;
  line-height: 22px;
}

.hero-unit .small {
  font-size: 12px;
  line-height: 20px;
  color: #999999;
}

/*
 * removed margin of forms to not break the layout with submit buttons within <form></form> area e. g. for modal dialogs
 */
form {
  margin: 0 0 0 0;
}

form.form-inline select,
form.form-inline input[type="text"],
form.form-inline input[type="password"] {
  width: 180px;
  margin-right: 4px;
}

.modal-header {
  padding: 10px 15px;
}

.modal .form-group .controls {
  width: 65%;
}

.modal .form-group {
  margin-bottom: 2px;
}

.modal-footer {
  margin-top: 0;
  padding: 14px 20px 20px;
}

.edit {
  min-height:30px;
  bottom: 0px;
/*  position: fixed; */
  padding: 2px 14px;
  width: 720px;
  margin-bottom: 0px;
}
.edit .form-group {
  margin-bottom: 2px;
}
.edit .form-control {
  height: 30px;
}

.edit:focus {
  color: #000000;
  outline: 0;
}

.delete {
  background:url("../assets/close.png") no-repeat;
  text-indent: -9999em;
  border: 0;
  width: 40px;
  height: 40px;
  cursor:pointer;
  float: right;
  position: relative;
  top: -15px;
  left: 30px;
  margin: 4px;
  clear: right;
}

footer {
  clear: both;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 22px;
}

.can-move {
  cursor: move;
}

.can-move-placeholder {
    border: 1px dashed #DDD;
    background: #EEE;
    margin-top: 5px;
    margin-bottom: 5px;
}

.customer_info {
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}

.customer_info ul.nav > li {
  width: 50%;
}
.customer_info ul.nav > li > a {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.customer_info .thumbnail {
  position: absolute;
  right: 14px;
  top: 50px;
}
.customer_info textarea {
  padding-left: 10px;
  width: 100%;
  border-color: #eee;
}

.ticket-action {
  padding-left: 2px;
}

.ticket-answer .avatar {
  padding-left: 6px;
  padding-top: 4px;
  width: 70px;
  float: left;
}
.ticket-answer .avatar ul {
  padding-left: 20px;
}

.ticket-update {
  width: 100%;
}
.ticket-update .span2 {
  width: 160px;
  margin-right: 4px;
}
.ticket-update .medium {
  width: 160px;
}

.article {
  width: 100%;

  margin-left: 0;
  margin-top: 0px;
  margin-bottom: 10px;

  padding-top: 0px;
  padding-bottom: 2px;
  padding-right: 0px;

  border-bottom: 1px solid #eeeeee;
}

.article-content {
  
  margin-left: 70px;
}
.article-message {
  padding: 4px 2px;
/*
  margin-top: 0px;
  margin-bottom: 6px;
  margin-left: 10px;

  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 10px;

  margin-left: 70px;

  min-height: 85px;
*/
}

.show_toogle {
  font-size: 10px;
  line-height: 12px;
  color: #999999;
}

.well-muted {
  background-color: whiteSmoke;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.internal {
  background-color: #f2dede;
  border-color: #eed3d7;
  border: 1px solid #fbeed5;
  border-radius: 2px;
}

.merged, .merge:hover {
  text-decoration: line-through;
}

.not-active {
  text-decoration: line-through;
}
.not-active a {
  color: #bbb;
}

.navbar {
  min-height: 46px;
}

.nav .form-control {
  height: 34px;
  margin-top: 1px;
  border-radius: 8px;
}

.nav .form-control {
  background-color: #f5f5f5;
}
.nav .form-control:focus {
  background-color: #ffffff;
}

.navbar-brand {
  line-height: 18px;
  font-weight: 200;
}

.navbar-nav > li > a {
  line-height: 18px;
}

.navbar .bell {
  display: none;
}
.navbar .bell.show {
  display: block;
}
.navbar .bell.show a {
  color: #fff;
}

.nav.nav-tabs.nav-stacked > li > a > span {
  visibility: hidden;
}
.nav.nav-tabs.nav-stacked > li > a:hover > span {
  visibility: visible;
}

.nav-sub{
  margin-left: 12px;
  font-size: 12px;
}

.nav.nav-pills > li > a > span.local {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  margin-right: 22px;
}
.nav.nav-pills > li > a > span.badge {
  margin-top: -18px;
}

.customer-info {
  width: 100%;
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 10px;
}

.inline-edit {
  padding: 4px;
}
.inline-edit:hover {
  padding: 3px;
  border: 1px dotted #F92;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.translation {
  border: 1px dotted #F92;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.translation:hover {
}

.translation .icon-edit {
  display: none;
}

.translation:hover .icon-edit {
  display: inline-block;
}

/*
 * noty changes
 */
.noty_bar.noty_layout_top {
  top: 48px;
  position: fixed;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.noty_bar.noty_theme_twitter {
  font-size: 14px;
  line-height: 14px;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.9;
}

.qq-upload-icon {
  margin: 6px 20px 0px 0px;
  height: 18px;
}
.qq-upload-icon .glyphicon {
  font-size: 15px;
}

.qq-upload-button {
    display: block;
    /*or inline-block*/
    width: 40px;
    padding: 8px 0 5px;
    text-align: center;
}

.qq-upload-list {
  text-align: left;
  margin: 5px 10px 0px;
  padding: 0;
  list-style: disc;
}

.qq-upload-list li {
  font-size: 14px;
  padding: 5px;
  background-color: transparent;
}

.sub_attribute .control-label {
  width: 60px;
}
.sub_attribute .controls {
  margin-left: 80px;
}

.form-changed {
  border: 1px solid #fbeed5;
  border-radius: 4px;
  background-color: #fcf8e3;
}

#splash {
  background-color: #eee;
  position: absolute;
  width: 100%;
  top: 0px;
  height: 100%;
}
#splash .logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 100px;
}
