Administration login to #{config.product_name}

<div>Здравей #{user.firstname},</div>
<br>
<div>Получихме заявка за администраторски вход за Вашия #{config.product_name} акаунт<b>#{user.login}</b>.</div>
<br>
<div>Моля, щракнете върху връзката по-долу (или копирайте и поставете URL адреса във вашия браузър), за да продължите:</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Тази връзка ви отвежда до страница, където можете да влезете.</div>
<br>
<div>Ако не искате да влезете, моля, игнорирайте това съобщение.</div>
<br>
<div>Поздрави! #{config.product_name}</div>
