Connexion administrateur à #{config.product_name}

<div>Bonjour #{user.firstname},</div>
<br>
<div>Nous avons reçu une demande de connexion administrateur sur votre compte #{config.product_name} <b>#{user.login}</b>.</div>
<br>
<div>Merci de cliquer sur le lien ci-dessous (ou de copier/coller ce lien dans votre navigateur) :</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Ce lien vous permet d'accéder à la page de connexion.</div>
<br>
<div>Si vous ne souhaitez pas vous connecter, merci d'ignorer ce message.</div>
<br>
<div>L'équipe #{config.product_name}</div>
