Login de administração para #{config.product_name}

<div>Olá #{user.firstname},</div>
<br>
<div>Recebemos um pedido de login de administração para a sua conta #{config.product_name} <b>#{user.login}</b>.</div>
<br>
<div>Por favor, clique no link abaixo (ou copie e cole a URL no seu navegador) para prosseguir:</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Este link o levará para uma página onde você pode fazer login.</div>
<br>
<div>Se você não deseja fazer login, por favor, ignore esta mensagem.</div>
<br>
<div>Sua equipe #{config.product_name}</div>
