Autentificare pentru administrare #{config.product_name}

<div>Bună #{user.firstname},</div>
<br>
<div>Am primit o solicitare pentru o autentificare de administrare pentru contul tău #{config.product_name} <b>#{user.login}</b>.</div>
<br>
<div>Te rog, dă clic pe linkul de mai jos (sau copiază și lipește URL-ul în browserul tău) pentru a continua:</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Acest link te duce la o pagină unde poți să te autentifici.</div>
<br>
<div>Dacă nu dorești să te autentifici, te rog să ignori acest mesaj.</div>
<br>
<div>Echipa #{config.product_name}</div>
