Авторизация в качестве администратора #{config.product_name}

<div>Здравствуйте, #{user.firstname}.</div>
<br>
<div>Мы получили запрос на авторизацию в качестве администратора #{config.product_name} Вашей учетной записи <b>#{user.login}</b>.</div>
<br>
<div>Пожалуйста, нажмите на ссылку ниже (или скопируйте и вставьте URL-адрес в адресную строку браузера), чтобы продолжить:</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Эта ссылка ведет на страницу, где Вы можете войти в систему.</div>
<br>
<div>Если Вы не хотите входить в систему, Вы можете проигнорировать это сообщение.</div>
<br>
<div>Ваша команда #{config.product_name}</div>
