Авторизация в качестве администратора #{config.product_name}

<div>Здравствуйте, #{user.firstname}.</div>
<br>
<div>Мы получили запрос на авторизацию в качестве администратора #{config.product_name} вашей учетной записи <b>#{user.login}</b>.</div>
<br>
<div>Пожалуйста, нажмите на ссылку ниже (или скопируйте и вставьте URL-адрес в адресную строку браузера), чтобы продолжить:</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#login/admin/#{token.name}">#{config.http_type}://#{config.fqdn}/#login/admin/#{token.name}</a></div>
<br>
<div>Эта ссылка ведет на страницу, где вы можете войти в систему.</div>
<br>
<div>Если вы не хотите входить в систему, вы можете проигнорировать это сообщение.</div>
<br>
<div>Ваша команда #{config.product_name}</div>
