#{config.product_name} için yönetici girişi

<div>Merhaba #{user.firstname},</div>
<br>
<div>#{config.product_name} hesabınız için bir yönetici girişi talebi aldık <b>#{user.login}</b>.</div>
<br>
<div>Devam etmek için lütfen aşağıdaki bağlantıya tıklayın (veya URL'yi kopyalayıp tarayıcınıza yapıştırın):</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Bu bağlantı sizi giriş yapabileceğiniz bir sayfaya yönlendirir.</div>
<br>
<div>Giriş yapmak istemiyorsanız, lütfen bu mesajı dikkate almayın ve tamamen sildiğinizden emin olun.</div>
<br>
<div>#{config.product_name} Ekibiniz</div>
