管理登录#{config.product_name}

<div>你好#{user.firstname}，</div>
<br>
<div>我们收到了您的 #{config.product_name} 帐户 <b>#{user.login}</b> 的管理登录请求。</div>
<br>
<div>请点击下面的链接（或将 URL 复制并粘贴到您的浏览器中）继续：</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>此链接会将您带到可以登录的页面。</div>
<br>
<div>如果您不想登录，请忽略此消息。</div>
<br>
<div>您的#{config.product_name}团队</div>
