
<link rel="stylesheet" href="/assets/tests/qunit-1.21.0.css">
<%= javascript_include_tag "/assets/tests/qunit-1.21.0.js", "/assets/tests/image_service.js", nonce: true %>

<style type="text/css">
body {
  padding-top: 0px;
}
</style>

<script type="text/javascript">
</script>

<div id="qunit" class="u-dontfold"></div>

