Dostignuto vrijeme čekanja ticketa (#{ticket.title})

<div>Bok #{recipient.firstname},</div>
<br>
<div>potrebno je obratiti pažnju na jedan ticket: dostignuto vrijeme čekanja ticketa za (#{ticket.title}) sa klijentom „<b>#{ticket.customer.longname}</b>”.</div>
<br>
<% if @objects[:article] %>
  <div>
  Informacije:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Pogledaj u #{config.product_name}</a>
</div>
