Promemoria raggiunto (#{ticket.title})

<div>Buongiorno #{recipient.firstname},</div>
<br>
<div>Un ticket ha bisogno di attenzione: promemoria raggiunto per (#{ticket.title}) del cliente "<b>#{ticket.customer.longname}</b>".</div>
<br>
<% if @objects[:article] %>
  <div>
Informazioni:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Visualizza su #{config.product_name}</a>
</div>
