Promemoria attivato (#{ticket.title})

<div>Buongiorno #{recipient.firstname},</div>
<br>
<div>Un ticket ha bisogno di attenzione, promemoria attivato per (#{ticket.title}) con il cliente "<b>#{ticket.customer.longname}</b>".</div>
<br>
<% if @objects[:article] %>
  <div>
  #{t('Information')}:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">#{t('View this in Zammad')}</a>
</div>
