Lembrete de Ticket (#{ticket.title})

<div>Olá, #{recipient.firstname},</div>
<br>
<div>Um ticket precisa de atenção: lembrete para (#{ticket.title}) com o cliente "<b>#{ticket.customer.longname}</b>".</div>
<br>
<% if @objects[:artigo] %>
  <div>
  Detalhes:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Veja isso em #{config.product_name}</ a>
</div>
