Timpul de amânare al tichetului (#{ticket.title}) a fost atins

<div>Bună #{recipient.firstname},</div>
<br>
<div>Un tichet necesită atenția ta: timp de amânare atins pentru (#{ticket.title}) cu clientul "<b>#{ticket.customer.longname}</b>".</div>
<br>
<% if @objects[:article] %>
  <div>
  Informații:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Vezi asta în #{config.product_name}</a>
</div>
