Наступило напоминание о заявке (#{ticket.title})

<div>Здравствуйте, #{recipient.firstname},</div>
<br>
<div>Заявка требует внимания: наступило напоминание о заявке (#{ticket.title}) с клиентом "<b>#{ticket.customer.longname}</b>".</div>
<br>
<% if @objects[:article] %>
  <div>
  Информация:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Посмотреть заявку в #{config.product_name}</a>
</div>
