Ärende påminnelse uppnådd (#{ticket.title})

<div>Hej #{recipient.firstname},</div>
<br>
<div>Ett ärende behöver uppmärksammas: påminnelse uppnådd för (#{ticket.title}) med kund "<b>#{ticket.customer.longname}</b>".</div>
<br>
<% if @objects[:article] %>
  <div>
  Information:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Visa i #{config.product_name}</a>
</div>
