---
http_interactions:
- request:
    method: post
    uri: https://ai.zammad.com/api/v1/features/embed
    body:
      encoding: UTF-8
      string: '{"input":["this is sample input","this is another sample input","3rd
        option"],"llm":"nomic-embed-text"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <ZAMMAD_AI_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8e44026f336d68d18c2293d524c482db"
    body:
      encoding: ASCII-8BIT
      string: '[{"model":"nomic-embed-text","created_at":"2026-07-02 12:14:59 UTC","embeddings":[[0.013460654,0.0026691256,-0.111170486,-0.070302166,0.018508576,-0.03246272,0.05076976,0.0101690395,-0.018024173,-0.0021174015,-0.014691363,0.057886716,0.02695762,0.0033599164,-0.026437858,-0.028411202,0.034612466,-0.08701116,0.051124223,0.024100885,0.013579259,-0.029871698,-0.056596477,-0.013837203,0.09533162,-0.009525447,0.006188366,0.039993715,-0.04862849,0.023092732,-0.007755433,0.0009445692,0.024427546,0.006569924,-0.100628674,-0.030500963,0.03915494,-0.019431027,0.0050748717,-0.006439773,[...]
