---
http_interactions:
- request:
    method: post
    uri: https://ai.zammad.com/api/v1/features/embed
    body:
      encoding: UTF-8
      string: '{"input":"this is sample input","llm":"bge-m3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <ZAMMAD_AI_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c870cedac976147b9b276971772e5ac4"
    body:
      encoding: ASCII-8BIT
      string: '[{"model":"bge-m3","created_at":"2026-07-14 14:27:08 UTC","embeddings":[[-0.04527921,0.009208187,-0.041212745,-0.009293306,-0.0069641825,-0.023140894,0.04861476,0.043015722,-0.0021052703,0.006336233,0.009884771,0.0166843,0.010880078,-0.021700818,0.015894921,-0.019154087,0.0055794446,-0.013314759,-0.0035805723,-0.021813665,-0.018524801,0.025904898,0.020355081,-0.011087791,-0.00992819,0.030212618,0.0012304538,-0.01640327,-0.01193713,0.020243982,0.035498325,0.00037010654,0.000931588,-0.069429524,-0.03643045,-0.016720254,-0.020417053,-0.022619227,-0.03818737,0.00796002[...]
