---
http_interactions:
- request:
    method: post
    uri: https://ai.zammad.com/api/v1/features/embed
    body:
      encoding: UTF-8
      string: '{"input":"this is sample input","llm":"mxbai-embed-large"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <ZAMMAD_AI_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"58e79d056903843f24ca2dd6612e0f25"
    body:
      encoding: ASCII-8BIT
      string: '[{"model":"mxbai-embed-large","created_at":"2026-06-09 14:38:43 UTC","embeddings":[[0.0017917891,0.032000706,0.03307628,-0.011000079,-0.047418464,-0.0353702,0.004810865,0.019174961,0.018319624,0.053881936,0.010274668,0.012969029,0.008416164,-0.043243095,-0.041496906,-0.0034183408,-0.009318662,-0.04740551,-0.039478365,-0.02308179,-0.016819049,-0.002456057,-0.06909655,-0.033984434,-0.019198902,0.030188307,0.0016060066,-0.010301796,0.03482068,0.02022868,-0.020315092,0.008804937,0.012677195,-0.04748121,-0.012177338,-0.033438325,0.069643036,-0.016460713,-0.03929847,-0.0165145,-0.0[...]
