---
http_interactions:
- request:
    method: post
    uri: https://prod-10.germanywestcentral.logic.azure.com/workflows/acd7d08449cc40caa1c9e98af391d62c/triggers/manual/paths/invoke?api-version=2016-06-01&sig=96hHg66hPXGj6Ya8NwmF3nk2YSyX01-GmglaAgvran4&sp=/triggers/manual/run&sv=1.0
    body:
      encoding: UTF-8
      string: '{"type":"message","attachments":[{"contentType":"application/vnd.microsoft.card.adaptive","contentUrl":null,"content":{"$schema":"http://adaptivecards.io/schemas/adaptive-card.json","type":"AdaptiveCard","version":"1.0","body":[{"type":"TextBlock","text":"MS
        Teams Webhook Test","color":"warning","weight":"bolder","size":"large","wrap":true},{"type":"TextBlock","text":"*
        Group: Users\n* Owner: -\n* State: new","wrap":true},{"type":"TextBlock","text":"","wrap":true},{"type":"ActionSet","actions":[{"type":"Action.OpenUrl","title":"Ticket#38002","url":"http://zammad.example.com/#ticket/zoom/8"}]}]}}]}'
    headers:
      X-Zammad-Trigger:
      - Test trigger 1
      X-Zammad-Delivery:
      - 6402e2ea-4635-42af-8d0a-cbb546d6abf1
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 202
      message: Accepted
    headers:
      X-Ms-Workflow-Run-Id:
      - '08584591510880461205406495088CU17'
      X-Ms-Client-Tracking-Id:
      - '08584591510880461205406495088CU17'
      X-Ms-Trigger-History-Name:
      - '08584591510880461205406495088CU17'
      X-Ms-Execution-Location:
      - germanywestcentral
      X-Ms-Workflow-System-Id:
      - "/locations/germanywestcentral/scaleunits/prod-10/workflows/acd7d08449cc40caa1c9e98af391d62c"
      X-Ms-Workflow-Id:
      - acd7d08449cc40caa1c9e98af391d62c
      X-Ms-Workflow-Version:
      - '08584591513669743342'
      X-Ms-Workflow-Name:
      - 65bea2ed-81fc-48f5-a858-29c0036bfbee
      X-Ms-Tracking-Id:
      - be51835e-706e-491e-88e4-de8db5e0c6ab
      X-Ms-Ratelimit-Burst-Remaining-Workflow-Writes:
      - '448'
      X-Ms-Ratelimit-Remaining-Workflow-Download-Contentsize:
      - '322121728'
      X-Ms-Ratelimit-Remaining-Workflow-Upload-Contentsize:
      - '322120520'
      X-Ms-Ratelimit-Time-Remaining-Directapirequests:
      - '29999781'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 20 Mar 2025 07:29:57 GMT
recorded_with: VCR 6.3.1
