---
http_interactions:
- request:
    method: post
    uri: https://ai.zammad.com/api/v1/features/generic
    body:
      encoding: UTF-8
      string: '{"system_prompt":"","prompt":"This is a connection test. Return in
        unprettified JSON ''{ \"connected\": \"true\" }'' if you got the message.
        Respond in plain JSON format only and do not wrap it in code block markers."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <ZAMMAD_AI_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9a2832c56125c1b3ee593434b8e11a71"
    body:
      encoding: ASCII-8BIT
      string: '[{"model":"gemma4:26b","created_at":"2026-08-12 11:27:13 UTC","response":"{
        \"connected\": \"true\" }","done":true,"uuid":"03dd4ba8-bac3-4634-8ea4-9506f1e23baa"}]'
  recorded_at: Wed, 12 Aug 2026 11:27:13 GMT
recorded_with: VCR 6.4.0
