---
http_interactions:
- request:
    method: post
    uri: https://ai.zammad.com/api/v1/features/generic
    body:
      encoding: UTF-8
      string: '{"system_prompt":"","prompt":"This is a connection test. Return in
        unprettified JSON ''{ \"connected\": \"true\" }'' if you got the message.
        Respond in plain JSON format only and do not wrap it in code block markers."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <ZAMMAD_AI_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"396a82ff5e5ab1d953eb7197750e5907"
    body:
      encoding: ASCII-8BIT
      string: '[{"model":"gemma3:27b","created_at":"2025-10-27T10:06:41.994402776Z","response":"{\"connected\":
        \"true\"}","done":true,"done_reason":"stop","total_duration":498831586,"load_duration":207259991,"prompt_eval_count":52,"prompt_eval_duration":17619163,"eval_count":7,"eval_duration":170027093,"uuid":"faa43d6a-4d44-4c4e-8b2c-cb20971101c7"}]'
  recorded_at: Mon, 27 Oct 2025 10:06:42 GMT
recorded_with: VCR 6.3.1
