---
http_interactions:
- request:
    method: post
    uri: https://ai.zammad.com/api/v1/features/generic
    body:
      encoding: UTF-8
      string: '{"system_prompt":"","prompt":"This is a connection test. Return in
        unprettified JSON ''{ \"connected\": \"true\" }'' if you got the message.
        Respond in plain JSON format only and do not wrap it in code block markers."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <ZAMMAD_AI_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"97da419c1c7466f6a1236588366b1539"
    body:
      encoding: ASCII-8BIT
      string: '[{"model":"mistral-small3.2:24b","created_at":"2026-06-09 14:38:46
        UTC","response":"{ \"connected\": \"true\" }","done":true,"uuid":"d8442055-2616-471d-8541-c6cf681d19ff"}]'
  recorded_at: Tue, 09 Jun 2026 14:38:46 GMT
recorded_with: VCR 6.4.0
