---
http_interactions:
- request:
    method: post
    uri: https://ai.zammad.com/api/v1/features/generic
    body:
      encoding: UTF-8
      string: '{"system_prompt":"","prompt":"This is a connection test. Return in
        unprettified JSON ''{ \"connected\": \"true\" }'' if you got the message.
        Respond in plain JSON format only and do not wrap it in code block markers."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <ZAMMAD_AI_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aacf8c267979e5bab523ffd6a686b4d2"
    body:
      encoding: ASCII-8BIT
      string: '[{"model":"gemma3:27b","created_at":"2025-10-27T10:06:40.874823126Z","response":"{\"connected\":
        \"true\"}","done":true,"done_reason":"stop","total_duration":4021782850,"load_duration":3605894117,"prompt_eval_count":52,"prompt_eval_duration":56667049,"eval_count":7,"eval_duration":139583709,"uuid":"4834c40a-bd15-46d1-8500-bf1b1eaa2679"}]'
  recorded_at: Mon, 27 Oct 2025 10:06:40 GMT
recorded_with: VCR 6.3.1
