---
http_interactions:
- request:
    method: post
    uri: https://ai.zammad.com/api/v1/features/generic
    body:
      encoding: UTF-8
      string: '{"system_prompt":"","prompt":"This is a connection test. Return in
        unprettified JSON ''{ \"connected\": \"true\" }'' if you got the message.
        Respond in plain JSON format only and do not wrap it in code block markers."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <ZAMMAD_AI_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"32477d2591047e1fc2add40b439469b1"
    body:
      encoding: ASCII-8BIT
      string: '[{"model":"gemma4:26b","created_at":"2026-08-12 11:27:12 UTC","response":"{
        \"connected\": \"true\" }","done":true,"uuid":"9b8f0a0a-f326-4f4c-9ebd-b582d8887f89"}]'
  recorded_at: Wed, 12 Aug 2026 11:27:12 GMT
recorded_with: VCR 6.4.0
