---
http_interactions:
- request:
    method: post
    uri: https://ai.zammad.com/api/v1/features/generic
    body:
      encoding: UTF-8
      string: '{"system_prompt":"","prompt":"This is a connection test. Return in
        unprettified JSON ''{ \"connected\": \"true\" }'' if you got the message.
        Respond in plain JSON format only and do not wrap it in code block markers."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <ZAMMAD_AI_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e544834cd4ddb660ba2168c7a793cbaa"
    body:
      encoding: ASCII-8BIT
      string: '[{"model":"mistral-small3.2:24b","created_at":"2026-06-09 14:38:45
        UTC","response":"{\"connected\": \"true\"}","done":true,"uuid":"3eb89098-703c-49d7-9fc7-b1fdea18d9c6"}]'
  recorded_at: Tue, 09 Jun 2026 14:38:45 GMT
recorded_with: VCR 6.4.0
